"""verizon.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from verizon.api_helper import APIHelper
from verizon.configuration import Server
from verizon.controllers.base_controller import (
    BaseController,
)
from verizon.exceptions.fota_v2_result_exception import (
    FotaV2ResultException,
)
from verizon.http.http_method_enum import HttpMethodEnum
from verizon.models.fota_v2_subscription import (
    FotaV2Subscription,
)


class SoftwareManagementSubscriptionsV2Controller(BaseController):
    """A Controller to access Endpoints in the verizon API."""

    def __init__(self, config):
        """Initialize SoftwareManagementSubscriptionsV2Controller object."""
        super(SoftwareManagementSubscriptionsV2Controller, self).__init__(config)

    def get_account_subscription_status(self,
                                        account):
        """Perform a GET request to /subscriptions/{account}.

        This endpoint retrieves a FOTA subscription by account.

        Args:
            account (str): Account identifier.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. FOTA
                Subscription.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SOFTWARE_MANAGEMENT_V2)
            .path("/subscriptions/{account}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key("account")
                            .value(account)
                            .should_encode(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(And(Single("thingspace_oauth"), Single("VZ-M2M-Token"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(FotaV2Subscription.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Unexpected error.", FotaV2ResultException),
        ).execute()
