"""multiplesimilarauthtypes.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler

from multiplesimilarauthtypes.api_helper import (
    APIHelper,
)
from multiplesimilarauthtypes.configuration import (
    Server,
)
from multiplesimilarauthtypes.controllers.base_controller import (
    BaseController,
)
from multiplesimilarauthtypes.http.http_method_enum import (
    HttpMethodEnum,
)


class CustomHeaderAuthenticationController(BaseController):
    """A Controller to access Endpoints in the multiplesimilarauthtypes API."""

    def __init__(self, config):
        """Initialize CustomHeaderAuthenticationController object."""
        super(CustomHeaderAuthenticationController, self).__init__(config)

    def get_test_custom_authentication(self):
        """Perform a GET request to /auth/customHeaderSignature.

        Returns:
            str: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/auth/customHeaderSignature")
            .http_method(HttpMethodEnum.GET)
            .auth(And(Single("breezeHeader"), Single("customHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize),
        ).execute()
