"""multiplesimilarauthtypes.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler

from multiplesimilarauthtypes.api_helper import (
    APIHelper,
)
from multiplesimilarauthtypes.configuration import (
    Server,
)
from multiplesimilarauthtypes.controllers.base_controller import (
    BaseController,
)
from multiplesimilarauthtypes.http.http_method_enum import (
    HttpMethodEnum,
)


class CustomQueryAndHeaderAuthenticationController(BaseController):
    """A Controller to access Endpoints in the multiplesimilarauthtypes API."""

    def __init__(self, config):
        """Initialize CustomQueryAndHeaderAuthenticationController object."""
        super(CustomQueryAndHeaderAuthenticationController, self).__init__(config)

    def get_test_custom_authentication(self):
        """Perform a GET request to /auth/customQueryOrHeaderParam.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/auth/customQueryOrHeaderParam")
            .http_method(HttpMethodEnum.GET)
            .auth(Or(Single("httpQuery"), Single("breezeHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()
