# -*- coding: utf-8 -*-

"""
payfacsubmerchantprovisioningapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from payfacsubmerchantprovisioningapi.api_helper import APIHelper
from payfacsubmerchantprovisioningapi.configuration import Server
from payfacsubmerchantprovisioningapi.http.api_response import ApiResponse
from payfacsubmerchantprovisioningapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from payfacsubmerchantprovisioningapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from payfacsubmerchantprovisioningapi.models.accepted_cards_get_response import AcceptedCardsGetResponse
from payfacsubmerchantprovisioningapi.models.accepted_cards_type_get_response import AcceptedCardsTypeGetResponse
from payfacsubmerchantprovisioningapi.models.default_success_response import DefaultSuccessResponse
from payfacsubmerchantprovisioningapi.exceptions.m_400_error_response_exception import M400ErrorResponseException
from payfacsubmerchantprovisioningapi.exceptions.m_401_error_response_exception import M401ErrorResponseException
from payfacsubmerchantprovisioningapi.exceptions.m_403_error_response_exception import M403ErrorResponseException
from payfacsubmerchantprovisioningapi.exceptions.m_404_error_response_exception import M404ErrorResponseException
from payfacsubmerchantprovisioningapi.exceptions.m_500_error_response_exception import M500ErrorResponseException


class AcceptedCardsController(BaseController):

    """A Controller to access Endpoints in the payfacsubmerchantprovisioningapi API."""
    def __init__(self, config):
        super(AcceptedCardsController, self).__init__(config)

    def get_accepted_cards(self,
                           v_correlation_id,
                           id,
                           content_type='application/json'):
        """Does a GET request to /submerchants/{id}/acceptedcards.

        URI to get all acceptedcards of a PayFac submerchant. <br/> <br/>
        ***For AmericanExpress OptBlue and Discover, OptBlue SE AccountNumber
        or Discover AccountNumber will be returned in the attributes
        respectively. Amex OptBlue is available for submerchants in both USA
        and Canada.***


        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            content_type (str, optional): The original media type of the
                resource

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/submerchants/{id}/acceptedcards')
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value(content_type))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AcceptedCardsGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Bad Request', M400ErrorResponseException)
            .local_error('401', 'Unauthorized', M401ErrorResponseException)
            .local_error('403', 'Forbidden', M403ErrorResponseException)
            .local_error('404', 'Not Found', M404ErrorResponseException)
            .local_error('500', 'Server Error', M500ErrorResponseException)
        ).execute()

    def add_accepted_card(self,
                          v_correlation_id,
                          id,
                          body):
        """Does a POST request to /submerchants/{id}/acceptedcards.

        URI to add a new acceptedcard resource to the PayFac submerchant
        acceptedcards collection. <br/> ***Amex OptBlue is available for
        submerchants in both USA and Canada.***

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            body (AcceptedCard): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Created

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/submerchants/{id}/acceptedcards')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AcceptedCardsTypeGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Bad Request', M400ErrorResponseException)
            .local_error('401', 'Unauthorized', M401ErrorResponseException)
            .local_error('403', 'Forbidden', M403ErrorResponseException)
            .local_error('404', 'Not Found', M404ErrorResponseException)
            .local_error('500', 'Server Error', M500ErrorResponseException)
        ).execute()

    def get_accepted_card(self,
                          v_correlation_id,
                          id,
                          mtype,
                          content_type='application/json'):
        """Does a GET request to /submerchants/{id}/acceptedcards/{type}.

        URI to get an acceptedcard resource of a PayFac submerchant. <br/>
        <br/> ***For AmericanExpress OptBlue and Discover, OptBlue SE
        AccountNumber or Discover AccountNumber will be returned in the
        attributes respectively.
          Amex OptBlue is available for submerchants in both USA and Canada.***

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            mtype (Type16Enum): Card Type
            content_type (str, optional): The original media type of the
                resource

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/submerchants/{id}/acceptedcards/{type}')
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .template_param(Parameter()
                            .key('type')
                            .value(mtype)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value(content_type))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AcceptedCardsTypeGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Bad Request', M400ErrorResponseException)
            .local_error('401', 'Unauthorized', M401ErrorResponseException)
            .local_error('403', 'Forbidden', M403ErrorResponseException)
            .local_error('404', 'Not Found', M404ErrorResponseException)
            .local_error('500', 'Server Error', M500ErrorResponseException)
        ).execute()

    def update_accepted_card(self,
                             v_correlation_id,
                             id,
                             mtype,
                             body):
        """Does a PUT request to /submerchants/{id}/acceptedcards/{type}.

        URI to update an accepted card resource of a PayFac submerchant.Please
        note that all PUT requests are replace requests, and any optional
        attribute that was provided in the POST(Create) request but missed in
        the PUT(replace) request will be replaced with a NULL value. <br/>
        ***Amex OptBlue is available for submerchants in both USA and
        Canada.***

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            mtype (Type16Enum): Card Type
            body (AcceptedCardForUpdate): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/submerchants/{id}/acceptedcards/{type}')
            .http_method(HttpMethodEnum.PUT)
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .template_param(Parameter()
                            .key('type')
                            .value(mtype)
                            .should_encode(True))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AcceptedCardsTypeGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Bad Request', M400ErrorResponseException)
            .local_error('401', 'Unauthorized', M401ErrorResponseException)
            .local_error('403', 'Forbidden', M404ErrorResponseException)
            .local_error('404', 'Not Found', M404ErrorResponseException)
            .local_error('500', 'Server Error', M500ErrorResponseException)
        ).execute()

    def delete_accepted_card(self,
                             v_correlation_id,
                             id,
                             mtype,
                             content_type='application/json'):
        """Does a DELETE request to /submerchants/{id}/acceptedcards/{type}.

        URI to remove an accepted card resource of a PayFac submerchant. <br/>
        ***Amex OptBlue is available for submerchants in both USA and
        Canada.***

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            mtype (Type18Enum): Card Type
            content_type (str, optional): The original media type of the
                resource

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/submerchants/{id}/acceptedcards/{type}')
            .http_method(HttpMethodEnum.DELETE)
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .template_param(Parameter()
                            .key('type')
                            .value(mtype)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value(content_type))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DefaultSuccessResponse.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', M401ErrorResponseException)
            .local_error('403', 'Forbidden', M403ErrorResponseException)
            .local_error('404', 'Not Found', M404ErrorResponseException)
            .local_error('500', 'Server Error', M500ErrorResponseException)
        ).execute()
