# -*- coding: utf-8 -*-

"""
payfacsubmerchantprovisioningapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from payfacsubmerchantprovisioningapi.api_helper import APIHelper
from payfacsubmerchantprovisioningapi.configuration import Server
from payfacsubmerchantprovisioningapi.http.api_response import ApiResponse
from payfacsubmerchantprovisioningapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from payfacsubmerchantprovisioningapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from payfacsubmerchantprovisioningapi.models.chains_get_response import ChainsGetResponse
from payfacsubmerchantprovisioningapi.models.chain_config import ChainConfig
from payfacsubmerchantprovisioningapi.exceptions.m_400_error_response_exception import M400ErrorResponseException
from payfacsubmerchantprovisioningapi.exceptions.m_401_error_response_exception import M401ErrorResponseException
from payfacsubmerchantprovisioningapi.exceptions.m_403_error_response_exception import M403ErrorResponseException
from payfacsubmerchantprovisioningapi.exceptions.m_500_error_response_exception import M500ErrorResponseException


class ChainsController(BaseController):

    """A Controller to access Endpoints in the payfacsubmerchantprovisioningapi API."""
    def __init__(self, config):
        super(ChainsController, self).__init__(config)

    def get_chains(self,
                   v_correlation_id,
                   content_type='application/json'):
        """Does a GET request to /chainCodes.

        URI to get the all the chain codes for a PayFac.

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            content_type (str, optional): The original media type of the
                resource

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/chainCodes')
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value(content_type))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ChainsGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Bad Request', M400ErrorResponseException)
            .local_error('401', 'Unauthorized', M401ErrorResponseException)
            .local_error('403', 'Forbidden', M403ErrorResponseException)
            .local_error('500', 'Server Error', M500ErrorResponseException)
        ).execute()

    def get_chain_config(self,
                         v_correlation_id,
                         chain_code,
                         content_type='application/json'):
        """Does a GET request to /chainCodes/config/{chainCode}.

        URI to get the configuration for a specific chain code

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            chain_code (str): The chain code
            content_type (str, optional): The original media type of the
                resource

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/chainCodes/config/{chainCode}')
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key('chainCode')
                            .value(chain_code)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value(content_type))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ChainConfig.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Bad Request', M400ErrorResponseException)
            .local_error('401', 'Unauthorized', M401ErrorResponseException)
            .local_error('403', 'Forbidden', M403ErrorResponseException)
            .local_error('500', 'Server Error', M500ErrorResponseException)
        ).execute()
