"""payfacsubmerchantprovisioningapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from payfacsubmerchantprovisioningapi.api_helper import (
    APIHelper,
)
from payfacsubmerchantprovisioningapi.configuration import (
    Server,
)
from payfacsubmerchantprovisioningapi.controllers.base_controller import (
    BaseController,
)
from payfacsubmerchantprovisioningapi.exceptions.m_400_error_response_exception import (
    M400ErrorResponseException,
)
from payfacsubmerchantprovisioningapi.exceptions.m_401_error_response_exception import (
    M401ErrorResponseException,
)
from payfacsubmerchantprovisioningapi.exceptions.m_403_error_response_exception import (
    M403ErrorResponseException,
)
from payfacsubmerchantprovisioningapi.exceptions.m_404_error_response_exception import (
    M404ErrorResponseException,
)
from payfacsubmerchantprovisioningapi.exceptions.m_500_error_response_exception import (
    M500ErrorResponseException,
)
from payfacsubmerchantprovisioningapi.http.http_method_enum import (
    HttpMethodEnum,
)
from payfacsubmerchantprovisioningapi.models.issued_ids_get_response import (
    IssuedIdsGetResponse,
)
from payfacsubmerchantprovisioningapi.models.issued_ids_post_response import (
    IssuedIdsPostResponse,
)
from payfacsubmerchantprovisioningapi.models.issued_ids_type_get_response import (
    IssuedIdsTypeGetResponse,
)


class IssuedIDsController(BaseController):
    """A Controller to access Endpoints in the payfacsubmerchantprovisioningapi API."""

    def __init__(self, config):
        """Initialize IssuedIDsController object."""
        super(IssuedIDsController, self).__init__(config)

    def get_issued_ids(self,
                       v_correlation_id,
                       id,
                       mtype,
                       content_type="application/json"):
        """Perform a GET request to /submerchants/{id}/owners/{type}/issuedids.

        URI to get all IssuedIds for an owner(existing) of a PayFac
        submerchant.

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            mtype (Type5Enum): Ownership Type
            content_type (str, optional): The original media type of the
                resource

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/submerchants/{id}/owners/{type}/issuedids")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key("id")
                            .value(id)
                            .should_encode(True))
            .template_param(Parameter()
                            .key("type")
                            .value(mtype)
                            .should_encode(True))
            .header_param(Parameter()
                          .key("Content-Type")
                          .value(content_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IssuedIdsGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", M400ErrorResponseException)
            .local_error("401", "Unauthorized", M401ErrorResponseException)
            .local_error("403", "Forbidden", M403ErrorResponseException)
            .local_error("404", "Not Found", M404ErrorResponseException)
            .local_error("500", "Server Error", M500ErrorResponseException),
        ).execute()

    def add_issued_id(self,
                      v_correlation_id,
                      id,
                      mtype,
                      body):
        """Perform a POST request to /submerchants/{id}/owners/{type}/issuedids.

        URI to add a new IssuedId for an owner(existing) of a PayFac
        submerchant.

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            mtype (Type5Enum): Ownership Type
            body (IssuedId): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Created

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/submerchants/{id}/owners/{type}/issuedids")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .template_param(Parameter()
                            .key("id")
                            .value(id)
                            .should_encode(True))
            .template_param(Parameter()
                            .key("type")
                            .value(mtype)
                            .should_encode(True))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IssuedIdsPostResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", M400ErrorResponseException)
            .local_error("401", "Unauthorized", M401ErrorResponseException)
            .local_error("403", "Forbidden", M403ErrorResponseException)
            .local_error("404", "Not Found", M404ErrorResponseException)
            .local_error("500", "Server Error", M500ErrorResponseException),
        ).execute()

    def get_issued_id(self,
                      v_correlation_id,
                      id,
                      mtype,
                      idtype,
                      content_type="application/json"):
        """Perform a GET request to
        /submerchants/{id}/owners/{type}/issuedids/{idtype}.

        URI to get an IssuedId for an owner(existing) of a PayFac submerchant.

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            mtype (Type5Enum): Ownership Type
            idtype (Idtype1Enum): ID Type
            content_type (str, optional): The original media type of the
                resource

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/submerchants/{id}/owners/{type}/issuedids/{idtype}")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key("id")
                            .value(id)
                            .should_encode(True))
            .template_param(Parameter()
                            .key("type")
                            .value(mtype)
                            .should_encode(True))
            .template_param(Parameter()
                            .key("idtype")
                            .value(idtype)
                            .should_encode(True))
            .header_param(Parameter()
                          .key("Content-Type")
                          .value(content_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IssuedIdsTypeGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", M400ErrorResponseException)
            .local_error("401", "Unauthorized", M401ErrorResponseException)
            .local_error("403", "Forbidden", M403ErrorResponseException)
            .local_error("404", "Not Found", M404ErrorResponseException)
            .local_error("500", "Server Error", M500ErrorResponseException),
        ).execute()

    def update_issued_id(self,
                         v_correlation_id,
                         id,
                         mtype,
                         idtype,
                         body):
        """Perform a PUT request to
        /submerchants/{id}/owners/{type}/issuedids/{idtype}.

        URI to update an IssuedId for an owner(existing) of a PayFac
        submerchant.Please note that all PUT requests are replace requests,
        and any optional attribute that was provided in the POST(Create)
        request but missed in the PUT(replace) request will be replaced with a
        NULL value.

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            mtype (Type5Enum): Ownership Type
            idtype (Idtype1Enum): ID Type
            body (IssuedIdForUpdate): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/submerchants/{id}/owners/{type}/issuedids/{idtype}")
            .http_method(HttpMethodEnum.PUT)
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .template_param(Parameter()
                            .key("id")
                            .value(id)
                            .should_encode(True))
            .template_param(Parameter()
                            .key("type")
                            .value(mtype)
                            .should_encode(True))
            .template_param(Parameter()
                            .key("idtype")
                            .value(idtype)
                            .should_encode(True))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(IssuedIdsPostResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", M400ErrorResponseException)
            .local_error("401", "Unauthorized", M401ErrorResponseException)
            .local_error("403", "Forbidden", M403ErrorResponseException)
            .local_error("404", "Not Found", M404ErrorResponseException)
            .local_error("500", "Server Error", M500ErrorResponseException),
        ).execute()
