"""payfacsubmerchantprovisioningapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from payfacsubmerchantprovisioningapi.api_helper import (
    APIHelper,
)
from payfacsubmerchantprovisioningapi.configuration import (
    Server,
)
from payfacsubmerchantprovisioningapi.controllers.base_controller import (
    BaseController,
)
from payfacsubmerchantprovisioningapi.exceptions.m_400_error_response_exception import (
    M400ErrorResponseException,
)
from payfacsubmerchantprovisioningapi.exceptions.m_401_error_response_exception import (
    M401ErrorResponseException,
)
from payfacsubmerchantprovisioningapi.exceptions.m_403_error_response_exception import (
    M403ErrorResponseException,
)
from payfacsubmerchantprovisioningapi.exceptions.m_404_error_response_exception import (
    M404ErrorResponseException,
)
from payfacsubmerchantprovisioningapi.exceptions.m_500_error_response_exception import (
    M500ErrorResponseException,
)
from payfacsubmerchantprovisioningapi.http.http_method_enum import (
    HttpMethodEnum,
)
from payfacsubmerchantprovisioningapi.models.default_success_response import (
    DefaultSuccessResponse,
)
from payfacsubmerchantprovisioningapi.models.sub_merchants_find_get_response import (
    SubMerchantsFindGetResponse,
)
from payfacsubmerchantprovisioningapi.models.sub_merchants_find_vas_get_response import (  # noqa: E501
    SubMerchantsFindVasGetResponse,
)
from payfacsubmerchantprovisioningapi.models.sub_merchants_get_response import (
    SubMerchantsGetResponse,
)
from payfacsubmerchantprovisioningapi.models.sub_merchants_post_response import (
    SubMerchantsPostResponse,
)


class SubMerchantController(BaseController):
    """A Controller to access Endpoints in the payfacsubmerchantprovisioningapi API."""

    def __init__(self, config):
        """Initialize SubMerchantController object."""
        super(SubMerchantController, self).__init__(config)

    def create_submerchant(self,
                           v_correlation_id,
                           body):
        """Perform a POST request to /submerchants.

        URI to add a new PayFac submerchant resource to submerchants
        collection. <br/> When you create a sub-merchant the Boarding
        Interface will auto-enable the following VAS if they are enabled at
        the Chain Code level:
        * PIN Debit
        * PINless Debit
         PIN - Personal Identification Number

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            body (SubMerchant): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Created

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/submerchants")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SubMerchantsPostResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", M400ErrorResponseException)
            .local_error("401", "Unauthorized", M401ErrorResponseException)
            .local_error("403", "Forbidden", M403ErrorResponseException)
            .local_error("500", "Server Error", M500ErrorResponseException),
        ).execute()

    def find_submerchants(self,
                          v_correlation_id,
                          chain_code,
                          from_created_date,
                          to_created_date,
                          content_type="application/json",
                          sort_by=None,
                          sort_order=None,
                          limit=None,
                          offset=None,
                          underwriting_status=None,
                          division_code=None):
        """Perform a GET request to /submerchants/chaincode/{chainCode}.

        Find sub-merchants boarded.Date range cannot exceed 90 days between
        fromCreatedDate and toCreatedDate.

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            chain_code (str): The Chain Code a list of submerchants will be
                returned for
            from_created_date (date): Filter by when the sub-merchant was
                created
            to_created_date (date): Filter by when the sub-merchant was created
            content_type (str, optional): The original media type of the
                resource
            sort_by (SortByEnum, optional): Sort by certain value
            sort_order (SortOrderEnum, optional): Sort in ascending or
                descending order
            limit (int, optional): Limit of Sub-Merchants to respond. Maximum
                limit is 10.
            offset (int, optional): Row number by which to begin the list
                (e.g. 10 would start with 10th submerchant)
            underwriting_status (UnderwritingStatus1Enum, optional): Look up
                submerchnats by underwriting status
            division_code (str, optional): Division Code. Only applicable for
                PayFacs that are using Divisions.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Success

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/submerchants/chaincode/{chainCode}")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key("chainCode")
                            .value(chain_code)
                            .should_encode(True))
            .query_param(Parameter()
                         .key("fromCreatedDate")
                         .value(from_created_date))
            .query_param(Parameter()
                         .key("toCreatedDate")
                         .value(to_created_date))
            .header_param(Parameter()
                          .key("Content-Type")
                          .value(content_type))
            .query_param(Parameter()
                         .key("sortBy")
                         .value(sort_by))
            .query_param(Parameter()
                         .key("sortOrder")
                         .value(sort_order))
            .query_param(Parameter()
                         .key("limit")
                         .value(limit))
            .query_param(Parameter()
                         .key("offset")
                         .value(offset))
            .query_param(Parameter()
                         .key("underwritingStatus")
                         .value(underwriting_status))
            .query_param(Parameter()
                         .key("divisionCode")
                         .value(division_code))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SubMerchantsFindGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", M400ErrorResponseException)
            .local_error("401", "Unauthorized", M401ErrorResponseException)
            .local_error("403", "Forbidden", M403ErrorResponseException)
            .local_error("500", "Server Error", M500ErrorResponseException),
        ).execute()

    def find_submerchants_vas(self,
                              v_correlation_id,
                              chain_code,
                              vas,
                              from_created_date,
                              to_created_date,
                              content_type="application/json",
                              sort_by=None,
                              sort_order=None,
                              limit=None,
                              offset=None,
                              underwriting_status=None,
                              division_code=None):
        """Perform a GET request to /submerchants/chaincode/{chainCode}/vas/{vas}.

        Find submerchants with the Value Added Services they are enrolled for.
        Date range cannot exceed 90 days between fromCreatedDate and
        toCreatedDate. A link will be displayed in the results to view
        additional records. The license key needs to be sent in the request
        header each time the link is used to view additional records.

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            chain_code (str): The Chain Code a list of submerchants will be
                returned for
            vas (Vas2Enum): The Value Added Service a submerchant under a
                specific Chain is enrolled for
            from_created_date (date): Filter by when the sub-merchant was
                created
            to_created_date (date): Filter by when the sub-merchant was created
            content_type (str, optional): The original media type of the
                resource
            sort_by (SortByEnum, optional): Sort by certain value
            sort_order (SortOrderEnum, optional): Sort in ascending or
                descending order
            limit (int, optional): Limit of Sub-Merchants to respond. Maximum
                limit is 10.
            offset (int, optional): Row number by which to begin the list
                (e.g. 10 would start with 10th submerchant)
            underwriting_status (UnderwritingStatus1Enum, optional): Look up
                submerchnats by underwriting status.
            division_code (str, optional): Division Code. Only applicable for
                PayFacs that are using Divisions.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Success

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/submerchants/chaincode/{chainCode}/vas/{vas}")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key("chainCode")
                            .value(chain_code)
                            .should_encode(True))
            .template_param(Parameter()
                            .key("vas")
                            .value(vas)
                            .should_encode(True))
            .query_param(Parameter()
                         .key("fromCreatedDate")
                         .value(from_created_date))
            .query_param(Parameter()
                         .key("toCreatedDate")
                         .value(to_created_date))
            .header_param(Parameter()
                          .key("Content-Type")
                          .value(content_type))
            .query_param(Parameter()
                         .key("sortBy")
                         .value(sort_by))
            .query_param(Parameter()
                         .key("sortOrder")
                         .value(sort_order))
            .query_param(Parameter()
                         .key("limit")
                         .value(limit))
            .query_param(Parameter()
                         .key("offset")
                         .value(offset))
            .query_param(Parameter()
                         .key("underwritingStatus")
                         .value(underwriting_status))
            .query_param(Parameter()
                         .key("divisionCode")
                         .value(division_code))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SubMerchantsFindVasGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", M400ErrorResponseException)
            .local_error("401", "Unauthorized", M401ErrorResponseException)
            .local_error("403", "Forbidden", M403ErrorResponseException)
            .local_error("500", "Server Error", M500ErrorResponseException),
        ).execute()

    def get_submerchant(self,
                        v_correlation_id,
                        id,
                        content_type="application/json"):
        """Perform a GET request to /submerchants/{id}.

        URI to get information of a PayFac submerchant resource.

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            content_type (str, optional): The original media type of the
                resource

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/submerchants/{id}")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key("id")
                            .value(id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key("Content-Type")
                          .value(content_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SubMerchantsGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", M400ErrorResponseException)
            .local_error("401", "Unauthorized", M401ErrorResponseException)
            .local_error("403", "Forbidden", M403ErrorResponseException)
            .local_error("404", "Not Found", M404ErrorResponseException)
            .local_error("500", "Server Error", M500ErrorResponseException),
        ).execute()

    def update_submerchant(self,
                           v_correlation_id,
                           id,
                           body):
        """Perform a PUT request to /submerchants/{id}.

        URI to update information of a PayFac submerchant resource.Please note
        that all PUT requests are replace requests, and any optional attribute
        that was provided earlier, but missed in the PUT request will be
        overridden with NULL.

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            body (SubMerchantForUpdate): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/submerchants/{id}")
            .http_method(HttpMethodEnum.PUT)
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .template_param(Parameter()
                            .key("id")
                            .value(id)
                            .should_encode(True))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DefaultSuccessResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", M400ErrorResponseException)
            .local_error("401", "Unauthorized", M401ErrorResponseException)
            .local_error("403", "Forbidden", M403ErrorResponseException)
            .local_error("404", "Not Found", M404ErrorResponseException)
            .local_error("500", "Server Error", M500ErrorResponseException),
        ).execute()

    def delete_submerchant(self,
                           v_correlation_id,
                           id,
                           content_type="application/json"):
        """Perform a DELETE request to /submerchants/{id}.

        URI to remove a submerchant from the PayFac submerchants collection.

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            content_type (str, optional): The original media type of the
                resource

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Success

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/submerchants/{id}")
            .http_method(HttpMethodEnum.DELETE)
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key("id")
                            .value(id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key("Content-Type")
                          .value(content_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DefaultSuccessResponse.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", M401ErrorResponseException)
            .local_error("403", "Forbidden", M403ErrorResponseException)
            .local_error("404", "Not Found", M404ErrorResponseException)
            .local_error("500", "Server Error", M500ErrorResponseException),
        ).execute()

    def patch_submerchant(self,
                          v_correlation_id,
                          id,
                          body):
        """Perform a PATCH request to /submerchants/{id}.

        URI to update all information of a PayFac submerchant resource

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            body (SubMerchantForPatch): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/submerchants/{id}")
            .http_method(HttpMethodEnum.PATCH)
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .template_param(Parameter()
                            .key("id")
                            .value(id)
                            .should_encode(True))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SubMerchantsGetResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", M400ErrorResponseException)
            .local_error("401", "Unauthorized", M401ErrorResponseException)
            .local_error("403", "Forbidden", M403ErrorResponseException)
            .local_error("404", "Not Found", M404ErrorResponseException)
            .local_error("500", "Server Error", M500ErrorResponseException),
        ).execute()
