# -*- coding: utf-8 -*-

"""
payfacsubmerchantprovisioningapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from payfacsubmerchantprovisioningapi.api_helper import APIHelper
from payfacsubmerchantprovisioningapi.configuration import Server
from payfacsubmerchantprovisioningapi.http.api_response import ApiResponse
from payfacsubmerchantprovisioningapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from payfacsubmerchantprovisioningapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from payfacsubmerchantprovisioningapi.models.vas_for_pass_token_response import VasForPassTokenResponse
from payfacsubmerchantprovisioningapi.models.vas_for_pass_token_post_response import VasForPassTokenPostResponse
from payfacsubmerchantprovisioningapi.exceptions.m_400_error_response_exception import M400ErrorResponseException
from payfacsubmerchantprovisioningapi.exceptions.m_401_error_response_exception import M401ErrorResponseException
from payfacsubmerchantprovisioningapi.exceptions.m_403_error_response_format_exception import M403ErrorResponseFormatException
from payfacsubmerchantprovisioningapi.exceptions.m_404_error_response_exception import M404ErrorResponseException
from payfacsubmerchantprovisioningapi.exceptions.m_500_error_response_exception import M500ErrorResponseException


class VASAccountUpdaterController(BaseController):

    """A Controller to access Endpoints in the payfacsubmerchantprovisioningapi API."""
    def __init__(self, config):
        super(VASAccountUpdaterController, self).__init__(config)

    def get_account_updater(self,
                            v_correlation_id,
                            id,
                            content_type='application/json'):
        """Does a GET request to /submerchants/{id}/vas/accountupdater.

        URI to get the account updater flag of a PayFac submerchant.

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            content_type (str, optional): The original media type of the
                resource

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/submerchants/{id}/vas/accountupdater')
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value(content_type))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(VasForPassTokenResponse.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Bad Request', M400ErrorResponseException)
            .local_error('401', 'Unauthorized', M401ErrorResponseException)
            .local_error('403', 'Forbidden', M403ErrorResponseFormatException)
            .local_error('404', 'Not Found', M404ErrorResponseException)
            .local_error('500', 'Server Error', M500ErrorResponseException)
        ).execute()

    def enable_account_updater(self,
                               v_correlation_id,
                               id,
                               body):
        """Does a POST request to /submerchants/{id}/vas/accountupdater.

        URI to enable the account updater for a PayFac submerchant.Account
        updater is tied to PASS token so if PASS token is not enabled before
        calling account updater URI then API will automatically enable PASS
        token while enabling account updater.

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            body (VasForPassToken): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Created

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/submerchants/{id}/vas/accountupdater')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(VasForPassTokenPostResponse.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Bad Request', M400ErrorResponseException)
            .local_error('401', 'Unauthorized', M401ErrorResponseException)
            .local_error('403', 'Forbidden', M403ErrorResponseFormatException)
            .local_error('404', 'Not Found', M404ErrorResponseException)
            .local_error('500', 'Server Error', M500ErrorResponseException)
        ).execute()

    def delete_account_updater(self,
                               v_correlation_id,
                               id,
                               content_type='application/json'):
        """Does a DELETE request to /submerchants/{id}/vas/accountupdater.

        URI to remove a account updater resource for a PayFac
        submerchant.Though account updater is tied to PASS token, only account
        updater will be deactivated. PASS Token will still be active

        Args:
            v_correlation_id (uuid|str): The unique UUID that is sent in each
                request
            id (str): The resource ID of the submerchant
            content_type (str, optional): The original media type of the
                resource

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/submerchants/{id}/vas/accountupdater')
            .http_method(HttpMethodEnum.DELETE)
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value(content_type))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(VasForPassTokenResponse.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', M401ErrorResponseException)
            .local_error('403', 'Forbidden', M403ErrorResponseFormatException)
            .local_error('404', 'Not Found', M404ErrorResponseException)
            .local_error('500', 'Server Error', M500ErrorResponseException)
        ).execute()
