"""foxitesigntest.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from foxitesigntest.api_helper import APIHelper
from foxitesigntest.configuration import Server
from foxitesigntest.controllers.base_controller import (
    BaseController,
)
from foxitesigntest.http.http_method_enum import (
    HttpMethodEnum,
)


class AccountsAPIController(BaseController):
    """A Controller to access Endpoints in the foxitesigntest API."""

    def __init__(self, config):
        """Initialize AccountsAPIController object."""
        super(AccountsAPIController, self).__init__(config)

    def create_new_account(self,
                           account_creationobject):
        """Perform a POST request to /accounts/create.

        This endpoint allows you to create a new account as a partner by using
        the API.
        *Note:* instead of providing the `access_token` Authorization header
        from your partner portal, you will instead provide the `client_id` and
        `client_secret` as part of the body parameters of this call.

        Args:
            account_creationobject (AccountCreationObject): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/accounts/create")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(account_creationobject))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def change_plan(self,
                    new_number_of_licenses,
                    new_plan):
        """Perform a GET request to /accounts/changeplan.

        This endpoint allows you to change the plan type for a specific
        account.
        **Note:** please provide the `access_token` Authorization header from
        the account which you are looking to change the plan type for.

        Args:
            new_number_of_licenses (str): The new required number of licences
                for the account in the new plan
            new_plan (PlanNamesEnum): Name of plan that you want to subscribe
                to

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/accounts/changeplan")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("newNumberOfLicenses")
                         .value(new_number_of_licenses))
            .query_param(Parameter()
                         .key("newPlan")
                         .value(new_plan))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def cancel_account(self):
        """Perform a GET request to /accounts/cancel.

        This endpoint allows you to cancel a specific account.
        `Note:` please provide the `access_token` Authorization header from
        the account which you are looking to cancel.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/accounts/cancel")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def reactivate_account(self):
        """Perform a GET request to /accounts/reactivate.

        This endpoint allows you to reactivate a specific account.
        `Note:` please provide the `access_token` Authorization header from
        the account which you are looking to reactivate.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/accounts/reactivate")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def change_licenses(self,
                        new_number_of_licences,
                        partner_code):
        """Perform a GET request to /accounts/changenumberoflicences.

        This endpoint allows you to edit the number of licenses available in a
        a specific account.
        `Note:` please provide the `access_token` Authorization header from
        the account which you are looking to reactivate.

        Args:
            new_number_of_licences (str): The new required number of licences
                for the account
            partner_code (str): Enter the unique partner code assigned to the
                partner to link this account with the specified partner

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/accounts/changenumberoflicences")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("newNumberOfLicences")
                         .value(new_number_of_licences))
            .query_param(Parameter()
                         .key("partnerCode")
                         .value(partner_code))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()
