"""foxitesigntest.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from foxitesigntest.api_helper import APIHelper
from foxitesigntest.configuration import Server
from foxitesigntest.controllers.base_controller import (
    BaseController,
)
from foxitesigntest.http.http_method_enum import (
    HttpMethodEnum,
)


class AuthenticationAPIController(BaseController):
    """A Controller to access Endpoints in the foxitesigntest API."""

    def __init__(self, config):
        """Initialize AuthenticationAPIController object."""
        super(AuthenticationAPIController, self).__init__(config)

    def generate_access_token(self,
                              content_type,
                              client_id,
                              client_secret,
                              grant_type,
                              scope):
        """Perform a POST request to /oauth2/access_token.

        Generate your Access Token

        Args:
            content_type (ContentTypeEnum): The request header parameter.
            client_id (str): The request form parameter.
            client_secret (str): The request form parameter.
            grant_type (GrantTypeEnum): The request form parameter.
            scope (ScopeEnum): The request form parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/oauth2/access_token")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                        .key("client_id")
                        .value(client_id))
            .form_param(Parameter()
                        .key("client_secret")
                        .value(client_secret))
            .form_param(Parameter()
                        .key("grant_type")
                        .value(grant_type))
            .form_param(Parameter()
                        .key("scope")
                        .value(scope))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()
