"""foxitesigntest.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.configurations.endpoint_configuration import (
    EndpointConfiguration,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from foxitesigntest.api_helper import APIHelper
from foxitesigntest.configuration import Server
from foxitesigntest.controllers.base_controller import (
    BaseController,
)
from foxitesigntest.http.http_method_enum import (
    HttpMethodEnum,
)


class EnvelopesAPIController(BaseController):
    """A Controller to access Endpoints in the foxitesigntest API."""

    def __init__(self, config):
        """Initialize EnvelopesAPIController object."""
        super(EnvelopesAPIController, self).__init__(config)

    def create_envelope_from_url(self,
                                 body):
        """Perform a POST request to /folders/createfolder.

        Envelopes can be created and send with publicly accessible PDF files.
        Pass the array of URLs of PDFs in the body for documents to send.

        Args:
            body (URLEnvelope): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/createfolder")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def get_envelope_details(self,
                             folder_id):
        """Perform a GET request to /folders/myfolder.

        You can poll our API to get the Envelope/Document data

        Args:
            folder_id (str): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/myfolder")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("folderId")
                         .value(folder_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def get_envelope_ids(self,
                         date_from,
                         date_to,
                         status="EXECUTED"):
        """Perform a GET request to /folders/getAllFolderIdsByStatus.

        You can poll our API to get the Id(s) of multiple envelopes by
        providing a date range and (optionally) a status as filters.

        Args:
            date_from (str): Start of the Envelope Creation Date range.
                Accepted format: YYYY-MM-DD
            date_to (str): Start of the Envelope Creation Date range. Accepted
                format: YYYY-MM-DD. <br/> <br/>Note: dateTo value should be
                under the 6 months from dateFrom value.
            status (EnvelopeStatusEnum, optional): Get FolderIds by the folder
                status. Status parameter can have any of the following values:
                EXECUTED,SHARED,DRAFT, PARTIALLY SIGNED, CANCELLED, EXPIRED
                and DELETED. <br/>  <br/> Note: If you don't pass this
                parameter, then by default you will receive envelopes with any
                status.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/getAllFolderIdsByStatus")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("dateFrom")
                         .value(date_from))
            .query_param(Parameter()
                         .key("dateTo")
                         .value(date_to))
            .query_param(Parameter()
                         .key("status")
                         .value(status))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def modify_shared_envelope(self,
                               body):
        """Perform a POST request to /folders/modifySharedFolder.

        Modify any shared envelope and send again to recipients for signing.

        Args:
            body (ModifySharedEnvelope): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/modifySharedFolder")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def send_signature_reminder(self,
                                body):
        """Perform a POST request to /folders/signaturereminder.

        Args:
            body (EnvelopeIdentifier): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/signaturereminder")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def update_envelope_fields(self,
                               body):
        """Perform a POST request to /folders/updateEnvelopeFields.

        You can update envelope and the custom fields `(custom_field1 and
        custom_field2)` anytime before execution using the 'Update Envelope
        Fields' API.
        *Note*: Envelope fields for a party can only be updated if the
        document has not been signed by that party yet.

        Args:
            body (EnvelopeFieldsUpdate): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/updateEnvelopeFields")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def download_envelope_files(self,
                                folder_id):
        """Perform a GET request to /folders/download.

        You can download executed folder document(s) as well as signature
        certificate all at once in a zip file.
        Returns ZIP file binary stream of all the documents in the folder with
        the signature certificate.

        Args:
            folder_id (str): The ID of the Envelope for which you would like
                to obtain the binary zip file for.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/download")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("folderId")
                         .value(folder_id))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).endpoint_configuration(
            EndpointConfiguration()
            .has_binary_response(True),
        ).execute()

    def move_envelopes_to_recycle_bin(self,
                                      body):
        """Perform a POST request to /folders/movetorecyclebin.

        Using Foxit eSign API you can move your Envelope(s) to the recycle
        bin. Documents in the recycle bin are permanently removed from Foxit
        eSign systems automatically after 14 days.

        Args:
            body (List[EnvelopeIdentifiers]): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/movetorecyclebin")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def regenerate_embedded_signing_session(self,
                                            body):
        """Perform a POST request to /embedded/regenerateEmbeddedSigningSession.

        You can regenerate the expired folder embedded signing token for
        accessing the signature from the signer.

        Args:
            body (SessionGeneration): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/embedded/regenerateEmbeddedSigningSession")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def get_envelope_activity_history(self,
                                      folder_id):
        """Perform a GET request to /folders/viewActivityHistory.

        Args:
            folder_id (int): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/viewActivityHistory")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("folderId")
                         .value(folder_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def send_draft_envelope(self,
                            body):
        """Perform a POST request to /folders/sendDraftFolder.

        *Note*: this endpoint will only send an envelope if it is currently in
        DRAFT mode. To create an envelope in DRAFT mode, please pass *sendNow*
        as `true` for any envelope creation endpoint (such as <a
        class="sc-hlTwrV fGbQJc"
        href="#/http/api-endpoints/envelopes-api/create-envelope-from-url">Crea
        te Envelope from URL</a> )

        Args:
            body (DraftEnvelope): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/sendDraftFolder")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def download_single_document_pdf(self,
                                     folder_id,
                                     doc_number):
        """Perform a GET request to /folders/document/download.

        You can download individual document as a pdf file.
        Returns PDF file binary stream of the document which you can save as
        PDF file.

        Args:
            folder_id (str): The ID of the Envelope for which you would like
                to obtain the binary zip file for.
            doc_number (str): The index of the document starting from 1 whose
                PDF you want to download.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/document/download")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("folderId")
                         .value(folder_id))
            .query_param(Parameter()
                         .key("docNumber")
                         .value(doc_number))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).endpoint_configuration(
            EndpointConfiguration()
            .has_binary_response(True),
        ).execute()

    def get_deleted_envelope_history(self,
                                     folder_id):
        """Perform a GET request to /folders/deletedLog.

        You can poll our API to get the deleted folder history.

        Args:
            folder_id (str): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/deletedLog")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("folderId")
                         .value(folder_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def cancel_envelope(self,
                        body):
        """Perform a POST request to /folders/cancelFolder.

        With Foxit eSign API, you can cancel/decline to sign an Envelope by
        calling /folders/cancelFolder with the given parameters.

        Args:
            body (FolderCancellation): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/cancelFolder")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def create_envelope_from_binary(self,
                                    file,
                                    data):
        """Perform a POST request to /folders/createfolder.

        The *data* paratemers accepts the same parameters as the <a
        class="sc-hlTwrV fGbQJc"
        href="#/http/api-endpoints/envelopes-api/create-envelope-from-url">Crea
        te Envelope from URL</a>  endpoint does, with the exception of
        excluding the following parameters:
        - folderNames
        - fileUrls

        Args:
            file (typing.BinaryIO): The request form parameter.
            data (str): The request form parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/createfolder")
            .http_method(HttpMethodEnum.POST)
            .multipart_param(Parameter()
                             .key("file")
                             .value(file)
                             .default_content_type("application/octet-stream"))
            .form_param(Parameter()
                        .key("data")
                        .value(data))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def create_envelope_from_base_64(self,
                                     body):
        """Perform a POST request to /folders/createfolder.

        Envelopes can be created and send with publicly accessible PDF files.
        Pass the array of BASE64 to PDF for documents to send.

        Args:
            body (Base64Envelope): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/createfolder")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def update_envelope_recipients(self,
                                   body):
        """Perform a POST request to /folders/updateFolder.

        You can change the first name, last name, and email if the recipient
        party has not signed on a shared or a partially signed document using
        the `Update Envelope Recipients` API. Recipients can be changed only
        if the Envelope is in `DRAFT` status.

        Args:
            body (PartyUpdate): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/updateFolder")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def delete_envelopes(self,
                         body):
        """Perform a POST request to /folders/delete.

        Using Foxit eSign API you can remove your Envelope(s) permanently from
        Foxit eSign systems.

        Args:
            body (List[EnvelopeIdentifiers]): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/delete")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()
