"""foxitesigntest.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from foxitesigntest.api_helper import APIHelper
from foxitesigntest.configuration import Server
from foxitesigntest.controllers.base_controller import (
    BaseController,
)
from foxitesigntest.http.http_method_enum import (
    HttpMethodEnum,
)


class PartiesAPIController(BaseController):
    """A Controller to access Endpoints in the foxitesigntest API."""

    def __init__(self, config):
        """Initialize PartiesAPIController object."""
        super(PartiesAPIController, self).__init__(config)

    def create_email_group(self,
                           body):
        """Perform a POST request to /parties/createEmailGroup.

        To create a new email group via API, please make a call to
        parties/createEmailGroup with the following parameters.
        You can only pass up to 20 party details.

        Args:
            body (Any): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/parties/createEmailGroup")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def get_email_group_details(self,
                                body):
        """Perform a POST request to /parties/getEmailGroups.

        You can pool our API to get email group information.
        You can pass this request with no parameters to get the details of all
        of the email groups in your account.

        Args:
            body (EmailGroupIdentifiers): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/parties/getEmailGroups")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()
