"""foxitesigntest.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from foxitesigntest.api_helper import APIHelper
from foxitesigntest.configuration import Server
from foxitesigntest.controllers.base_controller import (
    BaseController,
)
from foxitesigntest.http.http_method_enum import (
    HttpMethodEnum,
)


class ReportsAPIController(BaseController):
    """A Controller to access Endpoints in the foxitesigntest API."""

    def __init__(self, config):
        """Initialize ReportsAPIController object."""
        super(ReportsAPIController, self).__init__(config)

    def download_report(self,
                        accept,
                        body):
        """Perform a POST request to /folders/getFolders/download.

        To create a new user via API, please make a call to /users/create with
        the following parameters.

        Args:
            accept (str): The request header parameter. Example:
                application/vnd.ms-excel
            body (Report): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/folders/getFolders/download")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Accept")
                          .value(accept))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()
