"""foxitesigntest.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from foxitesigntest.api_helper import APIHelper
from foxitesigntest.configuration import Server
from foxitesigntest.controllers.base_controller import (
    BaseController,
)
from foxitesigntest.exceptions.api_exception import (
    APIException,
)
from foxitesigntest.http.http_method_enum import (
    HttpMethodEnum,
)


class TemplatesAPIController(BaseController):
    """A Controller to access Endpoints in the foxitesigntest API."""

    def __init__(self, config):
        """Initialize TemplatesAPIController object."""
        super(TemplatesAPIController, self).__init__(config)

    def get_templates_by_template_ids(self,
                                      body):
        """Perform a POST request to /templates/templateDetails.

        You can get a list of all the templates from your Foxit eSign account
        into your application using the following call.

        Args:
            body (TemplateIdentifiers): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/templates/templateDetails")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def get_template_details(self,
                             template_id):
        """Perform a GET request to /templates/mytemplate.

        You can poll our API to get the details of a template in JSON format.

        Args:
            template_id (str): The ID of the Template for which you would like
                to obtain parseable details about

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/templates/mytemplate")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("templateId")
                         .value(template_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def get_a_list_of_all_templates(self):
        """Perform a GET request to /templates/list.

        You can get a list of all the templates from your Foxit eSign account
        into your application using the following call.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/templates/list")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def create_template_from_url(self,
                                 body):
        """Perform a POST request to /templates/createtemplate.

        Template can be created by uploading a PDF document. To create a
        template from a PDF file, provide publicly accessible URLs to PDF
        documents or pass PDF documents as multipart form data with the number
        of recipient parties, etc.

        Args:
            body (URLTemplate): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/templates/createtemplate")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True)
            .local_error("401",
                "The error will come when the access_token in the  headers is i"
                "nvalid or expired.",
                APIException),
        ).execute()

    def create_envelope_from_template(self,
                                      body):
        """Perform a POST request to /templates/createFolder.

        Create envelopes using existing templates.

        Args:
            body (BaseEnvelopefromTemplate): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/templates/createFolder")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()
