"""foxitesigntest.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from foxitesigntest.api_helper import APIHelper
from foxitesigntest.configuration import Server
from foxitesigntest.controllers.base_controller import (
    BaseController,
)
from foxitesigntest.http.http_method_enum import (
    HttpMethodEnum,
)


class UsersAPIController(BaseController):
    """A Controller to access Endpoints in the foxitesigntest API."""

    def __init__(self, config):
        """Initialize UsersAPIController object."""
        super(UsersAPIController, self).__init__(config)

    def create_user(self,
                    user_creation_object):
        """Perform a POST request to /users/create.

        This endpoint allows you to create a User in any account by using the
        API.

        Args:
            user_creation_object (UserCreationObject): object to create users

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/users/create")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(user_creation_object))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def update_user(self,
                    user_update_object):
        """Perform a POST request to /users/update.

        This endpoint allows you to update the User's profile parameters using
        the API.

        Args:
            user_update_object (UserUpdateObject): object to update a user

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/users/update")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(user_update_object))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def delete_user(self,
                    user_id):
        """Perform a GET request to /users/delete.

        This endpoint allows you to delete a user via API.

        Args:
            user_id (str): Party Id for that user

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/users/delete")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("userId")
                         .value(user_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def list_all_users(self):
        """Perform a GET request to /users/list.

        This endpoint allows you to list all of the users under a specific
        account via API.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/users/list")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("httpBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()
