# -*- coding: utf-8 -*-

"""
foxitesigntest

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from foxitesigntest.api_helper import APIHelper
from foxitesigntest.configuration import Server
from foxitesigntest.http.api_response import ApiResponse
from foxitesigntest.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from foxitesigntest.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single


class WebhooksAPIController(BaseController):

    """A Controller to access Endpoints in the foxitesigntest API."""
    def __init__(self, config):
        super(WebhooksAPIController, self).__init__(config)

    def list_all_webhook_channels(self):
        """Does a GET request to /webhook/channellist.

        To get a list of all the webhook channels in the account, use the
        following call.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/webhook/channellist')
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('httpBearer'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True)
        ).execute()

    def get_webhook_channel_details(self,
                                    channel_id):
        """Does a GET request to /webhook/mychannel.

        You can poll our API to get information about a specific Webhook
        channel.

        Args:
            channel_id (str): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/webhook/mychannel')
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key('channelId')
                         .value(channel_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('httpBearer'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True)
        ).execute()

    def update_webhook_channel(self,
                               body):
        """Does a POST request to /webhook/updatewebhookchannel.

        To create a new channel via API, please make a call to
        /webhook/updatewebhookchannel with the following parameters.

        Args:
            body (WebhookUpdate): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/webhook/updatewebhookchannel')
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('content-type')
                          .value('application/json; charset=utf-8'))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('httpBearer'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True)
        ).execute()

    def reactivate_webhook_channel(self,
                                   channel_id):
        """Does a GET request to /webhook/channelreactivate.

        To create a new channel via API, please make a call to
        /webhook/updatewebhookchannel with the following parameters.

        Args:
            channel_id (str): Your Channel ID received when creating the
                webhook. Can also be found in the Foxit eSIgn Settings page.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/webhook/channelreactivate')
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key('channelId')
                         .value(channel_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('httpBearer'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True)
        ).execute()

    def delete_webhook_channel(self,
                               channel_ids):
        """Does a POST request to /webhook/deletechannels.

        To delete a webhook channel via API, please make a call to this
        endpoint with the following parameters.

        Args:
            channel_ids (List[WebhookIdentifiers]): Your Channel ID received
                when creating the webhook. Can also be found in the Foxit
                eSIgn Settings page.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/webhook/deletechannels')
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(channel_ids))
            .header_param(Parameter()
                          .key('content-type')
                          .value('application/json; charset=utf-8'))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('httpBearer'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True)
        ).execute()

    def create_webhook_channel(self,
                               body):
        """Does a POST request to /webhook/createwebhookchannel.

        Args:
            body (WebhookCreation): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/webhook/createwebhookchannel')
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('content-type')
                          .value('application/json; charset=utf-8'))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('httpBearer'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True)
        ).execute()

    def deactivate_webhook_channel(self,
                                   channel_id):
        """Does a GET request to /webhook/channeldeactivate.

        This endpoint will deactivate your Webhook Channel. 
        **Note:** To reactivate an channel via API, please make a call to
        /webhook/channelreactivate

        Args:
            channel_id (str): Your Channel ID received when creating the
                webhook. Can also be found in the Foxit eSIgn Settings page.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/webhook/channeldeactivate')
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key('channelId')
                         .value(channel_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('httpBearer'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True)
        ).execute()
