# -*- coding: utf-8 -*-

"""
payrix

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from payrix.api_helper import APIHelper
from payrix.configuration import Server
from payrix.http.api_response import ApiResponse
from payrix.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from payrix.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from apimatic_core.authentication.multiple.or_auth_group import Or
from payrix.models.aggregations_response_result import AggregationsResponseResult
from payrix.exceptions.error_four_hundred_exception import ErrorFourHundredException


class AggregationsController(BaseController):

    """A Controller to access Endpoints in the payrix API."""
    def __init__(self, config):
        super(AggregationsController, self).__init__(config)

    def get_aggregations_id(self,
                            id,
                            request_token=None,
                            search_filter=None):
        """Does a GET request to /aggregations/{id}.

        Query an Aggregation resource that uses a search to query for records
        on the given resource and applies the desired calculations (count,
        sum, min, and/or max) to the field in question.

        Args:
            id (str): The ID of this resource or The Aggregation ID.
            request_token (str, optional): A custom, one-time identifier for
                any API request (GET, PUT, POST, or DELETE). Blocks future
                requests with the same token for 48 hours, ensuring only the
                first request is processed. Valid values can contain 1-100
                alphanumeric and special characters. See <a
                href="/apis/payrix/dev-int-guide/references/request-tokens"
                target="_blank">Request Tokens</a>  for more information.
            search_filter (str, optional): Set this header to filter or sort
                the list of resources that the method returns.  For example,
                to find all resources that have a property of 'public' set to
                '1', set this header to 'public[equals]=1'. You can use the
                operators 'equals', 'greater', 'less', 'like', 'in' and
                'sort'. To sort the resources, use the keywords 'asc' (for an
                ascending sort) or 'desc' (for a descending sort). You may
                also use explicit 'and/or' querying by passing arrays of or
                and arrays of and parameters. For example, to find all
                resources that have a property of 'public' set to '1' or a
                property of 'active' set to '0', set this header to
                'or[][public][equals]=1&or[][active][equals]=0'.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Retrieve
                aggregation response for query on aggregations resource.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.PAYRIX)
            .path('/aggregations/{id}')
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('request-token')
                          .value(request_token))
            .header_param(Parameter()
                          .key('search')
                          .value(search_filter))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Or(Single('apiKey'), Single('sessionKey'), Single('txnSessionKey')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AggregationsResponseResult.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Error', ErrorFourHundredException)
        ).execute()

    def put_aggregations_id(self,
                            id,
                            body,
                            request_token=None,
                            search_filter=None):
        """Does a PUT request to /aggregations/{id}.

        Update an Aggregation resource or Update an Aggregation.

        Args:
            id (str): The ID of this resource or The Aggregation ID.
            body (AggregationsPutRequest): Update Aggregation Request
            request_token (str, optional): A custom, one-time identifier for
                any API request (GET, PUT, POST, or DELETE). Blocks future
                requests with the same token for 48 hours, ensuring only the
                first request is processed. Valid values can contain 1-100
                alphanumeric and special characters. See <a
                href="/apis/payrix/dev-int-guide/references/request-tokens"
                target="_blank">Request Tokens</a>  for more information.
            search_filter (str, optional): Set this header to filter or sort
                the list of resources that the method returns.  For example,
                to find all resources that have a property of 'public' set to
                '1', set this header to 'public[equals]=1'. You can use the
                operators 'equals', 'greater', 'less', 'like', 'in' and
                'sort'. To sort the resources, use the keywords 'asc' (for an
                ascending sort) or 'desc' (for a descending sort). You may
                also use explicit 'and/or' querying by passing arrays of or
                and arrays of and parameters. For example, to find all
                resources that have a property of 'public' set to '1' or a
                property of 'active' set to '0', set this header to
                'or[][public][equals]=1&or[][active][equals]=0'.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Response
                for update on aggregations resource Update Aggregation Response

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.PAYRIX)
            .path('/aggregations/{id}')
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('request-token')
                          .value(request_token))
            .header_param(Parameter()
                          .key('search')
                          .value(search_filter))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single('apiKey'), Single('sessionKey'), Single('txnSessionKey')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AggregationsResponseResult.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Error', ErrorFourHundredException)
        ).execute()

    def delete_aggregations_id(self,
                               id,
                               request_token=None,
                               search_filter=None):
        """Does a DELETE request to /aggregations/{id}.

        Delete an Aggregation resource or an Aggregation.

        Args:
            id (str): The ID of this resource or The Aggregation ID.
            request_token (str, optional): A custom, one-time identifier for
                any API request (GET, PUT, POST, or DELETE). Blocks future
                requests with the same token for 48 hours, ensuring only the
                first request is processed. Valid values can contain 1-100
                alphanumeric and special characters. See <a
                href="/apis/payrix/dev-int-guide/references/request-tokens"
                target="_blank">Request Tokens</a>  for more information.
            search_filter (str, optional): Set this header to filter or sort
                the list of resources that the method returns.  For example,
                to find all resources that have a property of 'public' set to
                '1', set this header to 'public[equals]=1'. You can use the
                operators 'equals', 'greater', 'less', 'like', 'in' and
                'sort'. To sort the resources, use the keywords 'asc' (for an
                ascending sort) or 'desc' (for a descending sort). You may
                also use explicit 'and/or' querying by passing arrays of or
                and arrays of and parameters. For example, to find all
                resources that have a property of 'public' set to '1' or a
                property of 'active' set to '0', set this header to
                'or[][public][equals]=1&or[][active][equals]=0'.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Response
                for delete on aggregations resource: Delete Aggregation
                Response

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.PAYRIX)
            .path('/aggregations/{id}')
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('request-token')
                          .value(request_token))
            .header_param(Parameter()
                          .key('search')
                          .value(search_filter))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Or(Single('apiKey'), Single('sessionKey'), Single('txnSessionKey')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AggregationsResponseResult.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Error', ErrorFourHundredException)
        ).execute()

    def get_aggregations(self,
                         request_token=None,
                         page_number=None,
                         page_limit=None,
                         search_filter=None):
        """Does a GET request to /aggregations.

        Query an Aggregation resource using the search to query for records on
        the given resource and apply desired calculations (count, sum, min,
        and/or max) to the specified field.

        Args:
            request_token (str, optional): A custom, one-time identifier for
                any API request (GET, PUT, POST, or DELETE). Blocks future
                requests with the same token for 48 hours, ensuring only the
                first request is processed. Valid values can contain 1-100
                alphanumeric and special characters. See <a
                href="/apis/payrix/dev-int-guide/references/request-tokens"
                target="_blank">Request Tokens</a>  for more information.
            page_number (int, optional): Set this path parameter to request a
                specific page of records.  For example, set `?page[number]=2`
                to retrieve the second page of records for this request.
            page_limit (int, optional): Set this path parameter to request up
                to a specific amount of records. By default 30 records are
                retrieved per page. The maximum limit that can be set is 100.
                For example, set `?page[limit]=50` to retrieve up to 50
                records for this request.
            search_filter (str, optional): Set this header to filter or sort
                the list of resources that the method returns.  For example,
                to find all resources that have a property of 'public' set to
                '1', set this header to 'public[equals]=1'. You can use the
                operators 'equals', 'greater', 'less', 'like', 'in' and
                'sort'. To sort the resources, use the keywords 'asc' (for an
                ascending sort) or 'desc' (for a descending sort). You may
                also use explicit 'and/or' querying by passing arrays of or
                and arrays of and parameters. For example, to find all
                resources that have a property of 'public' set to '1' or a
                property of 'active' set to '0', set this header to
                'or[][public][equals]=1&or[][active][equals]=0'.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Retrieve
                aggregations response for query on aggregations resource.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.PAYRIX)
            .path('/aggregations')
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key('request-token')
                          .value(request_token))
            .query_param(Parameter()
                         .key('page[number]')
                         .value(page_number))
            .query_param(Parameter()
                         .key('page[limit]')
                         .value(page_limit))
            .header_param(Parameter()
                          .key('search')
                          .value(search_filter))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Or(Single('apiKey'), Single('sessionKey'), Single('txnSessionKey')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AggregationsResponseResult.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Error', ErrorFourHundredException)
        ).execute()

    def post_aggregations(self,
                          body,
                          request_token=None):
        """Does a POST request to /aggregations.

        Create an Aggregation resource that uses the search to query for
        records on a given resource and applies the desired calculations
        (count, sum, min, and/or max) to the field in question.

        Args:
            body (AggregationsPostRequest): Create Aggregation Request
            request_token (str, optional): A custom, one-time identifier for
                any API request (GET, PUT, POST, or DELETE). Blocks future
                requests with the same token for 48 hours, ensuring only the
                first request is processed. Valid values can contain 1-100
                alphanumeric and special characters. See <a
                href="/apis/payrix/dev-int-guide/references/request-tokens"
                target="_blank">Request Tokens</a>  for more information.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Response
                for creating an aggregation resource. Create Aggregation
                Response.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.PAYRIX)
            .path('/aggregations')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('request-token')
                          .value(request_token))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single('apiKey'), Single('sessionKey'), Single('txnSessionKey')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AggregationsResponseResult.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Error', ErrorFourHundredException)
        ).execute()
