# -*- coding: utf-8 -*-

"""
payrix

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from payrix.api_helper import APIHelper
from payrix.configuration import Server
from payrix.http.api_response import ApiResponse
from payrix.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from payrix.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from apimatic_core.authentication.multiple.or_auth_group import Or
from payrix.models.alert_triggers_response_result import AlertTriggersResponseResult
from payrix.exceptions.error_four_hundred_exception import ErrorFourHundredException


class AlertTriggersController(BaseController):

    """A Controller to access Endpoints in the payrix API."""
    def __init__(self, config):
        super(AlertTriggersController, self).__init__(config)

    def get_alert_triggers_id(self,
                              id,
                              request_token=None):
        """Does a GET request to /alertTriggers/{id}.

        Query an alertTrigger resource that represents a set of triggers
        causing an Alert to be sent, for example, the levying of a Fee or a
        Payout occurring, each linked to a particular Alert, with the action
        to take when triggered set up in the alertActions resource.

        Args:
            id (str): The ID of this alert trigger.
            request_token (str, optional): A custom, one-time identifier for
                any API request (GET, PUT, POST, or DELETE). Blocks future
                requests with the same token for 48 hours, ensuring only the
                first request is processed. Valid values can contain 1-100
                alphanumeric and special characters. See <a
                href="/apis/payrix/dev-int-guide/references/request-tokens"
                target="_blank">Request Tokens</a>  for more information.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Response
                for retrieve Alert Trigger response.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.PAYRIX)
            .path('/alertTriggers/{id}')
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('request-token')
                          .value(request_token))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Or(Single('apiKey'), Single('sessionKey'), Single('txnSessionKey')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AlertTriggersResponseResult.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Error', ErrorFourHundredException)
        ).execute()

    def put_alert_triggers_id(self,
                              id,
                              body,
                              request_token=None):
        """Does a PUT request to /alertTriggers/{id}.

        Update an alertTrigger resource that represents a set of triggers
        causing an Alert to be sent, for example levying a Fee or a Payout
        occurring, with each trigger linked to a particular Alert and the
        action taken when triggered set up in the alertActions resource.

        Args:
            id (str): The ID of this alert trigger.
            body (AlertTriggersPutRequest): Update Alert Trigger Request
            request_token (str, optional): A custom, one-time identifier for
                any API request (GET, PUT, POST, or DELETE). Blocks future
                requests with the same token for 48 hours, ensuring only the
                first request is processed. Valid values can contain 1-100
                alphanumeric and special characters. See <a
                href="/apis/payrix/dev-int-guide/references/request-tokens"
                target="_blank">Request Tokens</a>  for more information.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Response
                for update on alertTriggers resource Update Alert Trigger
                Response

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.PAYRIX)
            .path('/alertTriggers/{id}')
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('request-token')
                          .value(request_token))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single('apiKey'), Single('sessionKey'), Single('txnSessionKey')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AlertTriggersResponseResult.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Error', ErrorFourHundredException)
        ).execute()

    def delete_alert_triggers_id(self,
                                 id,
                                 request_token=None):
        """Does a DELETE request to /alertTriggers/{id}.

        Delete an alertTrigger resource that represents a set of triggers
        causing an Alert to be sent, for example levying a Fee or a Payout
        occurring, each linked to a particular Alert with the action to take
        set up in the alertActions resource.

        Args:
            id (str): The ID of this alert trigger.
            request_token (str, optional): A custom, one-time identifier for
                any API request (GET, PUT, POST, or DELETE). Blocks future
                requests with the same token for 48 hours, ensuring only the
                first request is processed. Valid values can contain 1-100
                alphanumeric and special characters. See <a
                href="/apis/payrix/dev-int-guide/references/request-tokens"
                target="_blank">Request Tokens</a>  for more information.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. The
                response for deleting an alert trigger on the alertTriggers
                resource is the Delete Alert Trigger Response.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.PAYRIX)
            .path('/alertTriggers/{id}')
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                            .key('id')
                            .value(id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('request-token')
                          .value(request_token))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Or(Single('apiKey'), Single('sessionKey'), Single('txnSessionKey')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AlertTriggersResponseResult.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Error', ErrorFourHundredException)
        ).execute()

    def get_alert_triggers(self,
                           request_token=None,
                           search=None,
                           totals=None,
                           page_number=None,
                           page_limit=None):
        """Does a GET request to /alertTriggers.

        Query an alertTrigger resource that represents a set of triggers that
        cause an Alert to be sent, where for example this could be the levying
        of a Fee or a Payout occurring, and each alertTrigger is linked to a
        particular Alert, with the action to take when an Alert is triggered
        set up in the alertActions resource.

        Args:
            request_token (str, optional): A custom, one-time identifier for
                any API request (GET, PUT, POST, or DELETE). Blocks future
                requests with the same token for 48 hours, ensuring only the
                first request is processed. Valid values can contain 1-100
                alphanumeric and special characters. See <a
                href="/apis/payrix/dev-int-guide/references/request-tokens"
                target="_blank">Request Tokens</a>  for more information.
            search (str, optional): Set this header to filter or sort the list
                of resources that the method returns.  See
                [Searches](page:welcome#searches) for detailed information and
                examples on how to use search header.
            totals (str, optional): To configure a request to return a total
                for all instances of a field in a result set,  use the totals
                header in the format `totals={operator}[]={key}`.  This will
                calculate the desired total and return it in the `details >
                totals` object of the response.  For instance, if you want to
                sum the `total` field of all transactions,  you would use the
                `sum` operator. The response will include the result set, 
                along with the calculated total in the `details` section. See
                [Collection Operators](page:welcome#collection-operators) for
                detailed information and examples on how to use totals header.
            page_number (int, optional): Set this path parameter to request a
                specific page of records.  For example, set `?page[number]=2`
                to retrieve the second page of records for this request.
            page_limit (int, optional): Set this path parameter to request up
                to a specific amount of records. By default 30 records are
                retrieved per page. The maximum limit that can be set is 100.
                For example, set `?page[limit]=50` to retrieve up to 50
                records for this request.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Retrieve
                the Response for query on Alert Triggers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.PAYRIX)
            .path('/alertTriggers')
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key('request-token')
                          .value(request_token))
            .header_param(Parameter()
                          .key('search')
                          .value(search))
            .header_param(Parameter()
                          .key('totals')
                          .value(totals))
            .query_param(Parameter()
                         .key('page[number]')
                         .value(page_number))
            .query_param(Parameter()
                         .key('page[limit]')
                         .value(page_limit))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Or(Single('apiKey'), Single('sessionKey'), Single('txnSessionKey')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AlertTriggersResponseResult.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Error', ErrorFourHundredException)
        ).execute()

    def post_alert_triggers(self,
                            body,
                            request_token=None):
        """Does a POST request to /alertTriggers.

        Create an alertTrigger resource that represents a set of triggers
        causing an Alert to be sent, such as the levying of a Fee or a Payout
        occurring, and each alertTrigger is linked to a particular Alert with
        actions set up in the alertActions resource.

        Args:
            body (AlertTriggersPostRequest): Create Alert Trigger Request
            request_token (str, optional): A custom, one-time identifier for
                any API request (GET, PUT, POST, or DELETE). Blocks future
                requests with the same token for 48 hours, ensuring only the
                first request is processed. Valid values can contain 1-100
                alphanumeric and special characters. See <a
                href="/apis/payrix/dev-int-guide/references/request-tokens"
                target="_blank">Request Tokens</a>  for more information.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. The
                create operation on the alertTriggers resource successfully
                creates an Alert Trigger, and the response to this request
                includes the created Alert Trigger's details.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.PAYRIX)
            .path('/alertTriggers')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('request-token')
                          .value(request_token))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single('apiKey'), Single('sessionKey'), Single('txnSessionKey')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AlertTriggersResponseResult.from_dictionary)
            .is_api_response(True)
            .local_error('400', 'Error', ErrorFourHundredException)
        ).execute()
