"""payrix.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from payrix.api_helper import APIHelper
from payrix.configuration import Server
from payrix.controllers.base_controller import (
    BaseController,
)
from payrix.exceptions.error_four_hundred_exception import (
    ErrorFourHundredException,
)
from payrix.http.http_method_enum import HttpMethodEnum
from payrix.models.terminal_txn_ref_response_result import (
    TerminalTxnRefResponseResult,
)


class TerminalTransactionReferenceController(BaseController):
    """A Controller to access Endpoints in the payrix API."""

    def __init__(self, config):
        """Initialize TerminalTransactionReferenceController object."""
        super(TerminalTransactionReferenceController, self).__init__(config)

    def post_terminal_txn_refs(self,
                               body,
                               request_token=None):
        """Perform a POST request to /terminalTxnRefs.

        Create a terminalTxnRefs resource, which represents a reference code
        issued by the Processor in relation to a particular Transaction.

        Args:
            body (TerminalTxnRefPostRequest): Create Terminal Transaction
                Reference Request
            request_token (str, optional): A custom, one-time identifier for
                any API request (GET, PUT, POST, or DELETE). Blocks future
                requests with the same token for 48 hours, ensuring only the
                first request is processed. Valid values can contain 1-100
                alphanumeric and special characters. See <a
                href="/apis/payrix/dev-int-guide/references/request-tokens"
                target="_blank">Request Tokens</a>  for more information.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Response
                for create on terminalTxnRefs resource

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.PAYRIX)
            .path("/terminalTxnRefs")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("request-token")
                          .value(request_token))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("apiKey"), Single("sessionKey"), Single("txnSessionKey"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TerminalTxnRefResponseResult.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Error", ErrorFourHundredException),
        ).execute()
