# -*- coding: utf-8 -*-

"""
customizableerrormessages

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from customizableerrormessages.api_helper import APIHelper
from customizableerrormessages.configuration import Server
from customizableerrormessages.http.api_response import ApiResponse
from customizableerrormessages.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from customizableerrormessages.http.http_method_enum import HttpMethodEnum
from customizableerrormessages.exceptions.error_model_3_exception import ErrorModel3Exception
from customizableerrormessages.exceptions.error_model_2_exception import ErrorModel2Exception
from customizableerrormessages.exceptions.error_model_1_exception import ErrorModel1Exception


class CustomizedErrorMessagesController(BaseController):

    """A Controller to access Endpoints in the customizableerrormessages API."""
    def __init__(self, config):
        super(CustomizedErrorMessagesController, self).__init__(config)

    def endpoint_level_error_template_message(self):
        """Does a GET request to /error/401.

        This endpoint contains cases for customized error templates at
        endpoint level.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/error/401')
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error_template('default', 'Local error message for default case: {$statusCode}, accept => {$response.header.content-type}), body => {$response.body}.', ErrorModel1Exception)
            .local_error_template('4XX', 'Local Error template 4XX: {$statusCode}, accept => {$response.header.content-type}, body => {$response.body#/unknownProperty}.', ErrorModel1Exception)
            .local_error_template('410', 'Local Error template 4XX: {$statusCode}, accept => {$response.header.content-type}, body => {$response.body#/unknownProperty}.', ErrorModel2Exception)
            .local_error_template('401', 'Local Error template 401: {$statusCode}, accept => {$response.header.content-type}, body => {$response.body#/ServerCode}-{$response.body#/ServerMessage}-{$response.body#/SecretMessageForEndpoint}-{$response.body#/unknownProperty}.', ErrorModel3Exception)
            .local_error_template('402', 'Local Error template 4XX: {$statusCode}, accept => {$response.header.content-type}, body => {$response.body#/unknownProperty}.', ErrorModel2Exception)
            .local_error('500', 'Local error message for 500', APIException)
        ).execute()

    def override_global_level_error_messages(self):
        """Does a GET request to /error/501.

        This endpoint overrides the cases for customized errors configured at
        global level.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/error/501')
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error_template('500', 'Local Error template 500: {$statusCode}, accept => {$response.header.content-type}, body => {$response.body#/unknownProperty}.', ErrorModel1Exception)
            .local_error_template('501', 'Local Error template 501: {$statusCode}, accept => {$response.header.content-type}, body => {$response.body#/ServerCode}-{$response.body#/ServerMessage}-{$response.body#/model/name}-{$response.body#/unknownProperty}.', ErrorModel1Exception)
            .local_error_template('502', 'Local Error template 502: {$statusCode}, accept => {$response.header.content-type}, body => {$response.body#/error description}-{$response.body#/caught}-{$response.body#/Exception}-{$response.body#/Inner Exception}-{$response.body#/unknownProperty}.', ErrorModel2Exception)
            .local_error_template('503', 'Local Error template 503: {$statusCode}, accept => {$response.header.content-type}, body => {$response.body#/ServerCode}-{$response.body#/ServerMessage}-{$response.body#/SecretMessageForEndpoint}-{$response.body#/unknownProperty}.', ErrorModel3Exception)
            .local_error_template('504', 'Local Error template 504: {$statusCode}, accept => {$response.header.content-type}, body => {$response.body#/ServerCode}-{$response.body#/ServerMessage}-{$response.body#/model/name}-{$response.body#/unknownProperty}.', ErrorModel1Exception)
            .local_error_template('4XX', 'Local Error template 4XX: {$statusCode}, accept => {$response.header.content-type}', ErrorModel1Exception)
            .local_error_template('410', 'Local Error template 4XX: {$statusCode}, accept => {$response.header.content-type}', ErrorModel2Exception)
        ).execute()
