# -*- coding: utf-8 -*-

"""
customqueryparameter

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from customqueryparameter.api_helper import APIHelper
from customqueryparameter.configuration import Server
from customqueryparameter.http.api_response import ApiResponse
from customqueryparameter.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from customqueryparameter.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single


class CustomQueryParamTestController(BaseController):

    """A Controller to access Endpoints in the customqueryparameter API."""
    def __init__(self, config):
        super(CustomQueryParamTestController, self).__init__(config)

    def get_custom_query_parameter_testing(self):
        """Does a GET request to /auth/customQueryParam.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/auth/customQueryParam')
            .http_method(HttpMethodEnum.GET)
            .auth(Single('httpQuery'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
        ).execute()

    def get_custom_query_param_skipped_authentication(self):
        """Does a GET request to /auth/skipAuthentication.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/auth/skipAuthentication')
            .http_method(HttpMethodEnum.GET)
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
        ).execute()
