"""customqueryparameter.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler

from customqueryparameter.api_helper import (
    APIHelper,
)
from customqueryparameter.configuration import (
    Server,
)
from customqueryparameter.controllers.base_controller import (
    BaseController,
)
from customqueryparameter.http.http_method_enum import (
    HttpMethodEnum,
)


class CustomQueryParamTestController(BaseController):
    """A Controller to access Endpoints in the customqueryparameter API."""

    def __init__(self, config):
        """Initialize CustomQueryParamTestController object."""
        super(CustomQueryParamTestController, self).__init__(config)

    def get_custom_query_parameter_testing(self):
        """Perform a GET request to /auth/customQueryParam.

        Returns:
            str: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/auth/customQueryParam")
            .http_method(HttpMethodEnum.GET)
            .auth(Single("httpQuery")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize),
        ).execute()

    def get_custom_query_param_skipped_authentication(self):
        """Perform a GET request to /auth/skipAuthentication.

        Returns:
            str: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/auth/skipAuthentication")
            .http_method(HttpMethodEnum.GET),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize),
        ).execute()
