"""complexheaderparametersapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from complexheaderparametersapi.api_helper import (
    APIHelper,
)
from complexheaderparametersapi.configuration import (
    Server,
)
from complexheaderparametersapi.controllers.base_controller import (
    BaseController,
)
from complexheaderparametersapi.exceptions.api_exception import (
    APIException,
)
from complexheaderparametersapi.http.http_method_enum import (
    HttpMethodEnum,
)
from complexheaderparametersapi.models.success_response import (
    SuccessResponse,
)
from complexheaderparametersapi.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class APIController(BaseController):
    """A Controller to access Endpoints in the complexheaderparametersapi API."""

    def __init__(self, config):
        """Initialize APIController object."""
        super(APIController, self).__init__(config)

    def retrieve_checkout_order(self,
                                pay_pal_mock_response=None):
        """Perform a GET request to /header/v2/checkout/orders.

        Retrieves a checkout order, allowing response simulation via a complex
        header.

        Args:
            pay_pal_mock_response (PaypalMockResponseSchema, optional):
                Simulates negative responses.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successfully retrieved the complex object.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/header/v2/checkout/orders")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("PayPal-Mock-Response")
                          .value(pay_pal_mock_response))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SuccessResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def submit_vehicle_information(self,
                                   vehicle_header):
        """Perform a GET request to /header/vehicle.

        Accepts a single vehicle object in the header.

        Args:
            vehicle_header (Vehicle): JSON-serialized Vehicle object.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Vehicle
                submission successful.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/header/vehicle")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("vehicle-header")
                          .value(vehicle_header))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SuccessResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid input.", APIException),
        ).execute()

    def submit_a_one_of_vehicle(self,
                                one_of_vehicle):
        """Perform a GET request to /header/oneOfVehicles.

        Accepts a Car or a Bike object in the header.

        Args:
            one_of_vehicle (Car | Bike): JSON-serialized Car or Bike object.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                OneOfVehicle submission successful.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/header/oneOfVehicles")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("one-of-vehicle")
                          .value(one_of_vehicle)
                          .validator(lambda value: UnionTypeLookUp
                              .get("OneOfVehicle").validate(value)))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SuccessResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def submit_a_map_of_vehicles(self,
                                 map_of_vehicles):
        """Perform a GET request to /header/vehiclesMap.

        Accepts a map of vehicle objects in the header.

        Args:
            map_of_vehicles (Dict[str, Vehicle]): JSON-serialized map of
                Vehicle objects.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Vehicles
                submitted successfully.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/header/vehiclesMap")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("map-of-vehicles")
                          .value(map_of_vehicles))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SuccessResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid input", APIException),
        ).execute()

    def submit_an_array_of_vehicles(self,
                                    array_of_vehicles):
        """Perform a GET request to /header/vehiclesArray.

        Accepts an array of vehicles in the request body.

        Args:
            array_of_vehicles (List[Vehicle]): Array parameter for Vehicle

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Vehicles
                submitted successfully.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/header/vehiclesArray")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("array-of-vehicles")
                          .value(array_of_vehicles))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SuccessResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid input", APIException),
        ).execute()
