"""tabseperatedarrayserialization.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.array_serialization_format import (
    SerializationFormats,
)
from apimatic_core.types.parameter import Parameter

from tabseperatedarrayserialization.api_helper import (
    APIHelper,
)
from tabseperatedarrayserialization.configuration import (
    Server,
)
from tabseperatedarrayserialization.controllers.base_controller import (
    BaseController,
)
from tabseperatedarrayserialization.http.http_method_enum import (
    HttpMethodEnum,
)
from tabseperatedarrayserialization.models.server_response import (
    ServerResponse,
)


class TabSeperatedController(BaseController):
    """A Controller to access Endpoints in the tabseperatedarrayserialization API."""

    def __init__(self, config):
        """Initialize TabSeperatedController object."""
        super(TabSeperatedController, self).__init__(config)

    def get_tab_seperated_in_query(self,
                                   dependent):
        """Perform a GET request to /query/tabSeperated.

        Args:
            dependent (List[str]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/tabSeperated")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("dependent")
                         .value(dependent))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.TSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_tab_separated_complex_type_in_query(self,
                                                        complex_type):
        """Perform a POST request to /query/complex/tab.

        Args:
            complex_type (ComplexType): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/complex/tab")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                         .key("content")
                         .value("SIMPLE"))
            .query_param(Parameter()
                         .key("complexType")
                         .value(complex_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.TSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_tab_separated_list_of_complex_type_in_query(self,
                                                                complex_type):
        """Perform a POST request to /query/complex/tab.

        Args:
            complex_type (List[ComplexType]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/complex/tab")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                         .key("content")
                         .value("ARRAY"))
            .query_param(Parameter()
                         .key("complexType")
                         .value(complex_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.TSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_tab_separated_map_of_complex_type_in_query(self,
                                                               complex_type):
        """Perform a POST request to /query/complex/tab.

        Args:
            complex_type (Dict[str, ComplexType]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/complex/tab")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                         .key("content")
                         .value("MAP"))
            .query_param(Parameter()
                         .key("complexType")
                         .value(complex_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.TSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
