"""pipeseperatedarrayserialization.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.array_serialization_format import (
    SerializationFormats,
)
from apimatic_core.types.parameter import Parameter

from pipeseperatedarrayserialization.api_helper import (
    APIHelper,
)
from pipeseperatedarrayserialization.configuration import (
    Server,
)
from pipeseperatedarrayserialization.controllers.base_controller import (
    BaseController,
)
from pipeseperatedarrayserialization.http.http_method_enum import (
    HttpMethodEnum,
)
from pipeseperatedarrayserialization.models.server_response import (
    ServerResponse,
)


class PipeSeperatedController(BaseController):
    """A Controller to access Endpoints in the pipeseperatedarrayserialization API."""

    def __init__(self, config):
        """Initialize PipeSeperatedController object."""
        super(PipeSeperatedController, self).__init__(config)

    def get_pipe_seperated_in_query(self,
                                    dependent):
        """Perform a GET request to /query/pipeSeperated.

        Args:
            dependent (List[int]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/pipeSeperated")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("dependent")
                .value(dependent))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .array_serialization_format(SerializationFormats.PSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_pipe_seperated_in_query_1(self,
                                      dependent):
        """Perform a GET request to /query/pipeSeperated.

        Args:
            dependent (List[str]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/pipeSeperated")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("dependent")
                .value(dependent))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .array_serialization_format(SerializationFormats.PSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_pipe_separated_complex_type_in_query(self,
                                                         complex_type):
        """Perform a POST request to /query/complex/pipe.

        Args:
            complex_type (ComplexType): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/complex/pipe")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                .key("content")
                .value("SIMPLE"))
            .query_param(Parameter()
                .key("complexType")
                .value(complex_type))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .array_serialization_format(SerializationFormats.PSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_pipe_separated_list_of_complex_type_in_query(self,
                                                                 complex_type):
        """Perform a POST request to /query/complex/pipe.

        Args:
            complex_type (List[ComplexType]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/complex/pipe")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                .key("content")
                .value("ARRAY"))
            .query_param(Parameter()
                .key("complexType")
                .value(complex_type))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .array_serialization_format(SerializationFormats.PSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_pipe_separated_map_of_complex_type_in_query(self,
                                                                complex_type):
        """Perform a POST request to /query/complex/pipe.

        Args:
            complex_type (Dict[str, ComplexType]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/complex/pipe")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                .key("content")
                .value("MAP"))
            .query_param(Parameter()
                .key("complexType")
                .value(complex_type))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .array_serialization_format(SerializationFormats.PSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
