"""goeapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from goeapi.api_helper import APIHelper
from goeapi.apis.base_api import BaseApi
from goeapi.configuration import Server
from goeapi.exceptions.internal_server_message_exception import (
    InternalServerMessageException,
)
from goeapi.exceptions.internal_server_message_general_exception import (
    InternalServerMessageGeneralException,
)
from goeapi.exceptions.message_exception import (
    MessageException,
)
from goeapi.exceptions.validation_message_one_exception import (
    ValidationMessageOneException,
)
from goeapi.http.http_method_enum import HttpMethodEnum
from goeapi.models.annuities_response_model import (
    AnnuitiesResponseModel,
)
from goeapi.models.decumulation_response_model import (
    DecumulationResponseModel,
)
from goeapi.models.goal_calculator_output_model import (
    GoalCalculatorOutputModel,
)
from goeapi.models.goal_discovery_output_model import (
    GoalDiscoveryOutputModel,
)
from goeapi.models.goe_for_taxes_output_model import (
    GoeForTaxesOutputModel,
)
from goeapi.models.goe_simulation_engine_output_model import (
    GoeSimulationEngineOutputModel,
)
from goeapi.models.run_pipe_response_model_v_4 import (
    RunPipeResponseModelV4,
)
from goeapi.models.up_av_4_response_model import (
    UpAv4ResponseModel,
)
from goeapi.models.wealth_splitter_output_model import (
    WealthSplitterOutputModel,
)


class GoeApi(BaseApi):
    """A Controller to access Endpoints in the goeapi API."""

    def __init__(self, config):
        """Initialize GoeApi object."""
        super(GoeApi, self).__init__(config)

    def run_pipe(self,
                 body,
                 version="4"):
        """Perform a POST request to /v3/runPipe.

        Args:
            body (RunPipeInputModel): The request body parameter.
            version (str, optional): The request header parameter. Example: 4

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v3/runPipe")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body)
                        .is_required(True))
            .header_param(Parameter()
                          .key("version")
                          .value(version))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RunPipeResponseModelV4.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", MessageException)
            .local_error("404", "Not Found", ValidationMessageOneException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def unified_portfolio_advice(self,
                                 body,
                                 detailed_response=None):
        """Perform a POST request to /v4/unifiedportfolioadvice.

        Args:
            body (UnifiedPortfolioAdviceInputModelV4): The request body
                parameter.
            detailed_response (str, optional): The request header parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v4/unifiedportfolioadvice")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body)
                        .is_required(True))
            .header_param(Parameter()
                          .key("detailedResponse")
                          .value(detailed_response))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UpAv4ResponseModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def initial_wealth_splitter(self,
                                body):
        """Perform a POST request to /v3/runWealthSplitter.

        Args:
            body (WealthSplitterInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v3/runWealthSplitter")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body)
                        .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(WealthSplitterOutputModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def goal_discovery(self,
                       body):
        """Perform a POST request to /api/goe-api/goaldiscovery.

        Args:
            body (GoalDiscoveryInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/goe-api/goaldiscovery")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body)
                        .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GoalDiscoveryOutputModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def goal_discovery_paginated_results(self,
                                         request_id,
                                         page_index=500):
        """Perform a GET request to /api/goe-api/goaldiscovery.

        Args:
            request_id (str): The request query parameter.
            page_index (int, optional): The request query parameter. Example:
                500

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/goe-api/goaldiscovery")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("requestId")
                         .value(request_id)
                         .is_required(True))
            .query_param(Parameter()
                         .key("pageIndex")
                         .value(page_index))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GoalDiscoveryOutputModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def goe_for_decumulation(self,
                             body):
        """Perform a POST request to /api/goe/goefordecumulation.

        Args:
            body (GoeForDecumulationInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/goe/goefordecumulation")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body)
                        .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DecumulationResponseModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def goe_simulation_engine(self,
                              body):
        """Perform a POST request to /api/goe-api/goalsimulationengine.

        Args:
            body (GoeSimulationEngineInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/goe-api/goalsimulationengine")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body)
                        .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GoeSimulationEngineOutputModel.from_dictionary)
            .is_api_response(True)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageGeneralException),
        ).execute()

    def goal_calculator(self,
                        body):
        """Perform a POST request to /api/goe-api/goalcalculator.

        Args:
            body (GoalCalculatorInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/goe-api/goalcalculator")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body)
                        .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GoalCalculatorOutputModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def goe_for_taxes(self,
                      body):
        """Perform a POST request to /GOEforTaxes.

        Args:
            body (GoeForTaxesInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/GOEforTaxes")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body)
                        .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GoeForTaxesOutputModel.from_dictionary)
            .is_api_response(True)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageGeneralException),
        ).execute()

    def goe_with_annuities(self,
                           body):
        """Perform a POST request to /api/goe-api/goeWithAnnuities.

        Args:
            body (GoeWithAnnuitiesInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/goe-api/goeWithAnnuities")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body)
                        .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AnnuitiesResponseModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()
