"""batesterwithcustomparameters.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler

from batesterwithcustomparameters.api_helper import (
    APIHelper,
)
from batesterwithcustomparameters.configuration import (
    Server,
)
from batesterwithcustomparameters.controllers.base_controller import (
    BaseController,
)
from batesterwithcustomparameters.http.http_method_enum import (
    HttpMethodEnum,
)


class APIController(BaseController):
    """A Controller to access Endpoints in the batesterwithcustomparameters API."""

    def __init__(self, config):
        """Initialize APIController object."""
        super(APIController, self).__init__(config)

    def get_basic_auth_test(self):
        """Perform a GET request to /auth/basic.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/auth/basic")
            .http_method(HttpMethodEnum.GET)
            .auth(Single("httpBasic")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()
