"""customheadersignature.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler

from customheadersignature.api_helper import (
    APIHelper,
)
from customheadersignature.configuration import (
    Server,
)
from customheadersignature.controllers.base_controller import (
    BaseController,
)
from customheadersignature.http.http_method_enum import (
    HttpMethodEnum,
)


class CustomHeaderSignatureController(BaseController):
    """A Controller to access Endpoints in the customheadersignature API."""

    def __init__(self, config):
        """Initialize CustomHeaderSignatureController object."""
        super(CustomHeaderSignatureController, self).__init__(config)

    def get_custom_header_signature(self):
        """Perform a GET request to /auth/customHeaderSignature.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/auth/customHeaderSignature")
            .http_method(HttpMethodEnum.GET)
            .auth(Single("httpHeader")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()
