"""commaseperatedarrayserialization.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.array_serialization_format import (
    SerializationFormats,
)
from apimatic_core.types.parameter import Parameter

from commaseperatedarrayserialization.api_helper import (
    APIHelper,
)
from commaseperatedarrayserialization.configuration import (
    Server,
)
from commaseperatedarrayserialization.controllers.base_controller import (
    BaseController,
)
from commaseperatedarrayserialization.http.http_method_enum import (
    HttpMethodEnum,
)
from commaseperatedarrayserialization.models.server_response import (
    ServerResponse,
)


class CommaSeperatedController(BaseController):
    """A Controller to access Endpoints in the commaseperatedarrayserialization API."""

    def __init__(self, config):
        """Initialize CommaSeperatedController object."""
        super(CommaSeperatedController, self).__init__(config)

    def get_comma_seperated_in_query(self,
                                     dependent):
        """Perform a GET request to /query/commaSeperated.

        Args:
            dependent (List[int]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/commaSeperated")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("dependent")
                         .value(dependent))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.CSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_comma_seperated_in_query_1(self,
                                       dependent):
        """Perform a GET request to /query/commaSeperated.

        Args:
            dependent (List[str]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/commaSeperated")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("dependent")
                         .value(dependent))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.CSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_comma_separated_complex_type_in_query(self,
                                                          complex_type):
        """Perform a POST request to /query/complex/comma.

        Args:
            complex_type (ComplexType): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/complex/comma")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                         .key("content")
                         .value("SIMPLE"))
            .query_param(Parameter()
                         .key("complexType")
                         .value(complex_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.CSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_comma_separated_list_of_complex_type_in_query(self,
                                                                  complex_type):
        """Perform a POST request to /query/complex/comma.

        Args:
            complex_type (List[ComplexType]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/complex/comma")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                         .key("content")
                         .value("ARRAY"))
            .query_param(Parameter()
                         .key("complexType")
                         .value(complex_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.CSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_comma_separated_map_of_complex_type_in_query(self,
                                                                 complex_type):
        """Perform a POST request to /query/complex/comma.

        Args:
            complex_type (Dict[str, ComplexType]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/complex/comma")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                         .key("content")
                         .value("MAP"))
            .query_param(Parameter()
                         .key("complexType")
                         .value(complex_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.CSV),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
