"""customauthentication.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler

from customauthentication.api_helper import (
    APIHelper,
)
from customauthentication.configuration import (
    Server,
)
from customauthentication.controllers.base_controller import (
    BaseController,
)
from customauthentication.http.http_method_enum import (
    HttpMethodEnum,
)


class CustomAuthenticationController(BaseController):
    """A Controller to access Endpoints in the customauthentication API."""

    def __init__(self, config):
        """Initialize CustomAuthenticationController object."""
        super(CustomAuthenticationController, self).__init__(config)

    def get_custom_authentication(self):
        """Perform a GET request to /auth/customAuthentication.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/auth/customAuthentication")
            .http_method(HttpMethodEnum.GET)
            .auth(Single("httpCustom")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()
