"""typecombinatorspecial.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from typecombinatorspecial.api_helper import (
    APIHelper,
)
from typecombinatorspecial.configuration import (
    Server,
)
from typecombinatorspecial.controllers.base_controller import (
    BaseController,
)
from typecombinatorspecial.exceptions.api_exception import (
    APIException,
)
from typecombinatorspecial.http.http_method_enum import (
    HttpMethodEnum,
)
from typecombinatorspecial.models.date_time_cases import (
    DateTimeCases,
)
from typecombinatorspecial.models.factoring_schema import (
    FactoringSchema,
)
from typecombinatorspecial.models.multiple_enums import (
    MultipleEnums,
)
from typecombinatorspecial.models.outer_model import (
    OuterModel,
)
from typecombinatorspecial.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class ReceiverController(BaseController):
    """A Controller to access Endpoints in the typecombinatorspecial API."""

    def __init__(self, config):
        """Initialize ReceiverController object."""
        super(ReceiverController, self).__init__(config)

    def enum_param(self,
                   case):
        """Perform a GET request to /get/enumparam.

        Args:
            case (CaseEnum): The request query parameter. Example: caseA

        Returns:
            List[DaysEnum | MonthNameEnum | MonthNumberEnum]: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/enumparam")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("case")
                .value(case)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("EnumParamResponse"), value))
            .local_error("400", "", APIException),
        ).execute()

    def date_time_param(self,
                        case):
        """Perform a GET request to /get/datetimeparam.

        Args:
            case (CaseEnum): The request query parameter. Example: caseA

        Returns:
            List[date | datetime]: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/datetimeparam")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("case")
                .value(case)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("DateTimeParamResponse"), value))
            .local_error("400", "", APIException),
        ).execute()

    def req_opt_param(self,
                      case):
        """Perform a GET request to /get/reqoptparam.

        Args:
            case (CaseEnum): The request query parameter. Example: caseA

        Returns:
            Cat | Dog | Rabbit: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/reqoptparam")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("case")
                .value(case)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("ReqOptParamResponse"), value))
            .local_error("400", "", APIException),
        ).execute()

    def multiple_enums(self,
                       case):
        """Perform a GET request to /get/multipleenums.

        Args:
            case (CaseEnum): The request query parameter. Example: caseA

        Returns:
            MultipleEnums: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/multipleenums")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("case")
                .value(case)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(MultipleEnums.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()

    def date_time_cases(self,
                        case):
        """Perform a GET request to /get/datetimecases.

        Args:
            case (CaseEnum): The request query parameter. Example: caseA

        Returns:
            DateTimeCases: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/datetimecases")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("case")
                .value(case)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DateTimeCases.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()

    def factoring_schema(self,
                         case):
        """Perform a GET request to /get/factoringcchema.

        Args:
            case (CaseEnum): The request query parameter. Example: caseA

        Returns:
            FactoringSchema: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/factoringcchema")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("case")
                .value(case)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(FactoringSchema.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()

    def get_enum_in_nested_model(self):
        """Perform a GET request to /get/enum_in_nested_model.

        Returns:
            OuterModel: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/enum_in_nested_model")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(OuterModel.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()
