"""typecombinatorspecial.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from typecombinatorspecial.api_helper import (
    APIHelper,
)
from typecombinatorspecial.configuration import (
    Server,
)
from typecombinatorspecial.controllers.base_controller import (
    BaseController,
)
from typecombinatorspecial.exceptions.api_exception import (
    APIException,
)
from typecombinatorspecial.http.http_method_enum import (
    HttpMethodEnum,
)
from typecombinatorspecial.models.server_response import (
    ServerResponse,
)
from typecombinatorspecial.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class SenderController(BaseController):
    """A Controller to access Endpoints in the typecombinatorspecial API."""

    def __init__(self, config):
        """Initialize SenderController object."""
        super(SenderController, self).__init__(config)

    def send_params(self,
                    template,
                    form_enum,
                    form_date_time,
                    query_req_opt,
                    header=None,
                    form_req_opt=None,
                    query_enum=None,
                    query_date_time=None):
        """Perform a POST request to /send/params/{template}.

        Args:
            template (DaysEnum | MonthNameEnum | MonthNumberEnum): The request
                template parameter.
            form_enum (List[DaysEnum | MonthNameEnum | MonthNumberEnum]): The request
                form parameter.
            form_date_time (List[date | datetime]): The request form parameter.
            query_req_opt (Cat | Dog | Rabbit): The request query parameter.
            header (datetime | str | None, optional): The request header parameter.
            form_req_opt (Cat | Dog | Rabbit | None, optional): The request form
                parameter.
            query_enum (List[DaysEnum | MonthNameEnum | MonthNumberEnum] | None,
                optional): The request query parameter.
            query_date_time (List[date | datetime] | None, optional): The request
                query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/params/{template}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("template")
                .value(template)
                .is_required(True)
                .should_encode(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsTemplate").validate(value)))
            .form_param(Parameter()
                .key("formEnum")
                .value(form_enum)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsFormEnum").validate(value)))
            .form_param(Parameter()
                .key("formDateTime")
                .value(APIHelper.apply_datetime_converter(
                       form_date_time,
                       APIHelper.UnixDateTime))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsFormDateTime").validate(value)))
            .query_param(Parameter()
                .key("queryReqOpt")
                .value(query_req_opt)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsQueryReqOpt").validate(value)))
            .header_param(Parameter()
                .key("header")
                .value(APIHelper.apply_datetime_converter(
                       header,
                       APIHelper.RFC3339DateTime))
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsHeader").validate(value)))
            .form_param(Parameter()
                .key("formReqOpt")
                .value(form_req_opt)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsFormReqOpt").validate(value)))
            .query_param(Parameter()
                .key("queryEnum")
                .value(query_enum)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsQueryEnum").validate(value)))
            .query_param(Parameter()
                .key("queryDateTime")
                .value(APIHelper.apply_datetime_converter(
                       query_date_time,
                       APIHelper.UnixDateTime))
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsQueryDateTime").validate(value)))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def send_params_default(self,
                            form_default_enum=February,
                            query_default_enum=Monday,
                            template_default_enum=1):
        """Perform a POST request to
        /send/params/default/{templateDefaultEnum}.

        Args:
            form_default_enum (DaysEnum | MonthNameEnum | MonthNumberEnum | None,
                optional): The request form parameter. Example: February
            query_default_enum (DaysEnum | MonthNameEnum | MonthNumberEnum | None,
                optional): The request query parameter. Example: Monday
            template_default_enum (DaysEnum | MonthNameEnum | MonthNumberEnum | None,
                optional): The request template parameter. Example: 1

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/params/default/{templateDefaultEnum}")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("formDefaultEnum")
                .value(form_default_enum)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsDefaultFormDefaultEnum").validate(value)))
            .query_param(Parameter()
                .key("queryDefaultEnum")
                .value(query_default_enum)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsDefaultQueryDefaultEnum").validate(value)))
            .template_param(Parameter()
                .key("templateDefaultEnum")
                .value(template_default_enum)
                .should_encode(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsDefaultTemplateDefaultEnum").validate(value)))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def send_collect_params(self,
                            options=dict()):
        """Perform a POST request to /send/collectparams/{template}.

        Args:
            options (dict, optional): Key-value pairs for any of the parameters to
                this API Endpoint. All parameters to the endpoint are supplied
                through the dictionary with their names being the key and their
                desired values being the value. A list of parameters that can be used
                are::
                    template -- DaysEnum | MonthNameEnum | MonthNumberEnum -- The
                        request template parameter.
                    form_enum -- List[DaysEnum | MonthNameEnum | MonthNumberEnum] --
                        The request form parameter.
                    form_date_time -- List[date | datetime] -- The request form
                        parameter.
                    query_req_opt -- Cat | Dog | Rabbit -- The request query
                        parameter.
                    header -- datetime | str | None -- The request header parameter.
                    form_req_opt -- Cat | Dog | Rabbit | None -- The request form
                        parameter.
                    query_enum -- List[DaysEnum | MonthNameEnum | MonthNumberEnum] |
                        None -- The request query parameter.
                    query_date_time -- List[date | datetime] | None -- The request
                        query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/collectparams/{template}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("template")
                .value(options.get("template", None))
                .is_required(True)
                .should_encode(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputTemplate").validate(value)))
            .form_param(Parameter()
                .key("formEnum")
                .value(options.get("form_enum", None))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputFormEnum").validate(value)))
            .form_param(Parameter()
                .key("formDateTime")
                .value(APIHelper.apply_datetime_converter(
                       options.get("form_date_time", None),
                       APIHelper.UnixDateTime))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputFormDateTime").validate(value)))
            .query_param(Parameter()
                .key("queryReqOpt")
                .value(options.get("query_req_opt", None))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputQueryReqOpt").validate(value)))
            .header_param(Parameter()
                .key("header")
                .value(APIHelper.apply_datetime_converter(
                       options.get("header", None),
                       APIHelper.RFC3339DateTime))
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputHeader").validate(value)))
            .form_param(Parameter()
                .key("formReqOpt")
                .value(options.get("form_req_opt", None))
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputFormReqOpt").validate(value)))
            .query_param(Parameter()
                .key("queryEnum")
                .value(options.get("query_enum", None))
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputQueryEnum").validate(value)))
            .query_param(Parameter()
                .key("queryDateTime")
                .value(APIHelper.apply_datetime_converter(
                       options.get("query_date_time", None),
                       APIHelper.UnixDateTime))
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputQueryDateTime").validate(value)))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def send_enum_param(self,
                        body):
        """Perform a POST request to /send/enumparam.

        Args:
            body (List[DaysEnum | MonthNameEnum | MonthNumberEnum]): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/enumparam")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .value(body)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendEnumParamBody").validate(value)))
            .header_param(Parameter()
                .key("content-type")
                .value(APIHelper.get_content_type(body)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def send_date_time_param(self,
                             body):
        """Perform a POST request to /send/datetimeparam.

        Args:
            body (List[date | datetime]): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/datetimeparam")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .value(APIHelper.apply_datetime_converter(
                       body,
                       APIHelper.UnixDateTime))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendDateTimeParamBody").validate(value)))
            .header_param(Parameter()
                .key("content-type")
                .value(APIHelper.get_content_type(body)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def send_req_opt_param(self,
                           body):
        """Perform a POST request to /send/reqoptparam.

        Args:
            body (Cat | Dog | Rabbit): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/reqoptparam")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .value(body)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendReqOptParamBody").validate(value)))
            .header_param(Parameter()
                .key("content-type")
                .value(APIHelper.get_content_type(body)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def send_combined(self,
                      body_enum,
                      body_date_time,
                      body_req_opt):
        """Perform a POST request to /send/combined.

        Args:
            body_enum (List[DaysEnum | MonthNameEnum | MonthNumberEnum]): The request
                body parameter.
            body_date_time (List[date | datetime]): The request body parameter.
            body_req_opt (Cat | Dog | Rabbit): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/combined")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .key("bodyEnum")
                .value(body_enum)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCombinedBodyEnum").validate(value)))
            .body_param(Parameter()
                .key("bodyDateTime")
                .value(APIHelper.apply_datetime_converter(
                       body_date_time,
                       APIHelper.UnixDateTime))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCombinedBodyDateTime").validate(value)))
            .body_param(Parameter()
                .key("bodyReqOpt")
                .value(body_req_opt)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCombinedBodyReqOpt").validate(value)))
            .header_param(Parameter()
                .key("content-type")
                .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize_wrapped_params),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def send_collect_combined(self,
                              options=dict()):
        """Perform a POST request to /send/collectcombined.

        Args:
            options (dict, optional): Key-value pairs for any of the parameters to
                this API Endpoint. All parameters to the endpoint are supplied
                through the dictionary with their names being the key and their
                desired values being the value. A list of parameters that can be used
                are::
                    body_enum -- List[DaysEnum | MonthNameEnum | MonthNumberEnum] --
                        The request body parameter.
                    body_date_time -- List[date | datetime] -- The request body
                        parameter.
                    body_req_opt -- Cat | Dog | Rabbit -- The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/collectcombined")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .key("bodyEnum")
                .value(options.get("body_enum", None))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectCombinedInputBodyEnum").validate(value)))
            .body_param(Parameter()
                .key("bodyDateTime")
                .value(APIHelper.apply_datetime_converter(
                       options.get("body_date_time", None),
                       APIHelper.UnixDateTime))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectCombinedInputBodyDateTime").validate(value)))
            .body_param(Parameter()
                .key("bodyReqOpt")
                .value(options.get("body_req_opt", None))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectCombinedInputBodyReqOpt").validate(value)))
            .header_param(Parameter()
                .key("content-type")
                .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize_wrapped_params),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def send_in_model_params(self,
                             form_date_time_cases,
                             query_date_time_cases,
                             query_factoring_schema,
                             form_multiple_enums=None,
                             form_factoring_schema=None,
                             query_multiple_enums=None):
        """Perform a POST request to /send/model.

        Args:
            form_date_time_cases (DateTimeCases): The request form parameter.
            query_date_time_cases (DateTimeCases): The request query parameter.
            query_factoring_schema (FactoringSchema): The request query parameter.
            form_multiple_enums (MultipleEnums, optional): The request form parameter.
            form_factoring_schema (FactoringSchema, optional): The request form
                parameter.
            query_multiple_enums (MultipleEnums, optional): The request query
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/model")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("formDateTimeCases")
                .value(form_date_time_cases)
                .is_required(True))
            .query_param(Parameter()
                .key("queryDateTimeCases")
                .value(query_date_time_cases)
                .is_required(True))
            .query_param(Parameter()
                .key("queryFactoringSchema")
                .value(query_factoring_schema)
                .is_required(True))
            .form_param(Parameter()
                .key("formMultipleEnums")
                .value(form_multiple_enums))
            .form_param(Parameter()
                .key("formFactoringSchema")
                .value(form_factoring_schema))
            .query_param(Parameter()
                .key("queryMultipleEnums")
                .value(query_multiple_enums))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def send_in_model(self,
                      date_time_cases,
                      factoring_schema,
                      multiple_enums=None):
        """Perform a POST request to /send/model/body.

        Args:
            date_time_cases (DateTimeCases): The request body parameter.
            factoring_schema (FactoringSchema): The request body parameter.
            multiple_enums (MultipleEnums, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/model/body")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .key("dateTimeCases")
                .value(date_time_cases)
                .is_required(True))
            .body_param(Parameter()
                .key("factoringSchema")
                .value(factoring_schema)
                .is_required(True))
            .body_param(Parameter()
                .key("multipleEnums")
                .value(multiple_enums))
            .header_param(Parameter()
                .key("content-type")
                .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize_wrapped_params),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()
