"""multipleresponsesmissingcontent.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from multipleresponsesmissingcontent.api_helper import (
    APIHelper,
)
from multipleresponsesmissingcontent.configuration import (
    Server,
)
from multipleresponsesmissingcontent.controllers.base_controller import (
    BaseController,
)
from multipleresponsesmissingcontent.http.http_method_enum import (
    HttpMethodEnum,
)
from multipleresponsesmissingcontent.models.responses_non_scalar_content_response import (  # noqa: E501
    ResponsesNonScalarContentResponse,
)


class APIController(BaseController):
    """A Controller to access Endpoints in the multipleresponsesmissingcontent API."""

    def __init__(self, config):
        """Initialize APIController object."""
        super(APIController, self).__init__(config)

    def get_non_scalar_content(self,
                               test_case=None):
        """Perform a GET request to /responses/nonScalarContent.

        Args:
            test_case (SelectorEnum, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response with content

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/responses/nonScalarContent")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("test_case")
                         .value(test_case))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponsesNonScalarContentResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_scalar_string_content(self,
                                  test_case=None):
        """Perform a GET request to /responses/scalarContent/string.

        Args:
            test_case (SelectorEnum, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response with content

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/responses/scalarContent/string")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("test_case")
                         .value(test_case)),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()

    def get_scalar_non_null_string(self,
                                   test_case=None):
        """Perform a GET request to /responses/scalarContent/non-null-string.

        Args:
            test_case (SelectorEnum, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response with 200

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/responses/scalarContent/non-null-string")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("test_case")
                         .value(test_case)),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()

    def get_scalar_number_content(self,
                                  test_case=None):
        """Perform a GET request to /responses/scalarContent/number.

        Args:
            test_case (SelectorEnum, optional): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.
                Successful response with content

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/responses/scalarContent/number")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("test_case")
                         .value(test_case)),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()
