"""typecombinatorglobal.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from deprecation import deprecated

from typecombinatorglobal.api_helper import (
    APIHelper,
)
from typecombinatorglobal.configuration import (
    Server,
)
from typecombinatorglobal.controllers.base_controller import (
    BaseController,
)
from typecombinatorglobal.http.http_method_enum import (
    HttpMethodEnum,
)
from typecombinatorglobal.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class FormController(BaseController):
    """A Controller to access Endpoints in the typecombinatorglobal API."""

    def __init__(self, config):
        """Initialize FormController object."""
        super(FormController, self).__init__(config)

    def send_all_of_discriminated(self,
                                  one_of_cat_dog_all_of_pet_type,
                                  one_of_cat_dog_oaf_pet_type,
                                  one_of_cat_dog_kind):
        """Perform a POST request to /discriminator/allof.

        Send all Globally defined allOf discriminated TypeCombinators in form

        Args:
            one_of_cat_dog_all_of_pet_type (Cat | Dog): OneOf (Cat, Dog) with
                "pet_type" discriminator without mapping
            one_of_cat_dog_oaf_pet_type (Cat | Dog): OneOf (Cat, Dog) with "pet_type"
                discriminator same as allOf with different mapping
            one_of_cat_dog_kind (Cat | Dog): OneOf (Cat, Dog) with an additional
                "kind" discriminator with mapping (small:Cat, large:Dog)

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/discriminator/allof")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("oneOfCatDog-AllOfPetType")
                .value(one_of_cat_dog_all_of_pet_type)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOfCatDogPetType-AllOf").validate(value)))
            .form_param(Parameter()
                .key("oneOfCatDog-OafPetType")
                .value(one_of_cat_dog_oaf_pet_type)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOfCatDogPetType-Oaf").validate(value)))
            .form_param(Parameter()
                .key("oneOfCatDog-Kind")
                .value(one_of_cat_dog_kind)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOfCatDogKind").validate(value)))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("OneOfCatDogPetType-AllOf"), value))
            .is_api_response(True),
        ).execute()

    def send_oaf_discriminated(self,
                               one_of_lion_and_dear,
                               one_of_lion_and_dear_2,
                               one_of_dear_and_one_of_lion_squirrel,
                               one_of_lion_and_squirrel_speed,
                               one_of_lion_and_squirrel_area):
        """Perform a POST request to /discriminator/oaf.

        Send all Globally defined oneOf and anyOf TypeCombinators in form

        Args:
            one_of_lion_and_dear (Lion | Deer): OneOf (Lion, Deer) with "type"
                discriminator of mapping (hunter:Lion, Hunted:Deer)
            one_of_lion_and_dear_2 (Lion | Deer): OneOf (Lion, Deer) with "type"
                discriminator of mapping (h$u\n( ,e),r:Lion, hunted:Deer)
            one_of_dear_and_one_of_lion_squirrel (Deer | Lion | Squirrel): Multi
                level OneOf (Deer, OneOf (Lion, Squirrel))
            one_of_lion_and_squirrel_speed (Lion | Squirrel): OneOf (Lion, Squirrel)
                with an additional "kind" property discriminator of mapping
                (fast:Lion, faster:Squirrel)
            one_of_lion_and_squirrel_area (Lion | Squirrel): OneOf (Lion, Squirrel)
                with an additional "kind" property discriminator of mapping
                (northener:Lion, westener:Squirrel)

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/discriminator/oaf")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("oneOfLionAndDear")
                .value(one_of_lion_and_dear)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOfLionDeerType").validate(value)))
            .form_param(Parameter()
                .key("oneOfLionAndDear2")
                .value(one_of_lion_and_dear_2)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOfLionDeerType2").validate(value)))
            .form_param(Parameter()
                .key("oneOfDearAndOneOfLionSquirrel")
                .value(one_of_dear_and_one_of_lion_squirrel)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOfDeerAndOneOfLionSquirrel").validate(value)))
            .form_param(Parameter()
                .key("oneOfLionAndSquirrelSpeed")
                .value(one_of_lion_and_squirrel_speed)
                .validator(lambda value: UnionTypeLookUp
                    .get("one of lion squirrel speed kind").validate(value)))
            .form_param(Parameter()
                .key("oneOfLionAndSquirrelArea")
                .value(one_of_lion_and_squirrel_area)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOfLionSquirrelAreaKind").validate(value)))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("SendOafDiscriminatedResponse"), value))
            .is_api_response(True),
        ).execute()

    def send_alias(self,
                   alias,
                   alias_of_alias):
        """Perform a POST request to /alias.

        Send all Globally defined TypeCombinators Aliases in form

        Args:
            alias (Lion | Deer): allOf (OneOfLionDeerType) and its an alias of
                OneOfLionDeerType
            alias_of_alias (Lion | Deer): allOf (LionVsDeer) and its an alias of
                LionVsDeer

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/alias")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("alias")
                .value(alias)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOfLionDeerType").validate(value)))
            .form_param(Parameter()
                .key("aliasOfAlias")
                .value(alias_of_alias)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOfLionDeerType").validate(value)))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("OneOfLionDeerType"), value))
            .is_api_response(True),
        ).execute()

    @deprecated(
        deprecated_in="2.0",
        details="This operation is deprecated. Use createPet",
    )
    def send_oaf_with_all_of_discriminated_variants(self,
                                                    one_of_animal_lion_disc_kind,
                                                    one_of_cat_lion_disc_kind,
                                                    one_of_animal_lion,
                                                    one_of_cat_lion,
                                                    one_of_cat_dog_and_lion_deer,
                                                    one_of_employee_entrepreneur_disc,
                                                    one_of_employee_entrepreneur):
        """Perform a POST request to /discriminator/oneof-with-allof.

        Send all Globally defined oneOf and anyOf TypeCombinators in form

        Args:
            one_of_animal_lion_disc_kind (Animal | Lion): OneOf (Animal, Lion) with
                "kind" discriminator of mapping (wild:Lion, pet:Animal)
            one_of_cat_lion_disc_kind (Cat | Lion): OneOf (Animal, Lion) with "kind"
                discriminator of mapping (wild:Lion, pet:Cat)
            one_of_animal_lion (Animal | Lion): OneOf (Animal, Lion) without
                discriminator. Here AllOf discriminator is implicitly applied through
                Animal.
            one_of_cat_lion (Cat | Lion): OneOf (Cat, Lion) without discriminator.
            one_of_cat_dog_and_lion_deer (Animal | Lion | Squirrel): OneOf (Animal,
                OneOfDeerAndOneOfLionSquirrel) without discriminator.
            one_of_employee_entrepreneur_disc (Employee | Entrepreneur): OneOf
                (Employee, Entrepreneur) with "build" discriminator of mapping
                (Endomorphs:Employee, Mesomorphs:Entrepreneur)
            one_of_employee_entrepreneur (Employee | Entrepreneur): OneOf (Employee,
                Entrepreneur) without discriminator mapping.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/discriminator/oneof-with-allof")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("oneOfAnimalLionDiscKind")
                .value(one_of_animal_lion_disc_kind)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOf-With-Discriminator-For-Animal-Lion-Kind").validate(value)))
            .form_param(Parameter()
                .key("oneOfCatLionDiscKind")
                .value(one_of_cat_lion_disc_kind)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOf-With-Discriminator-For-Cat-Lion-Kind").validate(value)))
            .form_param(Parameter()
                .key("oneOfAnimalLion")
                .value(one_of_animal_lion)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOf-Without-Discriminator-For-Animal-Lion").validate(value)))
            .form_param(Parameter()
                .key("oneOfCatLion")
                .value(one_of_cat_lion)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOf-Without-Discriminator-For-Cat-Lion-Kind").validate(value)))
            .form_param(Parameter()
                .key("oneOfCatDogAndLionDeer")
                .value(one_of_cat_dog_and_lion_deer)
                .validator(lambda value: UnionTypeLookUp
                    .get("Nested-OneOf-For-Animal-And-OneOfLionSquirrel").validate(value)))
            .form_param(Parameter()
                .key("oneOfEmployeeEntrepreneurDisc")
                .value(one_of_employee_entrepreneur_disc)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOf-With-Discriminator-Employee-Entrepreneur").validate(value)))
            .form_param(Parameter()
                .key("oneOfEmployeeEntrepreneur")
                .value(one_of_employee_entrepreneur)
                .validator(lambda value: UnionTypeLookUp
                    .get("OneOf-Without-Discriminator-Employee-Entrepreneur").validate(value)))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("SendOafWithAllOfDiscriminatedVariantsResponse"), value))
            .is_api_response(True),
        ).execute()
