"""typecombinatormoderate.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from typecombinatormoderate.api_helper import (
    APIHelper,
)
from typecombinatormoderate.configuration import (
    Server,
)
from typecombinatormoderate.controllers.base_controller import (
    BaseController,
)
from typecombinatormoderate.exceptions.api_exception import (
    APIException,
)
from typecombinatormoderate.http.http_method_enum import (
    HttpMethodEnum,
)
from typecombinatormoderate.models.mixed_model import (
    MixedModel,
)
from typecombinatormoderate.models.non_scalar_model import (
    NonScalarModel,
)
from typecombinatormoderate.models.scalar_model import (
    ScalarModel,
)
from typecombinatormoderate.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class ReceiverController(BaseController):
    """A Controller to access Endpoints in the typecombinatormoderate API."""

    def __init__(self, config):
        """Initialize ReceiverController object."""
        super(ReceiverController, self).__init__(config)

    def scalar_param(self,
                     case):
        """Perform a GET request to /get/scalarparam.

        Args:
            case (CaseEnum): The request query parameter. Example: caseA

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/scalarparam")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("case")
                         .value(case)
                         .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("ScalarParamResponse"), value))
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def non_scalar_param(self,
                         case):
        """Perform a GET request to /get/nonscalarparam.

        Args:
            case (CaseEnum): The request query parameter. Example: caseA

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/nonscalarparam")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("case")
                         .value(case)
                         .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("NonScalarParamResponse"), value))
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def mixed_param(self,
                    case):
        """Perform a GET request to /get/mixedparam.

        Args:
            case (CaseEnum): The request query parameter. Example: caseA

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/mixedparam")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("case")
                         .value(case)
                         .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("MixedParamResponse"), value))
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def scalar_model(self,
                     case):
        """Perform a GET request to /get/scalarmodel.

        Args:
            case (CaseEnum): The request query parameter. Example: caseA

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/scalarmodel")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("case")
                         .value(case)
                         .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ScalarModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def non_scalar_model(self,
                         case):
        """Perform a GET request to /get/nonscalarmodel.

        Args:
            case (CaseEnum): The request query parameter. Example: caseA

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/nonscalarmodel")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("case")
                         .value(case)
                         .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(NonScalarModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()

    def mixed_model(self,
                    case):
        """Perform a GET request to /get/mixedmodel.

        Args:
            case (CaseEnum): The request query parameter. Example: caseA

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/get/mixedmodel")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("case")
                         .value(case)
                         .is_required(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(MixedModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "", APIException),
        ).execute()
