"""typecombinatormoderate.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from typecombinatormoderate.api_helper import (
    APIHelper,
)
from typecombinatormoderate.configuration import (
    Server,
)
from typecombinatormoderate.controllers.base_controller import (
    BaseController,
)
from typecombinatormoderate.exceptions.api_exception import (
    APIException,
)
from typecombinatormoderate.http.http_method_enum import (
    HttpMethodEnum,
)
from typecombinatormoderate.models.server_response import (
    ServerResponse,
)
from typecombinatormoderate.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class SenderController(BaseController):
    """A Controller to access Endpoints in the typecombinatormoderate API."""

    def __init__(self, config):
        """Initialize SenderController object."""
        super(SenderController, self).__init__(config)

    def send_params(self,
                    template,
                    form_scalar,
                    form_non_scalar,
                    query_mixed,
                    header=None,
                    form_mixed=None,
                    query_scalar=None,
                    query_non_scalar=None):
        """Perform a POST request to /send/params/{template}.

        Args:
            template (List[float | str | List[List[float] | str]]): The request
                template parameter.
            form_scalar (List[float] | str | None): The request form parameter.
            form_non_scalar (Dict[str, Car | Morning | Atom]): The request form
                parameter.
            query_mixed (Dict[str, int] | Dict[str, Atom]): The request query
                parameter.
            header (float | str | None, optional): The request header parameter.
            form_mixed (Dict[str, int] | Dict[str, Atom] | None, optional): The
                request form parameter.
            query_scalar (List[float] | str | None, optional): The request query
                parameter.
            query_non_scalar (Dict[str, Car | Morning | Atom] | None, optional): The
                request query parameter.

        Returns:
            ServerResponse: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/params/{template}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("template")
                .value(template)
                .is_required(True)
                .should_encode(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsTemplate").validate(value)))
            .form_param(Parameter()
                .key("formScalar")
                .value(form_scalar)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsFormScalar").validate(value)))
            .form_param(Parameter()
                .key("formNonScalar")
                .value(form_non_scalar)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsFormNonScalar").validate(value)))
            .query_param(Parameter()
                .key("queryMixed")
                .value(query_mixed)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsQueryMixed").validate(value)))
            .header_param(Parameter()
                .key("header")
                .value(header)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsHeader").validate(value)))
            .form_param(Parameter()
                .key("formMixed")
                .value(form_mixed)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsFormMixed").validate(value)))
            .query_param(Parameter()
                .key("queryScalar")
                .value(query_scalar)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsQueryScalar").validate(value)))
            .query_param(Parameter()
                .key("queryNonScalar")
                .value(query_non_scalar)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendParamsQueryNonScalar").validate(value)))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()

    def send_collect_params(self,
                            options=dict()):
        """Perform a POST request to /send/collectparams/{template}.

        Args:
            options (dict, optional): Key-value pairs for any of the parameters to
                this API Endpoint. All parameters to the endpoint are supplied
                through the dictionary with their names being the key and their
                desired values being the value. A list of parameters that can be used
                are::
                    template -- List[float | str] -- The request template parameter.
                    form_scalar -- List[float] | str | None -- The request form
                        parameter.
                    form_non_scalar -- Dict[str, Car | Morning | Atom] -- The request
                        form parameter.
                    query_mixed -- Dict[str, int] | Dict[str, Atom] -- The request
                        query parameter.
                    header -- float | str | None -- The request header parameter.
                    form_mixed -- Dict[str, int] | Dict[str, Atom] | None -- The
                        request form parameter.
                    query_scalar -- List[float] | str | None -- The request query
                        parameter.
                    query_non_scalar -- Dict[str, Car | Morning | Atom] | None -- The
                        request query parameter.

        Returns:
            ServerResponse: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/collectparams/{template}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("template")
                .value(options.get("template", None))
                .is_required(True)
                .should_encode(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputTemplate").validate(value)))
            .form_param(Parameter()
                .key("formScalar")
                .value(options.get("form_scalar", None))
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputFormScalar").validate(value)))
            .form_param(Parameter()
                .key("formNonScalar")
                .value(options.get("form_non_scalar", None))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputFormNonScalar").validate(value)))
            .query_param(Parameter()
                .key("queryMixed")
                .value(options.get("query_mixed", None))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputQueryMixed").validate(value)))
            .header_param(Parameter()
                .key("header")
                .value(options.get("header", None))
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputHeader").validate(value)))
            .form_param(Parameter()
                .key("formMixed")
                .value(options.get("form_mixed", None))
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputFormMixed").validate(value)))
            .query_param(Parameter()
                .key("queryScalar")
                .value(options.get("query_scalar", None))
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputQueryScalar").validate(value)))
            .query_param(Parameter()
                .key("queryNonScalar")
                .value(options.get("query_non_scalar", None))
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectParamsInputQueryNonScalar").validate(value)))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()

    def send_scalar_param(self,
                          body):
        """Perform a POST request to /send/scalarparam.

        Args:
            body (List[float] | str | None): The request body parameter.

        Returns:
            ServerResponse: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/scalarparam")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .value(body)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendScalarParamBody").validate(value)))
            .header_param(Parameter()
                .key("content-type")
                .value(APIHelper.get_content_type(body)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()

    def send_non_scalar_param(self,
                              body):
        """Perform a POST request to /send/nonscalarparam.

        Args:
            body (Dict[str, Car | Morning | Atom]): The request body parameter.

        Returns:
            ServerResponse: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/nonscalarparam")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .value(body)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendNonScalarParamBody").validate(value)))
            .header_param(Parameter()
                .key("content-type")
                .value(APIHelper.get_content_type(body)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()

    def send_mixed_param(self,
                         body):
        """Perform a POST request to /send/mixedparam.

        Args:
            body (Dict[str, int] | Dict[str, Atom]): The request body parameter.

        Returns:
            ServerResponse: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/mixedparam")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .value(body)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendMixedParamBody").validate(value)))
            .header_param(Parameter()
                .key("content-type")
                .value(APIHelper.get_content_type(body)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()

    def send_combined(self,
                      body_scalar,
                      body_non_scalar,
                      body_mixed):
        """Perform a POST request to /send/combined.

        Args:
            body_scalar (List[float] | str): The request body parameter.
            body_non_scalar (Dict[str, Car | Morning | Atom]): The request body
                parameter.
            body_mixed (Dict[str, int] | Dict[str, Atom]): The request body parameter.

        Returns:
            ServerResponse: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/combined")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .key("bodyScalar")
                .value(body_scalar)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCombinedBodyScalar").validate(value)))
            .body_param(Parameter()
                .key("bodyNonScalar")
                .value(body_non_scalar)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCombinedBodyNonScalar").validate(value)))
            .body_param(Parameter()
                .key("bodyMixed")
                .value(body_mixed)
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCombinedBodyMixed").validate(value)))
            .header_param(Parameter()
                .key("content-type")
                .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize_wrapped_params),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()

    def send_collect_combined(self,
                              options=dict()):
        """Perform a POST request to /send/collectcombined.

        Args:
            options (dict, optional): Key-value pairs for any of the parameters to
                this API Endpoint. All parameters to the endpoint are supplied
                through the dictionary with their names being the key and their
                desired values being the value. A list of parameters that can be used
                are::
                    body_scalar -- List[float] | str -- The request body parameter.
                    body_non_scalar -- Dict[str, Car | Morning | Atom] -- The request
                        body parameter.
                    body_mixed -- Dict[str, int] | Dict[str, Atom] -- The request
                        body parameter.

        Returns:
            ServerResponse: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/collectcombined")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .key("bodyScalar")
                .value(options.get("body_scalar", None))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectCombinedInputBodyScalar").validate(value)))
            .body_param(Parameter()
                .key("bodyNonScalar")
                .value(options.get("body_non_scalar", None))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectCombinedInputBodyNonScalar").validate(value)))
            .body_param(Parameter()
                .key("bodyMixed")
                .value(options.get("body_mixed", None))
                .is_required(True)
                .validator(lambda value: UnionTypeLookUp
                    .get("SendCollectCombinedInputBodyMixed").validate(value)))
            .header_param(Parameter()
                .key("content-type")
                .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize_wrapped_params),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()

    def send_in_model_params(self,
                             form_non_scalar_model,
                             query_non_scalar_model,
                             query_mixed_model,
                             form_scalar_model=None,
                             form_mixed_model=None,
                             query_scalar_model=None):
        """Perform a POST request to /send/model.

        Args:
            form_non_scalar_model (NonScalarModel): The request form parameter.
            query_non_scalar_model (NonScalarModel): The request query parameter.
            query_mixed_model (MixedModel): The request query parameter.
            form_scalar_model (ScalarModel, optional): The request form parameter.
            form_mixed_model (MixedModel, optional): The request form parameter.
            query_scalar_model (ScalarModel, optional): The request query parameter.

        Returns:
            ServerResponse: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/model")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("formNonScalarModel")
                .value(form_non_scalar_model)
                .is_required(True))
            .query_param(Parameter()
                .key("queryNonScalarModel")
                .value(query_non_scalar_model)
                .is_required(True))
            .query_param(Parameter()
                .key("queryMixedModel")
                .value(query_mixed_model)
                .is_required(True))
            .form_param(Parameter()
                .key("formScalarModel")
                .value(form_scalar_model))
            .form_param(Parameter()
                .key("formMixedModel")
                .value(form_mixed_model))
            .query_param(Parameter()
                .key("queryScalarModel")
                .value(query_scalar_model))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()

    def send_in_model(self,
                      non_scalar_model,
                      mixed_model,
                      scalar_model=None):
        """Perform a POST request to /send/model/body.

        Args:
            non_scalar_model (NonScalarModel): The request body parameter.
            mixed_model (MixedModel): The request body parameter.
            scalar_model (ScalarModel, optional): The request body parameter.

        Returns:
            ServerResponse: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/send/model/body")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .key("nonScalarModel")
                .value(non_scalar_model)
                .is_required(True))
            .body_param(Parameter()
                .key("mixedModel")
                .value(mixed_model)
                .is_required(True))
            .body_param(Parameter()
                .key("scalarModel")
                .value(scalar_model))
            .header_param(Parameter()
                .key("content-type")
                .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize_wrapped_params),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .local_error("400", "", APIException),
        ).execute()
