"""allowadditionalenumitemsapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from allowadditionalenumitemsapi.api_helper import (
    APIHelper,
)
from allowadditionalenumitemsapi.configuration import (
    Server,
)
from allowadditionalenumitemsapi.controllers.base_controller import (
    BaseController,
)
from allowadditionalenumitemsapi.http.http_method_enum import (
    HttpMethodEnum,
)
from allowadditionalenumitemsapi.models.enums_allow_additional_response import (
    EnumsAllowAdditionalResponse,
)


class APIController(BaseController):
    """A Controller to access Endpoints in the allowadditionalenumitemsapi API."""

    def __init__(self, config):
        """Initialize APIController object."""
        super(APIController, self).__init__(config)

    def get_enums(self,
                  test_case=None):
        """Perform a GET request to /enums/allowAdditional.

        Args:
            test_case (TestCaseEnum, optional): The request query parameter.

        Returns:
            EnumsAllowAdditionalResponse: Response from the API. Successful response

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/enums/allowAdditional")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("test_case")
                .value(test_case))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(EnumsAllowAdditionalResponse.from_dictionary),
        ).execute()
