# -*- coding: utf-8 -*-

"""
unindexedarrayserialization

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from unindexedarrayserialization.api_helper import APIHelper
from unindexedarrayserialization.configuration import Server
from unindexedarrayserialization.http.api_response import ApiResponse
from unindexedarrayserialization.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from unindexedarrayserialization.http.http_method_enum import HttpMethodEnum
from apimatic_core.types.array_serialization_format import SerializationFormats
from unindexedarrayserialization.models.server_response import ServerResponse


class UnIndexedController(BaseController):

    """A Controller to access Endpoints in the unindexedarrayserialization API."""
    def __init__(self, config):
        super(UnIndexedController, self).__init__(config)

    def create_unindexed_form(self,
                              model):
        """Does a POST request to /form/unIndexed.

        Args:
            model (Employee): The request form parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/form/unIndexed')
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                        .key('model')
                        .value(model))
            .header_param(Parameter()
                          .key('content-type')
                          .value('application/x-www-form-urlencoded'))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .array_serialization_format(SerializationFormats.UN_INDEXED)
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
        ).execute()

    def get_un_indexed_query(self,
                             query_param):
        """Does a GET request to /query/unIndexed.

        Args:
            query_param (List[str]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/query/unIndexed')
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key('queryParam')
                         .value(query_param))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .array_serialization_format(SerializationFormats.UN_INDEXED)
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
        ).execute()

    def create_send_string_array_in_model_form(self,
                                               body):
        """Does a POST request to /form/unIndexedWithString.

        Args:
            body (Model): The request form parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/form/unIndexedWithString')
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                        .key('body')
                        .value(body))
            .header_param(Parameter()
                          .key('content-type')
                          .value('application/x-www-form-urlencoded'))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .array_serialization_format(SerializationFormats.UN_INDEXED)
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
        ).execute()

    def create_unindexed_body(self,
                              model):
        """Does a POST request to /body/unIndexed.

        Args:
            model (Employee): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/body/unIndexed')
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(model))
            .header_param(Parameter()
                          .key('content-type')
                          .value('application/json; charset=utf-8'))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
        ).execute()

    def create_send_unindexed_complex_type_in_query(self,
                                                    complex_type):
        """Does a POST request to /query/complex/unindexed.

        Args:
            complex_type (ComplexType): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/query/complex/unindexed')
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                         .key('content')
                         .value('SIMPLE'))
            .query_param(Parameter()
                         .key('complexType')
                         .value(complex_type))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .array_serialization_format(SerializationFormats.UN_INDEXED)
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
        ).execute()

    def create_send_unindexed_list_of_complex_type_in_query(self,
                                                            complex_type):
        """Does a POST request to /query/complex/unindexed.

        Args:
            complex_type (List[ComplexType]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/query/complex/unindexed')
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                         .key('content')
                         .value('ARRAY'))
            .query_param(Parameter()
                         .key('complexType')
                         .value(complex_type))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .array_serialization_format(SerializationFormats.UN_INDEXED)
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
        ).execute()

    def create_send_unindexed_map_of_complex_type_in_query(self,
                                                           complex_type):
        """Does a POST request to /query/complex/unindexed.

        Args:
            complex_type (Dict[str, ComplexType]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/query/complex/unindexed')
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                         .key('content')
                         .value('MAP'))
            .query_param(Parameter()
                         .key('complexType')
                         .value(complex_type))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .array_serialization_format(SerializationFormats.UN_INDEXED)
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True)
        ).execute()
