"""reportingapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from reportingapi.api_helper import APIHelper
from reportingapi.configuration import Server
from reportingapi.controllers.base_controller import (
    BaseController,
)
from reportingapi.exceptions.error_response_error_1_exception import (
    ErrorResponseError1Exception,
)
from reportingapi.http.http_method_enum import (
    HttpMethodEnum,
)
from reportingapi.models.batch_details_response import (
    BatchDetailsResponse,
)
from reportingapi.models.get_batch_details_response import (
    GetBatchDetailsResponse,
)
from reportingapi.models.get_batch_transaction_details_response import (
    GetBatchTransactionDetailsResponse,
)


class AuthorizationBatchesController(BaseController):
    """A Controller to access Endpoints in the reportingapi API."""

    def __init__(self, config):
        """Initialize AuthorizationBatchesController object."""
        super(AuthorizationBatchesController, self).__init__(config)

    def search_batches(self,
                       body,
                       v_correlation_id=None):
        """Perform a POST request to /batches/search.

        Endpoint allows users to search for batches of data using specific
        criteria (date type, date range and merchant id). Refer to the schema
        object for the filters.

        Args:
            body (BatchDetailsSearchRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation ID

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/batches/search")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BatchDetailsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorResponseError1Exception),
        ).execute()

    def get_batch_details(self,
                          merchant_id,
                          batch_number,
                          bank_number,
                          batch_type,
                          open_date,
                          terminal_number,
                          v_correlation_id=None,
                          page_size=None,
                          page_number=None):
        """Perform a GET request to /batches/transactions.

        Resource provides to retrieve information about transactions that have
        been grouped and processed together in a batch. A batch is a
        collection of related transactions that are processed and managed
        together for reconciliation.

        Args:
            merchant_id (str): Merchant ID (card acceptor identification code)
            batch_number (str): Number of the batch
            bank_number (int): the acquiring institution identification code
                (Bank ID)
            batch_type (BatchType2Enum): Type of batch - AUTH, UPLOAD.
                <br>AUTH - Authorization batches captured by processing system
                (host). <br>UPLOAD - Batch uploaded by merchant from the
                terminal.
            open_date (str): Batch Opened date
            terminal_number (int): The Unique identification number for every
                terminal of a merchant
            v_correlation_id (uuid|str, optional): Correlation ID
            page_size (int, optional): Number of record that you would want to
                retrieve per page <br> Default is 25 items per page.
            page_number (int, optional): This is the page number that you
                would like to retrieve <br> Default is page number 01

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/batches/transactions")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("merchantId")
                          .value(merchant_id))
            .header_param(Parameter()
                          .key("batchNumber")
                          .value(batch_number))
            .header_param(Parameter()
                          .key("bankNumber")
                          .value(bank_number))
            .query_param(Parameter()
                         .key("batchType")
                         .value(batch_type))
            .query_param(Parameter()
                         .key("openDate")
                         .value(open_date))
            .query_param(Parameter()
                         .key("terminalNumber")
                         .value(terminal_number))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .query_param(Parameter()
                         .key("pageSize")
                         .value(page_size))
            .query_param(Parameter()
                         .key("pageNumber")
                         .value(page_number))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetBatchDetailsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorResponseError1Exception),
        ).execute()

    def get_batch_transaction_details(self,
                                      bank_number,
                                      merchant_id,
                                      batch_number,
                                      retrieval_reference_number,
                                      batch_type,
                                      open_date,
                                      v_correlation_id=None):
        """Perform a GET request to /batches/transaction/{retrievalReferenceNumber}.

        The Resource allows users to retrieve detailed information about a
        specific transaction within a batch. Users can pass the retrieval
        reference number in the API request to specify the transaction want to
        get the details.Specific transaction details within a batch can be
        used for reconciliation and reporting purposes.

        Args:
            bank_number (int): the acquiring institution identification code
                (Bank ID)
            merchant_id (str): Merchant ID (card acceptor identification code)
            batch_number (str): Number of the batch
            retrieval_reference_number (str): A unique identifier used to
                reference and locate the batch of transactions.
            batch_type (BatchType2Enum): Type of batch - AUTH, UPLOAD.
                <br>AUTH - Authorization batches captured by processing system
                (host). <br>UPLOAD - Batch uploaded by merchant from the
                terminal.
            open_date (str): Batch Opened date
            v_correlation_id (uuid|str, optional): Correlation ID

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/batches/transaction/{retrievalReferenceNumber}")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("bankNumber")
                          .value(bank_number))
            .header_param(Parameter()
                          .key("merchantId")
                          .value(merchant_id))
            .header_param(Parameter()
                          .key("batchNumber")
                          .value(batch_number))
            .template_param(Parameter()
                            .key("retrievalReferenceNumber")
                            .value(retrieval_reference_number)
                            .should_encode(True))
            .query_param(Parameter()
                         .key("batchType")
                         .value(batch_type))
            .query_param(Parameter()
                         .key("openDate")
                         .value(open_date))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetBatchTransactionDetailsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorResponseError1Exception),
        ).execute()
