# -*- coding: utf-8 -*-

"""
reportingapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from reportingapi.api_helper import APIHelper
from reportingapi.configuration import Server
from reportingapi.http.api_response import ApiResponse
from reportingapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from reportingapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from reportingapi.models.summary_responses import SummaryResponses
from reportingapi.models.summary_card_network import SummaryCardNetwork
from reportingapi.models.summary_transaction_date import SummaryTransactionDate
from reportingapi.models.summary_detail_merchant import SummaryDetailMerchant
from reportingapi.models.summary_detail_division import SummaryDetailDivision
from reportingapi.models.summary_detail_store import SummaryDetailStore
from reportingapi.models.summary_detail_chain import SummaryDetailChain
from reportingapi.models.summary_detail_super_chain import SummaryDetailSuperChain
from reportingapi.exceptions.error_response_error_2_exception import ErrorResponseError2Exception


class AuthorizationsController(BaseController):

    """A Controller to access Endpoints in the reportingapi API."""
    def __init__(self, config):
        super(AuthorizationsController, self).__init__(config)

    def get_authorizations_summary(self,
                                   body,
                                   v_correlation_id=None):
        """Does a POST request to /authorizations/summary.

        Resource to get total summary of authorizations for given hierarchy
        and date range with card type and card network being optional
        parameters. Refer to the  schema object for the allowed hierarchies
        and specifications.

        Args:
            body (AuthTransactionsRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path('/authorizations/summary')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummaryResponses.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def get_authorizations_summary_by_card_network(self,
                                                   v_correlation_id=None,
                                                   body=None):
        """Does a POST request to /authorizations/summary/cardnetwork.

        Resource to get summary of authorizations grouped by card networks for
        given hierarchy and date range with card type and card network being
        optional parameters. Refer to the schema object for the allowed
        hierarchies and specifications.

        Args:
            v_correlation_id (uuid|str, optional): Correlation Id.
            body (AuthTransactionsSummaryRequestByCardNetwork, optional): The
                request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path('/authorizations/summary/cardnetwork')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummaryCardNetwork.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def get_authorizations_summary_by_transaction_date(self,
                                                       v_correlation_id=None,
                                                       body=None):
        """Does a POST request to /authorizations/summary/transactiondate.

        Resource to get summary of authorizations grouped by transaction dates
        for given hierarchy and date range with card type and card network
        being optional parameters. Refer to the schema object for the allowed
        hierarchies and specifications.

        Args:
            v_correlation_id (uuid|str, optional): Correlation Id.
            body (AuthTransactionsSummaryRequestByTransactionDate, optional):
                The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path('/authorizations/summary/transactiondate')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummaryTransactionDate.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def get_authorizations_summary_by_merchant(self,
                                               v_correlation_id=None,
                                               body=None):
        """Does a POST request to /authorizations/summary/merchant.

        Resource to get summary of authorizations for given parameters grouped
        by merchants for given hierarchy and date range with card type and
        card network being optional parameters. Refer to the schema object for
        the allowed hierarchies and specifications.

        Args:
            v_correlation_id (uuid|str, optional): Correlation Id.
            body (AuthTransactionsSummaryRequestByMerchant, optional): The
                request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path('/authorizations/summary/merchant')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummaryDetailMerchant.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def get_authorizations_summary_by_division(self,
                                               v_correlation_id=None,
                                               body=None):
        """Does a POST request to /authorizations/summary/division.

        Resource to get summary of authorizations grouped by divisions for
        given hierarchy and date range with card type and card network being
        optional parameters. Refer to the schema object for the allowed
        hierarchies and specifications.

        Args:
            v_correlation_id (uuid|str, optional): Correlation Id.
            body (AuthTransactionsRequestByDivision, optional): The request
                body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path('/authorizations/summary/division')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummaryDetailDivision.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def get_authorizations_summary_by_store(self,
                                            v_correlation_id=None,
                                            body=None):
        """Does a POST request to /authorizations/summary/store.

        Resource to get summary of authorizations grouped by stores for given
        hierarchy and date range with card type and card network being
        optional parameters. Refer to the schema object for the allowed
        hierarchies and specifications.

        Args:
            v_correlation_id (uuid|str, optional): Correlation Id.
            body (AuthTransactionsRequestByStore, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path('/authorizations/summary/store')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummaryDetailStore.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def get_authorizations_summary_by_chain(self,
                                            v_correlation_id=None,
                                            body=None):
        """Does a POST request to /authorizations/summary/chain.

        Resource to get summary of authorizations grouped by chains for given
        hierarchy and date range with card type and card network being
        optional parameters. Refer to the schema object for the allowed
        hierarchies and specifications.

        Args:
            v_correlation_id (uuid|str, optional): Correlation Id.
            body (AuthTransactionsRequestByChain, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path('/authorizations/summary/chain')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummaryDetailChain.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def get_authorizations_summary_by_super_chain(self,
                                                  v_correlation_id=None,
                                                  body=None):
        """Does a POST request to /authorizations/summary/superchain.

        Resource to get summary of authorizations grouped by superchains for
        given hierarchy and date range with card type and card network being
        optional parameters. Refer to the schema object for the allowed
        hierarchies and specifications.

        Args:
            v_correlation_id (uuid|str, optional): Correlation Id.
            body (AuthTransactionsRequestBySuperChain, optional): The request
                body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path('/authorizations/summary/superchain')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummaryDetailSuperChain.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()
