# -*- coding: utf-8 -*-

"""
reportingapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from reportingapi.api_helper import APIHelper
from reportingapi.configuration import Server
from reportingapi.http.api_response import ApiResponse
from reportingapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from reportingapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from reportingapi.models.credit_activity_summary_response import CreditActivitySummaryResponse
from reportingapi.models.debit_activity_summary_response import DebitActivitySummaryResponse
from reportingapi.models.gift_activity_summary_response import GiftActivitySummaryResponse
from reportingapi.exceptions.error_response_error_2_exception import ErrorResponseError2Exception


class CardActivityController(BaseController):

    """A Controller to access Endpoints in the reportingapi API."""
    def __init__(self, config):
        super(CardActivityController, self).__init__(config)

    def getsettlementssummarybycardnetworks(self,
                                            v_correlation_id=None,
                                            body=None):
        """Does a POST request to /cardactivity/summary/credit.

        Endpoint is used to get the summaries for different card networks for
        the respective card numbers. Optional fields are used to filter the
        search criteria.

        Args:
            v_correlation_id (uuid|str, optional): Correlation Id.
            body (CreditCardActivitySummaryRequest, optional): The request
                body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT8)
            .path('/cardactivity/summary/credit')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CreditActivitySummaryResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def getcardactivitysummarybydebit(self,
                                      v_correlation_id=None,
                                      body=None):
        """Does a POST request to /cardactivity/summary/debit.

        Endpoint is used to get the summaries for different card networks for
        the respective card numbers. Optional fields are used to filter the
        search criteria.

        Args:
            v_correlation_id (uuid|str, optional): Correlation Id.
            body (DebitCardActivitySummaryRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT8)
            .path('/cardactivity/summary/debit')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DebitActivitySummaryResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def getcardactivitysummarybygift(self,
                                     v_correlation_id=None,
                                     body=None):
        """Does a POST request to /cardactivity/summary/gift.

        Endpoint is used to get the summaries for different card networks for
        the respective card numbers. Optional fields are used to filter the
        search criteria.

        Args:
            v_correlation_id (uuid|str, optional): Correlation Id.
            body (GiftCardActivitySummaryRequest, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT8)
            .path('/cardactivity/summary/gift')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GiftActivitySummaryResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()
