# -*- coding: utf-8 -*-

"""
reportingapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from reportingapi.api_helper import APIHelper
from reportingapi.configuration import Server
from reportingapi.http.api_response import ApiResponse
from reportingapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from reportingapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from reportingapi.models.search_by_category_response import SearchByCategoryResponse
from reportingapi.models.ach_rejects_search_response import ACHRejectsSearchResponse
from reportingapi.exceptions.error_error_1_exception import ErrorError1Exception


class DepositDetailsController(BaseController):

    """A Controller to access Endpoints in the reportingapi API."""
    def __init__(self, config):
        super(DepositDetailsController, self).__init__(config)

    def search_deposit_details(self,
                               body,
                               v_correlation_id=None):
        """Does a POST request to /deposits/search.

        Endpoint is used to get the deposit details at different hierarchy
        levels for respective date range. Optionals fields is used to filter
        the serach criteria.

        Args:
            body (DepositSearchRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Ok

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path('/deposits/search')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SearchByCategoryResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorError1Exception)
        ).execute()

    def searchdepositerrors(self,
                            body,
                            v_correlation_id=None):
        """Does a POST request to /depositerrors/search.

        Endpoint is used to get the deposit error details at different
        hierarchy levels for respective date range. Optionals fields is used
        to filter the serach criteria.

        Args:
            body (ACHRejectsSearchRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path('/depositerrors/search')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ACHRejectsSearchResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorError1Exception)
        ).execute()
