# -*- coding: utf-8 -*-

"""
reportingapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from reportingapi.api_helper import APIHelper
from reportingapi.configuration import Server
from reportingapi.http.api_response import ApiResponse
from reportingapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from reportingapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from reportingapi.models.summary_responses_1 import SummaryResponses1
from reportingapi.models.deposit_summary_by_date import DepositSummaryByDate
from reportingapi.models.summary_settlement_type import SummarySettlementType
from reportingapi.models.summary_account_number import SummaryAccountNumber
from reportingapi.models.deposit_summary_merchant_response import DepositSummaryMerchantResponse
from reportingapi.models.deposit_summary_store_response import DepositSummaryStoreResponse
from reportingapi.models.deposit_summary_division_response import DepositSummaryDivisionResponse
from reportingapi.models.deposit_summary_chain_response import DepositSummaryChainResponse
from reportingapi.models.deposit_summary_super_chain_response import DepositSummarySuperChainResponse
from reportingapi.exceptions.error_response_error_2_exception import ErrorResponseError2Exception


class DepositSummaryController(BaseController):

    """A Controller to access Endpoints in the reportingapi API."""
    def __init__(self, config):
        super(DepositSummaryController, self).__init__(config)

    def summary(self,
                body,
                v_correlation_id=None):
        """Does a POST request to /deposits/summary.

        Resource to get total summary of deposits for given hierarchy and date
        range. Refer to the  schema object for the allowed hierarchies and
        specifications.

        Args:
            body (SummaryRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT5)
            .path('/deposits/summary')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummaryResponses1.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def summary_by_date(self,
                        body,
                        v_correlation_id=None):
        """Does a POST request to /deposits/summary/date.

        Resource to get summary of deposits grouped by dates for given
        hierarchy and date range. Refer to the schema object for the allowed
        hierarchies and specifications.

        Args:
            body (DepositSummaryRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT5)
            .path('/deposits/summary/date')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DepositSummaryByDate.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def summary_by_settlement_type(self,
                                   body,
                                   v_correlation_id=None):
        """Does a POST request to /deposits/summary/settlementtype.

        Resource to get summary of deposits grouped by settlement types for
        given hierarchy and date range with settlement type being an optional
        parameters. Refer to the schema object for the allowed hierarchies and
        specifications.

        Args:
            body (DepositSettlementSummaryRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT5)
            .path('/deposits/summary/settlementtype')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummarySettlementType.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def summary_by_account_number(self,
                                  body,
                                  v_correlation_id=None):
        """Does a POST request to /deposits/summary/accountnumber.

        Resource to get summary of deposits grouped by account number for
        given hierarchy and date range with account number being an optional
        parameters. Refer to the schema object for the allowed hierarchies and
        specifications.

        Args:
            body (DepositAccountNumberRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT5)
            .path('/deposits/summary/accountnumber')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummaryAccountNumber.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def summary_by_merchant(self,
                            body,
                            v_correlation_id=None):
        """Does a POST request to /deposits/summary/merchant.

        Resource to get summary of deposits grouped by merchants for given
        hierarchy and date range. Refer to the schema object for the allowed
        hierarchies and specifications.

        Args:
            body (DepositSummaryMerchantRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT5)
            .path('/deposits/summary/merchant')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DepositSummaryMerchantResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def summary_by_store(self,
                         body,
                         v_correlation_id=None):
        """Does a POST request to /deposits/summary/store.

        Resource to get summary of deposits grouped by stores for given
        hierarchy and date range. Refer to the schema object for the allowed
        hierarchies and specifications.

        Args:
            body (DepositSummaryStoreRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT5)
            .path('/deposits/summary/store')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DepositSummaryStoreResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def summary_by_division(self,
                            body,
                            v_correlation_id=None):
        """Does a POST request to /deposits/summary/division.

        Resource to get summary of deposits grouped by divisions for given
        hierarchy and date range. Refer to the schema object for the allowed
        hierarchies and specifications.

        Args:
            body (DepositSummaryDivisionRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT5)
            .path('/deposits/summary/division')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DepositSummaryDivisionResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def summary_by_chain(self,
                         body,
                         v_correlation_id=None):
        """Does a POST request to /deposits/summary/chain.

        Resource to get summary of deposits grouped by chains for given
        hierarchy and date range. Refer to the schema object for the allowed
        hierarchies and specifications.

        Args:
            body (DepositSummaryChainRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT5)
            .path('/deposits/summary/chain')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DepositSummaryChainResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()

    def summary_by_super_chain(self,
                               body,
                               v_correlation_id=None):
        """Does a POST request to /deposits/summary/superchain.

        Resource to get summary of deposits grouped by superchains for given
        hierarchy and date range. Refer to the schema object for the allowed
        hierarchies and specifications.

        Args:
            body (DepositSummarySuperChainRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT5)
            .path('/deposits/summary/superchain')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DepositSummarySuperChainResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError2Exception)
        ).execute()
