"""reportingapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from reportingapi.api_helper import APIHelper
from reportingapi.configuration import Server
from reportingapi.controllers.base_controller import (
    BaseController,
)
from reportingapi.exceptions.error_response_error_4_exception import (
    ErrorResponseError4Exception,
)
from reportingapi.http.http_method_enum import (
    HttpMethodEnum,
)
from reportingapi.models.leads_count_category_common_response import (
    LeadsCountCategoryResponse,
)
from reportingapi.models.leads_count_closed_lost_reason_common_response import (
    LeadsCountClosedLostReasonResponse,
)
from reportingapi.models.leads_count_disqualified_common_response import (
    LeadsCountDisqualifiedResponse,
)
from reportingapi.models.leads_count_source_common_response import (
    LeadsCountSourceResponse,
)
from reportingapi.models.leads_summary_month_common_response import (
    LeadsSummaryMonthResponse,
)


class LeadsController(BaseController):
    """A Controller to access Endpoints in the reportingapi API."""

    def __init__(self, config):
        """Initialize LeadsController object."""
        super(LeadsController, self).__init__(config)

    def post_leads_summary_month(self,
                                 body,
                                 v_correlation_id=None):
        """Perform a POST request to /leads/summary/month.

        Retrieves leads summary for independent sales channel code(s) for
        selected month range.

        Args:
            body (LeadsSummaryMonthRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT6)
            .path("/leads/summary/month")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LeadsSummaryMonthResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorResponseError4Exception),
        ).execute()

    def post_leads_count_category(self,
                                  body,
                                  v_correlation_id=None):
        """Perform a POST request to /leads/count/category.

        Retrieves leads category and its counts for independent sales channel
        code(s) for selected month range.

        Args:
            body (LeadsCountCategoryRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT6)
            .path("/leads/count/category")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LeadsCountCategoryResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorResponseError4Exception),
        ).execute()

    def post_leads_count_source(self,
                                body,
                                v_correlation_id=None):
        """Perform a POST request to /leads/count/source.

        Retrieves leads counts and its source for independendent sales channel
        code(s) for selected month range lead source.

        Args:
            body (LeadsCountSourceRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT6)
            .path("/leads/count/source")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LeadsCountSourceResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorResponseError4Exception),
        ).execute()

    def post_leads_count_disqualified(self,
                                      body,
                                      v_correlation_id=None):
        """Perform a POST request to /leads/count/disqualification-reasons.

        Retrieves leads counts with its disqualification reason for
        independendent sales channel code(s) for selected month range.

        Args:
            body (LeadsCountDisqualifiedRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT6)
            .path("/leads/count/disqualification-reasons")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LeadsCountDisqualifiedResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorResponseError4Exception),
        ).execute()

    def post_leads_count_closed_lost(self,
                                     body,
                                     v_correlation_id=None):
        """Perform a POST request to /leads/count/closed-lost-reasons.

        Retrieves leads count with its closed lost reason for independendent
        sales channel code(s) for selected month range.

        Args:
            body (LeadsCountClosedlostreasonsRequest): The request body
                parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT6)
            .path("/leads/count/closed-lost-reasons")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LeadsCountClosedLostReasonResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorResponseError4Exception),
        ).execute()
