# -*- coding: utf-8 -*-

"""
reportingapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from reportingapi.api_helper import APIHelper
from reportingapi.configuration import Server
from reportingapi.http.api_response import ApiResponse
from reportingapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from reportingapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from reportingapi.models.pending_leads_merchant_common_summary_response import PendingLeadsSummaryMerchantResponse
from reportingapi.exceptions.error_response_error_4_exception import ErrorResponseError4Exception


class PendingLeadsController(BaseController):

    """A Controller to access Endpoints in the reportingapi API."""
    def __init__(self, config):
        super(PendingLeadsController, self).__init__(config)

    def post_pending_leads_summary_merchant(self,
                                            body,
                                            v_correlation_id=None):
        """Does a POST request to /pending-leads/summary/merchant.

        Retrieves pending leads summary for merchants.

        Args:
            body (PendingLeadsSummaryMerchantRequest): The request body
                parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT6)
            .path('/pending-leads/summary/merchant')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PendingLeadsSummaryMerchantResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError4Exception)
        ).execute()
