# -*- coding: utf-8 -*-

"""
reportingapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from reportingapi.api_helper import APIHelper
from reportingapi.configuration import Server
from reportingapi.http.api_response import ApiResponse
from reportingapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from reportingapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from reportingapi.models.search_auth_real_time_transactions_response import SearchAuthRealTimeTransactionsResponse
from reportingapi.models.credit_transaction_details_response import CreditTransactionDetailsResponse
from reportingapi.models.debit_transaction_details_response import DebitTransactionDetailsResponse
from reportingapi.models.gift_real_transaction_details_response import GiftRealTransactionDetailsResponse
from reportingapi.exceptions.error_exception import ErrorException


class RealTimeAuthorizationsController(BaseController):

    """A Controller to access Endpoints in the reportingapi API."""
    def __init__(self, config):
        super(RealTimeAuthorizationsController, self).__init__(config)

    def search_real_authorizations(self,
                                   body,
                                   v_correlation_id=None):
        """Does a POST request to /authorizations/realtime/search.

        Endpoint is used to retrieve the authorized transaction (approved or
        declined) details for a given hierarchy and date range. It provides
        the real time (current date) transaction details. It helps the user to
        perform a search based on optional fields.

        Args:
            body (SearchAuthRealTransactionsRequest): The request body
                parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path('/authorizations/realtime/search')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SearchAuthRealTimeTransactionsResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorException)
        ).execute()

    def retrieve_real_time_transaction_detals_by_credit_transaction_id(self,
                                                                       transaction_id,
                                                                       v_correlation_id=None):
        """Does a GET request to /authorizations/realtime/credit/{transactionId}.

        Retrieves individual credit transaction details for supplied
        transaction id.

        Args:
            transaction_id (str): Transaction id is a unique identifier
                generated for every card transaction for tracking purposes.
                (12-18 digits)
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path('/authorizations/realtime/credit/{transactionId}')
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key('transactionId')
                            .value(transaction_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CreditTransactionDetailsResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorException)
        ).execute()

    def retrieve_real_time_transaction_detals_by_debit_transaction_id(self,
                                                                      transaction_id,
                                                                      v_correlation_id=None):
        """Does a GET request to /authorizations/realtime/debit/{transactionId}.

        Retrieves individual debit transaction details  for supplied
        transaction id.

        Args:
            transaction_id (str): Transaction id is a unique identifier
                generated for every card transaction for tracking purposes.
                (12-18 digits)
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path('/authorizations/realtime/debit/{transactionId}')
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key('transactionId')
                            .value(transaction_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DebitTransactionDetailsResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorException)
        ).execute()

    def retrieve_real_time_transaction_detals_by_gift_transaction_id(self,
                                                                     transaction_id,
                                                                     v_correlation_id=None):
        """Does a GET request to /authorizations/realtime/gift/{transactionId}.

        Retrieves individual gift transaction details  for supplied
        transaction id.

        Args:
            transaction_id (str): Transaction id is a unique identifier
                generated for every card transaction for tracking purposes.
                (12-18 digits)
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path('/authorizations/realtime/gift/{transactionId}')
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key('transactionId')
                            .value(transaction_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GiftRealTransactionDetailsResponse.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorException)
        ).execute()
