# -*- coding: utf-8 -*-

"""
reportingapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from reportingapi.api_helper import APIHelper
from reportingapi.configuration import Server
from reportingapi.http.api_response import ApiResponse
from reportingapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from reportingapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from reportingapi.models.summaries_inner import SummariesInner
from reportingapi.models.summary_verticals import SummaryVerticals
from reportingapi.models.vas_subscriptions_by_gross_revenue import VASSubscriptionsByGrossRevenue
from reportingapi.exceptions.error_response_error_3_exception import ErrorResponseError3Exception


class RevenueController(BaseController):

    """A Controller to access Endpoints in the reportingapi API."""
    def __init__(self, config):
        super(RevenueController, self).__init__(config)

    def search_summary_by_parties(self,
                                  body,
                                  v_correlation_id=None):
        """Does a POST request to /revenues/summary/parties.

        Amount (USD) to be receive per transaction. Revenue Endpoints provides
        drill down details contributing to gross revenue and settled volume.
        It  provides trend of revenue by considering effective rate, revenue
        earned per transaction and VAS (Value Added Services) for chains that
        falls under ISCs aligned with the partners.

        Args:
            body (RevenueByPartyRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): A unique identifier value
                attached to a request

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path('/revenues/summary/parties')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummariesInner.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError3Exception)
        ).execute()

    def search_summary_by_verticals(self,
                                    body,
                                    v_correlation_id=None):
        """Does a POST request to /revenues/summary/verticals.

        Resource is used to get total effective rate and total processing rate
        by verticals. Revenue Endpoints provides drill down details
        contributing to gross revenue and settled volume. It  provides trend
        of revenue by considering effective rate, revenue earned per
        transaction and VAS (Value Added Services) for chains that falls under
        ISCs aligned with the partners.

        Args:
            body (RevenueByVerticalsRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): A unique identifier value
                attached to a request

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path('/revenues/summary/verticals')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummaryVerticals.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError3Exception)
        ).execute()

    def search_summary_by_value_added_services(self,
                                               body,
                                               v_correlation_id=None):
        """Does a POST request to /revenues/summary/valueaddedservices.

        Resource is used to get revenue summary by value added services.
        Revenue Endpoints provides drill down details contributing to gross
        revenue and settled volume. It  provides trend of revenue by
        considering effective rate, revenue earned per transaction and VAS
        (Value Added Services) for chains that falls under ISCs aligned with
        the partners.

        Args:
            body (RevenueVASRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): A unique identifier value
                attached to a request

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path('/revenues/summary/valueaddedservices')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('v-correlation-id')
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('api_key'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(VASSubscriptionsByGrossRevenue.from_dictionary)
            .is_api_response(True)
            .local_error('default', 'Default errors', ErrorResponseError3Exception)
        ).execute()
