"""reportingapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from reportingapi.api_helper import APIHelper
from reportingapi.configuration import Server
from reportingapi.controllers.base_controller import (
    BaseController,
)
from reportingapi.exceptions.error_error_2_exception import (
    ErrorError2Exception,
)
from reportingapi.http.http_method_enum import (
    HttpMethodEnum,
)
from reportingapi.models.bank_card_rejects_search_response import (
    BankCardRejectsSearchResponse,
)
from reportingapi.models.settlement_rejects_search_response import (
    SettlementRejectsSearchResponse,
)


class SettlementErrorsController(BaseController):
    """A Controller to access Endpoints in the reportingapi API."""

    def __init__(self, config):
        """Initialize SettlementErrorsController object."""
        super(SettlementErrorsController, self).__init__(config)

    def search_settlement_rejects(self,
                                  body,
                                  v_correlation_id=None):
        """Perform a POST request to /settlementerrors/settlementfileerrors/search.

        Resource to search settlement rejects

        Args:
            body (SettlementRejectsSearchRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT7)
            .path("/settlementerrors/settlementfileerrors/search")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SettlementRejectsSearchResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorError2Exception),
        ).execute()

    def search_bank_card_rejects(self,
                                 body,
                                 v_correlation_id=None):
        """Perform a POST request to
        /settlementerrors/pendingsettlementbatches/search.

        Resource to search bank card rejects

        Args:
            body (BankCardRejectsSearchRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT7)
            .path("/settlementerrors/pendingsettlementbatches/search")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BankCardRejectsSearchResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorError2Exception),
        ).execute()
