"""reportingapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from reportingapi.api_helper import APIHelper
from reportingapi.configuration import Server
from reportingapi.controllers.base_controller import (
    BaseController,
)
from reportingapi.exceptions.error_response_error_4_exception import (
    ErrorResponseError4Exception,
)
from reportingapi.http.http_method_enum import (
    HttpMethodEnum,
)
from reportingapi.models.signed_deals_common_summary_response import (
    SignedDealsSummaryMonthResponse,
)
from reportingapi.models.signed_deals_merchant_common_summary_response import (
    SignedDealsSummaryMerchantResponse,
)


class SignedDealsController(BaseController):
    """A Controller to access Endpoints in the reportingapi API."""

    def __init__(self, config):
        """Initialize SignedDealsController object."""
        super(SignedDealsController, self).__init__(config)

    def post_signed_deals_summary_month(self,
                                        body,
                                        v_correlation_id=None):
        """Perform a POST request to /signed-deals/summary/month.

        Retrieves signed deals summary for independendent sales channel
        code(s) for selected month range.

        Args:
            body (SignedDealsSummaryMonthRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT6)
            .path("/signed-deals/summary/month")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SignedDealsSummaryMonthResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorResponseError4Exception),
        ).execute()

    def postsignedmerchantsummary(self,
                                  body,
                                  v_correlation_id=None):
        """Perform a POST request to /signed-deals/summary/merchant.

        Retrieves signed deals summary for merchant

        Args:
            body (SignedDealsSummaryMerchantRequest): The request body
                parameter.
            v_correlation_id (uuid|str, optional): Correlation Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT6)
            .path("/signed-deals/summary/merchant")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SignedDealsSummaryMerchantResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorResponseError4Exception),
        ).execute()
