"""reportingapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from reportingapi.api_helper import APIHelper
from reportingapi.configuration import Server
from reportingapi.controllers.base_controller import (
    BaseController,
)
from reportingapi.exceptions.error_response_error_3_exception import (
    ErrorResponseError3Exception,
)
from reportingapi.http.http_method_enum import (
    HttpMethodEnum,
)
from reportingapi.models.summary_by_verticals import (
    SummaryByVerticals,
)


class VerticalsController(BaseController):
    """A Controller to access Endpoints in the reportingapi API."""

    def __init__(self, config):
        """Initialize VerticalsController object."""
        super(VerticalsController, self).__init__(config)

    def retrieve_summary_by_verticals(self,
                                      body,
                                      v_correlation_id=None):
        """Perform a POST request to /verticals/summary.

        Resource is used to get settled transactions summary for respective
        independent sales channel and months and group by verticals.

        Args:
            body (VerticalsRequest): The request body parameter.
            v_correlation_id (uuid|str, optional): A unique identifier value
                attached to a request

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/verticals/summary")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SummaryByVerticals.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorResponseError3Exception),
        ).execute()
