"""fortisapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from fortisapi.api_helper import APIHelper
from fortisapi.configuration import Server
from fortisapi.controllers.base_controller import (
    BaseController,
)
from fortisapi.exceptions.response_401_token_exception import (
    Response401tokenException,
)
from fortisapi.http.http_method_enum import (
    HttpMethodEnum,
)
from fortisapi.models.response_async_status import (
    ResponseAsyncStatus,
)


class AsyncProcessingController(BaseController):
    """A Controller to access Endpoints in the fortisapi API."""

    def __init__(self, config):
        """Initialize AsyncProcessingController object."""
        super(AsyncProcessingController, self).__init__(config)

    def status_check(self,
                     status_code):
        """Perform a GET request to /v1/async/status/{status_code}.

        Retrieve the current status for a particular code.

        Args:
            status_code (uuid|str): A [UUID
                v4](https://datatracker.ietf.org/doc/html/rfc4122) that's
                unique for the Async Request

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/async/status/{status_code}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key("status_code")
                            .value(status_code)
                            .should_encode(True))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseAsyncStatus.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401tokenException),
        ).execute()
