# -*- coding: utf-8 -*-

"""
fortisapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from fortisapi.api_helper import APIHelper
from fortisapi.configuration import Server
from fortisapi.http.api_response import ApiResponse
from fortisapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from fortisapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from apimatic_core.authentication.multiple.and_auth_group import And
from fortisapi.models.response_declined_recurring_transaction import ResponseDeclinedRecurringTransaction
from fortisapi.models.response_declined_recurring_transactions_collection import ResponseDeclinedRecurringTransactionsCollection
from fortisapi.models.response_declined_recurring_transaction_payment import ResponseDeclinedRecurringTransactionPayment
from fortisapi.models.response_declined_recurring_transaction_resend import ResponseDeclinedRecurringTransactionResend
from fortisapi.exceptions.response_401_token_exception import Response401tokenException
from fortisapi.exceptions.response_412_exception import Response412Exception


class DeclinedRecurringTransactionsController(BaseController):

    """A Controller to access Endpoints in the fortisapi API."""
    def __init__(self, config):
        super(DeclinedRecurringTransactionsController, self).__init__(config)

    def get_one_declined_recurring_transaction(self,
                                               declined_recurring_transaction_id,
                                               expand=None):
        """Does a GET request to /v1/declined-recurring-transactions/{declined_recurring_transaction_id}.

        Args:
            declined_recurring_transaction_id (str): Id
            expand (List[Expand5Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/declined-recurring-transactions/{declined_recurring_transaction_id}')
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key('declined_recurring_transaction_id')
                            .value(declined_recurring_transaction_id)
                            .should_encode(True))
            .query_param(Parameter()
                         .key('expand')
                         .value(expand))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseDeclinedRecurringTransaction.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
        ).execute()

    def list_all_declined_recurring_transactions(self,
                                                 page=None,
                                                 order=None,
                                                 filter_by=None,
                                                 expand=None,
                                                 format=None,
                                                 typeahead=None,
                                                 fields=None):
        """Does a GET request to /v1/declined-recurring-transactions.

        Args:
            page (Page, optional): Use this field to specify paginate your
                results, by using page size and number. You can use one of the
                following methods: >/endpoint?page={ "number": 1, "size": 50 }
                > >/endpoint?page[number]=1&page[size]=50 >
            order (List[Order19], optional): Criteria used in query string
                parameters to order results.  Most fields from the endpoint
                results can be used as a `key`.  Unsupported fields or
                operators will return a `412`.  Must be encoded, or use syntax
                that does not require encoding.
                >/endpoint?order[0][key]=created_ts&order[0][operator]=asc >
                >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] >
                >/endpoint?order=[{ "key": "balance", "operator": "desc"},{
                "key": "created_ts", "operator": "asc"}] >
            filter_by (List[FilterBy], optional): Filter criteria that can be
                used in query string parameters.  Most fields from the
                endpoint results can be used as a `key`.  Unsupported fields
                or operators will return a `412`. Must be encoded, or use
                syntax that does not require encoding.
                >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_
                by[0][value]=Steve > >/endpoint?filter_by=[{ "key":
                "first_name", "operator": "=", "value": "Fred" }] >
                >/endpoint?filter_by=[{ "key": "account_type", "operator":
                "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key":
                "created_ts", "operator": ">=", "value": "946702799" }, {
                "key": "created_ts", "operator": "<=", value: "1695061891" }]
                > >/endpoint?filter_by=[{ "key": "last_name", "operator":
                "IN", "value": "Williams,Brown,Allman" }] >
            expand (List[Expand5Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.
            format (Format1Enum, optional): Reporting format, valid values:
                csv, tsv
            typeahead (str, optional): You can use any `field_name` from this
                endpoint results to order the list using the value provided as
                filter for the same `field_name`. It will be ordered using the
                following rules: 1) Exact match, 2) Starts with, 3) Contains.
            fields (List[Field28Enum], optional): You can use any `field_name`
                from this endpoint results to filter the list of fields
                returned on the response.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/declined-recurring-transactions')
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key('page')
                         .value(page))
            .query_param(Parameter()
                         .key('order')
                         .value(order))
            .query_param(Parameter()
                         .key('filter_by')
                         .value(filter_by))
            .query_param(Parameter()
                         .key('expand')
                         .value(expand))
            .query_param(Parameter()
                         .key('_format')
                         .value(format))
            .query_param(Parameter()
                         .key('_typeahead')
                         .value(typeahead))
            .query_param(Parameter()
                         .key('fields')
                         .value(fields))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseDeclinedRecurringTransactionsCollection.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
        ).execute()

    def create_a_payment(self,
                         body):
        """Does a POST request to /v1/declined-recurring-transaction-payments.

        Args:
            body (V1DeclinedRecurringTransactionPaymentsRequest): The request
                body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Created

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/declined-recurring-transaction-payments')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseDeclinedRecurringTransactionPayment.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
            .local_error('412', 'Precondition Failed', Response412Exception)
        ).execute()

    def rerun_the_transaction(self,
                              declined_recurring_transaction_id,
                              expand=None):
        """Does a POST request to /v1/declined-recurring-transactions/{declined_recurring_transaction_id}/rerun.

        Args:
            declined_recurring_transaction_id (str): Id
            expand (List[Expand5Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/declined-recurring-transactions/{declined_recurring_transaction_id}/rerun')
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                            .key('declined_recurring_transaction_id')
                            .value(declined_recurring_transaction_id)
                            .should_encode(True))
            .query_param(Parameter()
                         .key('expand')
                         .value(expand))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseDeclinedRecurringTransaction.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
        ).execute()

    def resend_the_transaction(self,
                               declined_recurring_transaction_id):
        """Does a POST request to /v1/declined-recurring-transactions/{declined_recurring_transaction_id}/resend.

        Args:
            declined_recurring_transaction_id (str): Id

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/declined-recurring-transactions/{declined_recurring_transaction_id}/resend')
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                            .key('declined_recurring_transaction_id')
                            .value(declined_recurring_transaction_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseDeclinedRecurringTransactionResend.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
        ).execute()
