# -*- coding: utf-8 -*-

"""
fortisapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from fortisapi.api_helper import APIHelper
from fortisapi.configuration import Server
from fortisapi.http.api_response import ApiResponse
from fortisapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from fortisapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from apimatic_core.authentication.multiple.and_auth_group import And
from fortisapi.models.response_fullboarding import ResponseFullboarding
from fortisapi.exceptions.response_401_token_exception import Response401tokenException
from fortisapi.exceptions.response_412_exception import Response412Exception


class FullBoardingController(BaseController):

    """A Controller to access Endpoints in the fortisapi API."""
    def __init__(self, config):
        super(FullBoardingController, self).__init__(config)

    def merchant_boarding_full(self,
                               body):
        """Does a POST request to /v1/fullboarding.

        This method is used to fully board a merchant to the platform. When
        using this method, you must provide data for each "Required" property.
        See the description for each of these properties for more information
        about their requirement criteria.

        Args:
            body (V1FullboardingRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Created

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/fullboarding')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseFullboarding.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
            .local_error('412', 'Precondition Failed', Response412Exception)
        ).execute()
