# -*- coding: utf-8 -*-

"""
fortisapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from fortisapi.api_helper import APIHelper
from fortisapi.configuration import Server
from fortisapi.http.api_response import ApiResponse
from fortisapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from fortisapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from apimatic_core.authentication.multiple.and_auth_group import And
from fortisapi.models.response_transaction_level_3_master import ResponseTransactionLevel3Master
from fortisapi.models.response_transaction_level_3_visa import ResponseTransactionLevel3Visa
from fortisapi.models.response_transaction_level_3 import ResponseTransactionLevel3
from fortisapi.exceptions.response_401_token_exception import Response401tokenException
from fortisapi.exceptions.response_412_exception import Response412Exception


class Level3DataController(BaseController):

    """A Controller to access Endpoints in the fortisapi API."""
    def __init__(self, config):
        super(Level3DataController, self).__init__(config)

    def create_a_new_level_3_entry_for_a_master_card(self,
                                                     transaction_id,
                                                     body):
        """Does a POST request to /v1/transactions/{transaction_id}/level3/master-card.

        Args:
            transaction_id (str): Transaction ID
            body (V1TransactionsLevel3MasterCardRequest): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/transactions/{transaction_id}/level3/master-card')
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                            .key('transaction_id')
                            .value(transaction_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseTransactionLevel3Master.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
            .local_error('412', 'Precondition Failed', Response412Exception)
        ).execute()

    def create_a_new_level_3_entry_for_a_visa(self,
                                              transaction_id,
                                              body):
        """Does a POST request to /v1/transactions/{transaction_id}/level3/visa.

        Args:
            transaction_id (str): Transaction ID
            body (V1TransactionsLevel3VisaRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/transactions/{transaction_id}/level3/visa')
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                            .key('transaction_id')
                            .value(transaction_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseTransactionLevel3Visa.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
            .local_error('412', 'Precondition Failed', Response412Exception)
        ).execute()

    def delete_a_single_level_3_record(self,
                                       transaction_id,
                                       level_3_id):
        """Does a DELETE request to /v1/transactions/{transaction_id}/level3/{level3_id}.

        Args:
            transaction_id (str): Transaction ID
            level_3_id (str): Level 3 ID

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/transactions/{transaction_id}/level3/{level3_id}')
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                            .key('transaction_id')
                            .value(transaction_id)
                            .should_encode(True))
            .template_param(Parameter()
                            .key('level3_id')
                            .value(level_3_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseTransactionLevel3.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
        ).execute()

    def view_single_level_3_record(self,
                                   transaction_id,
                                   level_3_id):
        """Does a GET request to /v1/transactions/{transaction_id}/level3/{level3_id}.

        Args:
            transaction_id (str): Transaction ID
            level_3_id (str): Level 3 ID

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/transactions/{transaction_id}/level3/{level3_id}')
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key('transaction_id')
                            .value(transaction_id)
                            .should_encode(True))
            .template_param(Parameter()
                            .key('level3_id')
                            .value(level_3_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseTransactionLevel3.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
        ).execute()
