"""fortisapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from fortisapi.api_helper import APIHelper
from fortisapi.configuration import Server
from fortisapi.controllers.base_controller import (
    BaseController,
)
from fortisapi.exceptions.response_401_token_exception import (
    Response401tokenException,
)
from fortisapi.http.http_method_enum import (
    HttpMethodEnum,
)
from fortisapi.models.response_location import (
    ResponseLocation,
)
from fortisapi.models.response_location_info import (
    ResponseLocationInfo,
)
from fortisapi.models.response_location_infos_collection import (
    ResponseLocationInfosCollection,
)
from fortisapi.models.response_location_searchs_collection import (
    ResponseLocationSearchsCollection,
)
from fortisapi.models.response_locations_collection import (
    ResponseLocationsCollection,
)


class LocationsController(BaseController):
    """A Controller to access Endpoints in the fortisapi API."""

    def __init__(self, config):
        """Initialize LocationsController object."""
        super(LocationsController, self).__init__(config)

    def locations_search(self,
                         page=None,
                         keyword=None):
        """Perform a GET request to /v1/location-searches.

        Args:
            page (Page, optional): Use this field to specify paginate your
                results, by using page size and number. You can use one of the
                following methods: >/endpoint?page={ "number": 1, "size": 50 }
                > >/endpoint?page[number]=1&page[size]=50 >
            keyword (str, optional): You can use any value to search on
                specific fields of this endpoint results. You can not specify
                the fields that are used.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/location-searches")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("page")
                         .value(page))
            .query_param(Parameter()
                         .key("keyword")
                         .value(keyword))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseLocationSearchsCollection.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401tokenException),
        ).execute()

    def list_all_locations(self,
                           page=None,
                           order=None,
                           filter_by=None,
                           expand=None,
                           format=None,
                           typeahead=None,
                           fields=None):
        """Perform a GET request to /v1/locations.

        Args:
            page (Page, optional): Use this field to specify paginate your
                results, by using page size and number. You can use one of the
                following methods: >/endpoint?page={ "number": 1, "size": 50 }
                > >/endpoint?page[number]=1&page[size]=50 >
            order (List[Order19], optional): Criteria used in query string
                parameters to order results.  Most fields from the endpoint
                results can be used as a `key`.  Unsupported fields or
                operators will return a `412`.  Must be encoded, or use syntax
                that does not require encoding.
                >/endpoint?order[0][key]=created_ts&order[0][operator]=asc >
                >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] >
                >/endpoint?order=[{ "key": "balance", "operator": "desc"},{
                "key": "created_ts", "operator": "asc"}] >
            filter_by (List[FilterBy], optional): Filter criteria that can be
                used in query string parameters.  Most fields from the
                endpoint results can be used as a `key`.  Unsupported fields
                or operators will return a `412`. Must be encoded, or use
                syntax that does not require encoding.
                >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_
                by[0][value]=Steve > >/endpoint?filter_by=[{ "key":
                "first_name", "operator": "=", "value": "Fred" }] >
                >/endpoint?filter_by=[{ "key": "account_type", "operator":
                "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key":
                "created_ts", "operator": ">=", "value": "946702799" }, {
                "key": "created_ts", "operator": "<=", value: "1695061891" }]
                > >/endpoint?filter_by=[{ "key": "last_name", "operator":
                "IN", "value": "Williams,Brown,Allman" }] >
            expand (List[Expand10Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.
            format (Format1Enum, optional): Reporting format, valid values:
                csv, tsv
            typeahead (str, optional): You can use any `field_name` from this
                endpoint results to order the list using the value provided as
                filter for the same `field_name`. It will be ordered using the
                following rules: 1) Exact match, 2) Starts with, 3) Contains.
            fields (List[Field31Enum], optional): You can use any `field_name`
                from this endpoint results to filter the list of fields
                returned on the response.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/locations")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("page")
                         .value(page))
            .query_param(Parameter()
                         .key("order")
                         .value(order))
            .query_param(Parameter()
                         .key("filter_by")
                         .value(filter_by))
            .query_param(Parameter()
                         .key("expand")
                         .value(expand))
            .query_param(Parameter()
                         .key("_format")
                         .value(format))
            .query_param(Parameter()
                         .key("_typeahead")
                         .value(typeahead))
            .query_param(Parameter()
                         .key("fields")
                         .value(fields))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseLocationsCollection.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401tokenException),
        ).execute()

    def locations_detail(self,
                         page=None,
                         order=None,
                         filter_by=None,
                         expand=None,
                         format=None,
                         typeahead=None,
                         fields=None,
                         product_transaction_active=None,
                         product_file_active=None,
                         product_invoice_active=None,
                         product_recurring_active=None,
                         product_accountvault_active=None):
        """Perform a GET request to /v1/locations/info.

        Args:
            page (Page, optional): Use this field to specify paginate your
                results, by using page size and number. You can use one of the
                following methods: >/endpoint?page={ "number": 1, "size": 50 }
                > >/endpoint?page[number]=1&page[size]=50 >
            order (List[Order19], optional): Criteria used in query string
                parameters to order results.  Most fields from the endpoint
                results can be used as a `key`.  Unsupported fields or
                operators will return a `412`.  Must be encoded, or use syntax
                that does not require encoding.
                >/endpoint?order[0][key]=created_ts&order[0][operator]=asc >
                >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] >
                >/endpoint?order=[{ "key": "balance", "operator": "desc"},{
                "key": "created_ts", "operator": "asc"}] >
            filter_by (List[FilterBy], optional): Filter criteria that can be
                used in query string parameters.  Most fields from the
                endpoint results can be used as a `key`.  Unsupported fields
                or operators will return a `412`. Must be encoded, or use
                syntax that does not require encoding.
                >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_
                by[0][value]=Steve > >/endpoint?filter_by=[{ "key":
                "first_name", "operator": "=", "value": "Fred" }] >
                >/endpoint?filter_by=[{ "key": "account_type", "operator":
                "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key":
                "created_ts", "operator": ">=", "value": "946702799" }, {
                "key": "created_ts", "operator": "<=", value: "1695061891" }]
                > >/endpoint?filter_by=[{ "key": "last_name", "operator":
                "IN", "value": "Williams,Brown,Allman" }] >
            expand (List[Expand10Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.
            format (Format1Enum, optional): Reporting format, valid values:
                csv, tsv
            typeahead (str, optional): You can use any `field_name` from this
                endpoint results to order the list using the value provided as
                filter for the same `field_name`. It will be ordered using the
                following rules: 1) Exact match, 2) Starts with, 3) Contains.
            fields (List[Field32Enum], optional): You can use any `field_name`
                from this endpoint results to filter the list of fields
                returned on the response.
            product_transaction_active (Any, optional): Product Transaction
                Active
            product_file_active (Any, optional): Product File Active
            product_invoice_active (Any, optional): Product Invoice Active
            product_recurring_active (Any, optional): Product Recurring Active
            product_accountvault_active (Any, optional): Product Accountvault
                Active

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/locations/info")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("page")
                         .value(page))
            .query_param(Parameter()
                         .key("order")
                         .value(order))
            .query_param(Parameter()
                         .key("filter_by")
                         .value(filter_by))
            .query_param(Parameter()
                         .key("expand")
                         .value(expand))
            .query_param(Parameter()
                         .key("_format")
                         .value(format))
            .query_param(Parameter()
                         .key("_typeahead")
                         .value(typeahead))
            .query_param(Parameter()
                         .key("fields")
                         .value(fields))
            .query_param(Parameter()
                         .key("product_transaction_active")
                         .value(product_transaction_active))
            .query_param(Parameter()
                         .key("product_file_active")
                         .value(product_file_active))
            .query_param(Parameter()
                         .key("product_invoice_active")
                         .value(product_invoice_active))
            .query_param(Parameter()
                         .key("product_recurring_active")
                         .value(product_recurring_active))
            .query_param(Parameter()
                         .key("product_accountvault_active")
                         .value(product_accountvault_active))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseLocationInfosCollection.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401tokenException),
        ).execute()

    def view_single_location_record(self,
                                    location_id,
                                    expand=None,
                                    fields=None):
        """Perform a GET request to /v1/locations/{location_id}.

        Args:
            location_id (str): Location ID
            expand (List[Expand10Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.
            fields (List[Field33Enum], optional): You can use any `field_name`
                from this endpoint results to filter the list of fields
                returned on the response.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/locations/{location_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key("location_id")
                            .value(location_id)
                            .should_encode(True))
            .query_param(Parameter()
                         .key("expand")
                         .value(expand))
            .query_param(Parameter()
                         .key("fields")
                         .value(fields))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseLocation.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401tokenException),
        ).execute()

    def location_detail(self,
                        location_id,
                        expand=None,
                        fields=None,
                        product_transaction_active=None,
                        product_file_active=None,
                        product_invoice_active=None,
                        product_recurring_active=None,
                        product_accountvault_active=None):
        """Perform a GET request to /v1/locations/{location_id}/info.

        Args:
            location_id (str): Location ID
            expand (List[Expand10Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.
            fields (List[Field34Enum], optional): You can use any `field_name`
                from this endpoint results to filter the list of fields
                returned on the response.
            product_transaction_active (Any, optional): Product Transaction
                Active
            product_file_active (Any, optional): Product File Active
            product_invoice_active (Any, optional): Product Invoice Active
            product_recurring_active (Any, optional): Product Recurring Active
            product_accountvault_active (Any, optional): Product Accountvault
                Active

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/locations/{location_id}/info")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key("location_id")
                            .value(location_id)
                            .should_encode(True))
            .query_param(Parameter()
                         .key("expand")
                         .value(expand))
            .query_param(Parameter()
                         .key("fields")
                         .value(fields))
            .query_param(Parameter()
                         .key("product_transaction_active")
                         .value(product_transaction_active))
            .query_param(Parameter()
                         .key("product_file_active")
                         .value(product_file_active))
            .query_param(Parameter()
                         .key("product_invoice_active")
                         .value(product_invoice_active))
            .query_param(Parameter()
                         .key("product_recurring_active")
                         .value(product_recurring_active))
            .query_param(Parameter()
                         .key("product_accountvault_active")
                         .value(product_accountvault_active))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseLocationInfo.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401tokenException),
        ).execute()
