"""fortisapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from fortisapi.api_helper import APIHelper
from fortisapi.configuration import Server
from fortisapi.controllers.base_controller import (
    BaseController,
)
from fortisapi.exceptions.response_401_token_exception import (
    Response401tokenException,
)
from fortisapi.exceptions.response_412_exception import (
    Response412Exception,
)
from fortisapi.http.http_method_enum import (
    HttpMethodEnum,
)
from fortisapi.models.response_onboarding import (
    ResponseOnboarding,
)


class OnBoardingController(BaseController):
    """A Controller to access Endpoints in the fortisapi API."""

    def __init__(self, config):
        """Initialize OnBoardingController object."""
        super(OnBoardingController, self).__init__(config)

    def merchant_boarding(self,
                          body):
        """Perform a POST request to /v1/onboarding.

        This method can be used to pre-populate data on the Merchant
        Processing Application (MPA), a form that prospective merchants must
        complete and sign prior to approval. Using this method will reduce the
        effort required by the merchant at boarding time, in scenarios where
        data about the prospective merchant has already been collected. This
        method will return an Application ID, which can be sent to a
        prospective merchant to obtain and complete the pre-filled application.
        Properties that are marked "Required" indicate the minimum required
        data for creating and saving an MPA. When using this method, you must
        provide data for each "Required" property, or you will not receive an
        Application ID. Properties that are marked "Required for completion"
        are those which need to be provided to Fortis before the Merchant
        Processing Application can be approved. These properties may be
        omitted or left blank when using this method, however, the merchant
        will be required to provide this data before the application can be
        submitted. Properties that are marked "Conditionally Required" may be
        required for completion of the Merchant Processing Application,
        depending on the values provided for other fields. See the description
        for each of these properties for more information about their
        requirement criteria.

        Args:
            body (V1OnboardingRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Created

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/onboarding")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseOnboarding.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401tokenException)
            .local_error("412", "Precondition Failed", Response412Exception),
        ).execute()
