# -*- coding: utf-8 -*-

"""
fortisapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from fortisapi.api_helper import APIHelper
from fortisapi.configuration import Server
from fortisapi.http.api_response import ApiResponse
from fortisapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from fortisapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from apimatic_core.authentication.multiple.and_auth_group import And
from fortisapi.models.response_recurring import ResponseRecurring
from fortisapi.models.response_recurrings_collection import ResponseRecurringsCollection
from fortisapi.exceptions.response_401_token_exception import Response401tokenException
from fortisapi.exceptions.response_412_exception import Response412Exception


class RecurringController(BaseController):

    """A Controller to access Endpoints in the fortisapi API."""
    def __init__(self, config):
        super(RecurringController, self).__init__(config)

    def create_a_new_recurring_record(self,
                                      body,
                                      expand=None):
        """Does a POST request to /v1/recurrings.

        Args:
            body (V1RecurringsRequest): The request body parameter.
            expand (List[Expand23Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. Created

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/recurrings')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .query_param(Parameter()
                         .key('expand')
                         .value(expand))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseRecurring.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
            .local_error('412', 'Precondition Failed', Response412Exception)
        ).execute()

    def list_all_recurring_record(self,
                                  page=None,
                                  order=None,
                                  filter_by=None,
                                  expand=None,
                                  format=None,
                                  typeahead=None,
                                  fields=None):
        """Does a GET request to /v1/recurrings.

        Args:
            page (Page, optional): Use this field to specify paginate your
                results, by using page size and number. You can use one of the
                following methods: >/endpoint?page={ "number": 1, "size": 50 }
                > >/endpoint?page[number]=1&page[size]=50 >
            order (List[Order19], optional): Criteria used in query string
                parameters to order results.  Most fields from the endpoint
                results can be used as a `key`.  Unsupported fields or
                operators will return a `412`.  Must be encoded, or use syntax
                that does not require encoding.
                >/endpoint?order[0][key]=created_ts&order[0][operator]=asc >
                >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] >
                >/endpoint?order=[{ "key": "balance", "operator": "desc"},{
                "key": "created_ts", "operator": "asc"}] >
            filter_by (List[FilterBy], optional): Filter criteria that can be
                used in query string parameters.  Most fields from the
                endpoint results can be used as a `key`.  Unsupported fields
                or operators will return a `412`. Must be encoded, or use
                syntax that does not require encoding.
                >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_
                by[0][value]=Steve > >/endpoint?filter_by=[{ "key":
                "first_name", "operator": "=", "value": "Fred" }] >
                >/endpoint?filter_by=[{ "key": "account_type", "operator":
                "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key":
                "created_ts", "operator": ">=", "value": "946702799" }, {
                "key": "created_ts", "operator": "<=", value: "1695061891" }]
                > >/endpoint?filter_by=[{ "key": "last_name", "operator":
                "IN", "value": "Williams,Brown,Allman" }] >
            expand (List[Expand23Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.
            format (Format1Enum, optional): Reporting format, valid values:
                csv, tsv
            typeahead (str, optional): You can use any `field_name` from this
                endpoint results to order the list using the value provided as
                filter for the same `field_name`. It will be ordered using the
                following rules: 1) Exact match, 2) Starts with, 3) Contains.
            fields (List[Field39Enum], optional): You can use any `field_name`
                from this endpoint results to filter the list of fields
                returned on the response.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/recurrings')
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key('page')
                         .value(page))
            .query_param(Parameter()
                         .key('order')
                         .value(order))
            .query_param(Parameter()
                         .key('filter_by')
                         .value(filter_by))
            .query_param(Parameter()
                         .key('expand')
                         .value(expand))
            .query_param(Parameter()
                         .key('_format')
                         .value(format))
            .query_param(Parameter()
                         .key('_typeahead')
                         .value(typeahead))
            .query_param(Parameter()
                         .key('fields')
                         .value(fields))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseRecurringsCollection.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
        ).execute()

    def delete_recurring_record(self,
                                recurring_id):
        """Does a DELETE request to /v1/recurrings/{recurring_id}.

        Args:
            recurring_id (str): Recurring ID

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. No Content

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/recurrings/{recurring_id}')
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                            .key('recurring_id')
                            .value(recurring_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseRecurring.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
        ).execute()

    def view_single_recurring_record(self,
                                     recurring_id,
                                     expand=None,
                                     fields=None):
        """Does a GET request to /v1/recurrings/{recurring_id}.

        Args:
            recurring_id (str): Recurring ID
            expand (List[Expand23Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.
            fields (List[Field39Enum], optional): You can use any `field_name`
                from this endpoint results to filter the list of fields
                returned on the response.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/recurrings/{recurring_id}')
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key('recurring_id')
                            .value(recurring_id)
                            .should_encode(True))
            .query_param(Parameter()
                         .key('expand')
                         .value(expand))
            .query_param(Parameter()
                         .key('fields')
                         .value(fields))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseRecurring.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
        ).execute()

    def update_recurring_payment(self,
                                 recurring_id,
                                 body,
                                 expand=None):
        """Does a PATCH request to /v1/recurrings/{recurring_id}.

        Args:
            recurring_id (str): Recurring ID
            body (V1RecurringsRequest1): The request body parameter.
            expand (List[Expand23Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/recurrings/{recurring_id}')
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                            .key('recurring_id')
                            .value(recurring_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .query_param(Parameter()
                         .key('expand')
                         .value(expand))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseRecurring.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
            .local_error('412', 'Precondition Failed', Response412Exception)
        ).execute()

    def activate_recurring_payment(self,
                                   recurring_id,
                                   expand=None):
        """Does a PUT request to /v1/recurrings/{recurring_id}/activate.

        Args:
            recurring_id (str): Recurring ID
            expand (List[Expand23Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/recurrings/{recurring_id}/activate')
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                            .key('recurring_id')
                            .value(recurring_id)
                            .should_encode(True))
            .query_param(Parameter()
                         .key('expand')
                         .value(expand))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseRecurring.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
        ).execute()

    def defer_recurring_payment(self,
                                recurring_id,
                                body,
                                expand=None):
        """Does a PATCH request to /v1/recurrings/{recurring_id}/defer-payment.

        Args:
            recurring_id (str): Recurring ID
            body (V1RecurringsDeferPaymentRequest): The request body parameter.
            expand (List[Expand23Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/recurrings/{recurring_id}/defer-payment')
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                            .key('recurring_id')
                            .value(recurring_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .query_param(Parameter()
                         .key('expand')
                         .value(expand))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseRecurring.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
            .local_error('412', 'Precondition Failed', Response412Exception)
        ).execute()

    def place_on_hold_recurring_payment(self,
                                        recurring_id,
                                        expand=None):
        """Does a PUT request to /v1/recurrings/{recurring_id}/place-on-hold.

        Args:
            recurring_id (str): Recurring ID
            expand (List[Expand23Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/recurrings/{recurring_id}/place-on-hold')
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                            .key('recurring_id')
                            .value(recurring_id)
                            .should_encode(True))
            .query_param(Parameter()
                         .key('expand')
                         .value(expand))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseRecurring.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
        ).execute()

    def skip_recurring_payment(self,
                               recurring_id,
                               body,
                               expand=None):
        """Does a PATCH request to /v1/recurrings/{recurring_id}/skip-payment.

        Args:
            recurring_id (str): Recurring ID
            body (V1RecurringsSkipPaymentRequest): The request body parameter.
            expand (List[Expand23Enum], optional): Most endpoints in the API
                have a way to retrieve extra data related to the current
                record being retrieved. For example, if the API request is for
                the accountvaults endpoint, and the end user also needs to
                know which contact the token belongs to, this data can be
                returned in the accountvaults endpoint request.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/v1/recurrings/{recurring_id}/skip-payment')
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                            .key('recurring_id')
                            .value(recurring_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .query_param(Parameter()
                         .key('expand')
                         .value(expand))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single('user-id'), Single('user-api-key'), Single('developer-id')))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseRecurring.from_dictionary)
            .is_api_response(True)
            .local_error('401', 'Unauthorized', Response401tokenException)
            .local_error('412', 'Precondition Failed', Response412Exception)
        ).execute()
