"""enterpriseapimerchantaccountcreated.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from enterpriseapimerchantaccountcreated.api_helper import (
    APIHelper,
)
from enterpriseapimerchantaccountcreated.configuration import (
    Server,
)
from enterpriseapimerchantaccountcreated.controllers.base_controller import (
    BaseController,
)
from enterpriseapimerchantaccountcreated.exceptions.error_response_exception import (
    ErrorResponseException,
)
from enterpriseapimerchantaccountcreated.http.http_method_enum import (
    HttpMethodEnum,
)
from enterpriseapimerchantaccountcreated.models.acknowledge_response import (
    AcknowledgeResponse,
)


class CompleteNotificationController(BaseController):
    """A Controller to access Endpoints in the enterpriseapimerchantaccountcreated API."""

    def __init__(self, config):
        """Initialize CompleteNotificationController object."""
        super(CompleteNotificationController, self).__init__(config)

    def acknowledge_notification(self,
                                 v_correlation_id,
                                 notification_id,
                                 body=None):
        """Perform a PATCH request to /{notificationId}/status.

        Complete an event notification with a success message or detailed
        error message in case of processing failure

        Args:
            v_correlation_id (uuid|str): Correlation Id
            notification_id (int): Notification ID
            body (AcknowledgeRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/{notificationId}/status")
            .http_method(HttpMethodEnum.PATCH)
            .header_param(Parameter()
                          .key("v-correlation-id")
                          .value(v_correlation_id))
            .template_param(Parameter()
                            .key("notificationId")
                            .value(notification_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key("Content-Type")
                          .value("application/json"))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("api_key")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AcknowledgeResponse.from_dictionary)
            .is_api_response(True)
            .local_error("default", "Default errors", ErrorResponseException),
        ).execute()
