"""optionalandnullable.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from optionalandnullable.api_helper import APIHelper
from optionalandnullable.configuration import (
    Server,
)
from optionalandnullable.controllers.base_controller import (
    BaseController,
)
from optionalandnullable.http.http_method_enum import (
    HttpMethodEnum,
)
from optionalandnullable.models.server_response import (
    ServerResponse,
)


class BodyController(BaseController):
    """A Controller to access Endpoints in the optionalandnullable API."""

    def __init__(self, config):
        """Initialize BodyController object."""
        super(BodyController, self).__init__(config)

    def create_send_child(self,
                          un_set,
                          set_to_null,
                          field,
                          child):
        """Perform a POST request to /optionalNullable/sendChild.

        Args:
            un_set (bool): The request query parameter.
            set_to_null (bool): The request query parameter.
            field (str): The request query parameter.
            child (ChildClass): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/optionalNullable/sendChild")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                .key("unSet")
                .value(un_set))
            .query_param(Parameter()
                .key("setToNull")
                .value(set_to_null))
            .query_param(Parameter()
                .key("field")
                .value(field))
            .body_param(Parameter()
                .value(child))
            .header_param(Parameter()
                .key("content-type")
                .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
