"""testerxmloneof.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from apimatic_core.types.xml_attributes import (
    XmlAttributes,
)

from testerxmloneof.api_helper import APIHelper
from testerxmloneof.configuration import Server
from testerxmloneof.controllers.base_controller import (
    BaseController,
)
from testerxmloneof.http.http_method_enum import (
    HttpMethodEnum,
)
from testerxmloneof.models.cat_or_dog import (
    CatOrDog,
)
from testerxmloneof.utilities.xml_utilities import (
    XmlUtilities,
)


class OneofXmlModelController(BaseController):
    """A Controller to access Endpoints in the testerxmloneof API."""

    def __init__(self, config):
        """Initialize OneofXmlModelController object."""
        super(OneofXmlModelController, self).__init__(config)

    def generate(self):
        """Perform a GET request to /oneof/catordog/cat.

        This endpoint returns a 'CatOrDog' model as xml.

        Returns:
            CatOrDog: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/oneof/catordog/cat")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/xml")),
        ).response(
            ResponseHandler()
            .deserializer(XmlUtilities.deserialize_xml)
            .deserialize_into(CatOrDog)
            .is_xml_response(True),
        ).execute()

    def validate(self,
                 body):
        """Perform a POST request to /oneof/catordog/cat.

        This endpoint expects a 'CatOrDog' model as xml.

        Args:
            body (CatOrDog): The request body parameter.

        Returns:
            Any: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/oneof/catordog/cat")
            .http_method(HttpMethodEnum.POST)
            .xml_attributes(XmlAttributes()
                .value(body)
                .root_element_name("CatOrDog"))
            .header_param(Parameter()
                .key("content-type")
                .value("application/xml; charset=utf-8"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(XmlUtilities.serialize_to_xml),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize),
        ).execute()

    def generate_1(self):
        """Perform a GET request to /oneof/catordog/dog.

        This endpoint returns a 'CatOrDog' model as xml.

        Returns:
            CatOrDog: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/oneof/catordog/dog")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/xml")),
        ).response(
            ResponseHandler()
            .deserializer(XmlUtilities.deserialize_xml)
            .deserialize_into(CatOrDog)
            .is_xml_response(True),
        ).execute()

    def validate_1(self,
                   body):
        """Perform a POST request to /oneof/catordog/dog.

        This endpoint expects a 'CatOrDog' model as xml.

        Args:
            body (CatOrDog): The request body parameter.

        Returns:
            Any: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/oneof/catordog/dog")
            .http_method(HttpMethodEnum.POST)
            .xml_attributes(XmlAttributes()
                .value(body)
                .root_element_name("CatOrDog"))
            .header_param(Parameter()
                .key("content-type")
                .value("application/xml; charset=utf-8"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(XmlUtilities.serialize_to_xml),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize),
        ).execute()
