"""testerxmloneof.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from apimatic_core.types.xml_attributes import (
    XmlAttributes,
)

from testerxmloneof.api_helper import APIHelper
from testerxmloneof.configuration import Server
from testerxmloneof.controllers.base_controller import (
    BaseController,
)
from testerxmloneof.http.http_method_enum import (
    HttpMethodEnum,
)
from testerxmloneof.models.cat import Cat
from testerxmloneof.models.dog import Dog
from testerxmloneof.utilities.xml_utilities import (
    XmlUtilities,
)


class SimpleXmlModelController(BaseController):
    """A Controller to access Endpoints in the testerxmloneof API."""

    def __init__(self, config):
        """Initialize SimpleXmlModelController object."""
        super(SimpleXmlModelController, self).__init__(config)

    def generate(self):
        """Perform a GET request to /oneof/cat.

         This endpoint returns a cat model in xml

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/oneof/cat")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("accept")
                          .value("application/xml")),
        ).response(
            ResponseHandler()
            .deserializer(XmlUtilities.deserialize_xml)
            .deserialize_into(Cat)
            .is_xml_response(True)
            .is_api_response(True),
        ).execute()

    def validate(self,
                 body):
        """Perform a POST request to /oneof/cat.

        This endpoint expects a 'Cat' model as xml.

        Args:
            body (Cat): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/oneof/cat")
            .http_method(HttpMethodEnum.POST)
            .xml_attributes(XmlAttributes()
                            .value(body)
                            .root_element_name("Cat"))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/xml; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(XmlUtilities.serialize_to_xml),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()

    def generate_1(self):
        """Perform a GET request to /oneof/dog.

        This endpoint returns a 'Dog' model as xml.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/oneof/dog")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key("accept")
                          .value("application/xml")),
        ).response(
            ResponseHandler()
            .deserializer(XmlUtilities.deserialize_xml)
            .deserialize_into(Dog)
            .is_xml_response(True)
            .is_api_response(True),
        ).execute()

    def validate_1(self,
                   body):
        """Perform a POST request to /oneof/dog.

        This endpoint expects a 'Dog' model as xml.

        Args:
            body (Dog): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/oneof/dog")
            .http_method(HttpMethodEnum.POST)
            .xml_attributes(XmlAttributes()
                            .value(body)
                            .root_element_name("Dog"))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/xml; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(XmlUtilities.serialize_to_xml),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.dynamic_deserialize)
            .is_api_response(True),
        ).execute()
