"""plainarrayserialization.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.array_serialization_format import (
    SerializationFormats,
)
from apimatic_core.types.parameter import Parameter

from plainarrayserialization.api_helper import (
    APIHelper,
)
from plainarrayserialization.configuration import (
    Server,
)
from plainarrayserialization.controllers.base_controller import (
    BaseController,
)
from plainarrayserialization.http.http_method_enum import (
    HttpMethodEnum,
)
from plainarrayserialization.models.server_response import (
    ServerResponse,
)


class PlainController(BaseController):
    """A Controller to access Endpoints in the plainarrayserialization API."""

    def __init__(self, config):
        """Initialize PlainController object."""
        super(PlainController, self).__init__(config)

    def create_plain_form(self,
                          model):
        """Perform a POST request to /form/Plain.

        Args:
            model (Employee): The request form parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/form/Plain")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                        .key("model")
                        .value(model))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.PLAIN),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_plain_query(self,
                        query_param):
        """Perform a GET request to /query/Plain.

        Args:
            query_param (List[str]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/Plain")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key("queryParam")
                         .value(query_param))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.PLAIN),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_string_array_in_model_form(self,
                                               body):
        """Perform a POST request to /form/PlainWithString.

        Args:
            body (Model): The request form parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/form/PlainWithString")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                        .key("body")
                        .value(body))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.PLAIN),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_plain_body(self,
                          model):
        """Perform a POST request to /body/Plain.

        Args:
            model (Employee): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/body/Plain")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                        .value(model))
            .header_param(Parameter()
                          .key("content-type")
                          .value("application/json; charset=utf-8"))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_plain_complex_type_in_query(self,
                                                complex_type):
        """Perform a POST request to /query/complex/plain.

        Args:
            complex_type (ComplexType): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/complex/plain")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                         .key("content")
                         .value("SIMPLE"))
            .query_param(Parameter()
                         .key("complexType")
                         .value(complex_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.PLAIN),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_plain_list_of_complex_type_in_query(self,
                                                        complex_type):
        """Perform a POST request to /query/complex/plain.

        Args:
            complex_type (List[ComplexType]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/complex/plain")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                         .key("content")
                         .value("ARRAY"))
            .query_param(Parameter()
                         .key("complexType")
                         .value(complex_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.PLAIN),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_send_plain_map_of_complex_type_in_query(self,
                                                       complex_type):
        """Perform a POST request to /query/complex/plain.

        Args:
            complex_type (Dict[str, ComplexType]): The request query parameter.

        Returns:
            ApiResponse: An object with the response value as well as other
                useful information such as status codes and headers.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/query/complex/plain")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                         .key("content")
                         .value("MAP"))
            .query_param(Parameter()
                         .key("complexType")
                         .value(complex_type))
            .header_param(Parameter()
                          .key("accept")
                          .value("application/json"))
            .array_serialization_format(SerializationFormats.PLAIN),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
